<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="YouXuanMapper">
	
	<!-- 新增一元商品-->
	<insert id="saveGoods" parameterType="pd">
		insert into tb_youxuangoods(
			 youxuangoods_id,
			 thistype_id,
			 city_file_id,
			 youxuandq_id,
			 bianji_type,
			 bianji_money,
			 goods_status,
			 shangjia_money,
			 store_id,
			 brand_name,
			 goods_name,
			 image_url,
			 rc_salemoney,
			 gf_salemoney,
			 goods_dw,
			 bp_salemoney,
			 goods_zkrate,
			 istongkuan,
			 ws_salemoney,
			 goods_jfrate,
 			 isxiangou,
			 xiangou_number,
			 th_address,
			 small_images,
			 big_images,
			 createtime,
			 storeoprator_id,
			 zhihuioprator_id,
			 limit_day
		) values (
			 #{youxuangoods_id},
			 #{thistype_id},
			 #{city_file_id},
			 #{youxuandq_id},
			 #{bianji_type},
			 #{bianji_money},
			 #{goods_status},
			 #{shangjia_money},
			 #{store_id},
			 #{brand_name},
			 #{goods_name},
			 #{image_url},
			 #{rc_salemoney},
			 #{gf_salemoney},
			 #{goods_dw},
			 #{bp_salemoney},
			 #{goods_zkrate},
			 #{istongkuan},
			 #{ws_salemoney},
			 #{goods_jfrate},
 			 #{isxiangou},
			 #{xiangou_number},
			 #{th_address},
			 #{small_images},
			 #{big_images},
			 now(),
			 #{storeoprator_id},
			 #{zhihuioprator_id},
			 #{limit_day}
		)
	</insert>
	
 
	
	<!-- 修改商品信息 魏汉文-->
	<update id="editGoods" parameterType="pd">
			update  tb_youxuangoods
			set 
				<if test=" city_file_id != null and city_file_id != '' ">city_file_id = #{city_file_id},</if>
				<if test=" youxuandq_id != null and youxuandq_id != '' ">youxuandq_id = #{youxuandq_id},</if>
				<if test=" bianji_type != null and bianji_type != '' ">bianji_type = #{bianji_type},</if>
				<if test=" bianji_money != null and bianji_money != '' ">bianji_money = #{bianji_money},</if>
				<if test=" store_id != null and store_id != '' ">store_id = #{store_id},</if>
				<if test=" brand_name != null and brand_name != '' ">brand_name = #{brand_name},</if>
				<if test=" goods_name != null and goods_name != '' ">goods_name = #{goods_name},</if>
				<if test=" image_url != null and image_url != '' ">image_url = #{image_url},</if>
				<if test=" rc_salemoney != null and rc_salemoney != '' ">rc_salemoney = #{rc_salemoney},</if>
				<if test=" gf_salemoney != null and gf_salemoney != '' ">gf_salemoney = #{gf_salemoney},</if>
				<if test=" goods_dw != null and goods_dw != '' ">goods_dw = #{goods_dw},</if>
				<if test=" bp_salemoney != null and bp_salemoney != '' ">bp_salemoney = #{bp_salemoney},</if>
				<if test=" goods_zkrate != null and goods_zkrate != '' ">goods_zkrate = #{goods_zkrate},</if>
				<if test=" limit_day != null and limit_day != '' ">limit_day = #{limit_day},</if>
				<if test=" istongkuan != null and istongkuan != '' ">istongkuan = #{istongkuan},</if>
				<if test=" ws_salemoney != null and ws_salemoney != '' ">ws_salemoney = #{ws_salemoney},</if>
				<if test=" goods_jfrate != null and goods_jfrate != '' ">goods_jfrate = #{goods_jfrate},</if>
 				<if test=" isxiangou != null and isxiangou != '' ">isxiangou = #{isxiangou},</if>
				<if test=" xiangou_number != null and xiangou_number != '' ">xiangou_number = #{xiangou_number},</if>
				<if test=" th_address != null and th_address != '' ">th_address = #{th_address},</if>
				<if test=" small_images != null and small_images != '' ">small_images = #{small_images},</if>
				<if test=" big_images != null and big_images != '' ">big_images = #{big_images},</if>
				<if test=" storeoprator_id != null and storeoprator_id != '' ">storeoprator_id = #{storeoprator_id},</if>
				<if test=" zhihuioprator_id != null and zhihuioprator_id != '' ">zhihuioprator_id = #{zhihuioprator_id},</if>
				<if test=" goods_status != null and goods_status != '' ">
					goods_status = #{goods_status},
					<if test="goods_status =='2'.toString()">paytime=now(),</if>
				</if>
				<if test=" beizhu_text != null and beizhu_text != '' ">beizhu_text = #{beizhu_text},</if>
				<if test=" tuisong_number != null and tuisong_number != '' ">tuisong_number =tuisong_number+1,</if>
   				youxuangoods_id = youxuangoods_id
			where 
				youxuangoods_id = #{youxuangoods_id}
	</update>
		
	<!-- 修改档期的商品状态商品信息 魏汉文-->
	<update id="editGoodsForDq" parameterType="pd">
			update  tb_youxuangoods
			set 
				goods_status = #{goods_status} 
 			where 
				youxuandq_id = #{youxuandq_id}
				and city_file_id=#{city_file_id} 
	</update>
		
	<!-- 修改档期的商品销售信息 魏汉文-->
	<update id="editGoodsAllSale" parameterType="pd">
			update  tb_youxuangoods a
			set 
				a.allsalemoney = ( 
								select cast( sum(c.nowsale_money) as DECIMAL(10,2) )   from tb_youxuangg c  where a.youxuangoods_id=c.youxuangoods_id and c.deletestatus='0'
							   ) ,
				a.allsalenumber = ( 
								select cast( sum(c.nowsale_number) as SIGNED)   from tb_youxuangg c  where a.youxuangoods_id=c.youxuangoods_id and c.deletestatus='0'
							   ) ,
				a.youxuangoods_id=youxuangoods_id
			where 
				1=1
				<if test="youxuangoods_id != null and youxuangoods_id != ''"> 
					and  a.youxuangoods_id=#{youxuangoods_id}
	  			</if>
  	</update>
  	 
  	 <!-- 商品详情的所有参数 -->
  	 <sql id="youxuantongyong">
 			a.youxuangoods_id,
			a.city_file_id,
			a.youxuandq_id,
			a.bianji_type,
 			a.goods_status,
 			a.store_id,
			a.brand_name,
			a.goods_name,
			a.image_url,
  			ifnull(a.goods_dw,'件') as goods_dw,
  			a.istongkuan,
    		ifnull(a.bianji_money,'0') as bianji_money,
    		ifnull(a.shangjia_money,'0') as shangjia_money,
    		ifnull(a.ws_salemoney,'0') as ws_salemoney,
   			ifnull(a.gf_salemoney,'0') as gf_salemoney,
   			ifnull(a.rc_salemoney,'0') as rc_salemoney,
   			ifnull(a.bp_salemoney,'0') as bp_salemoney,
			ifnull(a.goods_zkrate,'0') as goods_zkrate,
			ifnull(a.goods_jfrate,'0') as goods_jfrate,
			ifnull(a.limit_day,'30') as limit_day,
			ifnull(a.isxiangou,'0') as isxiangou,
			ifnull(a.xiangou_number,'100') as xiangou_number,
			ifnull(a.th_address,'') as th_address,
 			ifnull(a.small_images,'') small_images,
			ifnull(a.big_images,'') big_images,
 			date_format(a.createtime,	'%Y-%m-%d %H:%i:%s') as createtime,
 			date_format(a.paytime,	'%Y-%m-%d %H:%i:%s') as paytime,
 			a.storeoprator_id,
			a.zhihuioprator_id,
			ifnull(a.beizhu_text,'') as beizhu_text,
 			a.thistype_id,
			ifnull(a.allsalemoney,'0') as allsalemoney,
			ifnull(a.allsalenumber,'0') as allsalenumber,
			ifnull(a.tuisong_number,'0') as tuisong_number
     </sql>
  	
	<!-- 获取商品详情 魏汉文-->
	<select id="findByIdGoods" parameterType="pd" resultType="pd">
		select 
 			 b.store_name,
			 b.province_name,
			 b.city_name,
			 b.area_name,
			 b.address,
			 c.pictrue_url,
			 <include refid="youxuantongyong"/>
		from 
			tb_youxuangoods a 
			left join tb_store_file b on a.store_id=b.store_id
			left join tb_store c on a.store_id=c.store_id
 		where 
			a.youxuangoods_id = #{youxuangoods_id}
  	</select>
  	
  	<!-- 通用sql语句 -->
  	<sql id="YouxuanSql">
  				<if test="pd.content != null and pd.content != ''"> 
				and  (a.goods_name like concat(concat("%",#{pd.content}),"%")
				     or
				     b.store_name like concat(concat("%",#{pd.content}),"%"))
  				</if>
  				<!-- 0-商品提交待审核，1-等待商家支付编辑费用，2-审核通过，4-正在销售，97-驳回，98-库存已售完，99-已结束 -->
  				<choose>
  					<when test="pd.goods_check == '0'.toString()">and a.goods_status in ('0','97')</when>
  					<when test="pd.goods_check == '1'.toString()">and a.goods_status in ('1')</when>
  					<when test="pd.goods_check == '2'.toString()">and a.goods_status in ('2','4','99','98')</when>
  				</choose>
  				<if test="pd.store_id != null and pd.store_id != ''">
 				and a.store_id=#{pd.store_id}
  				</if>
  				<if test="pd.city_file_id != null and pd.city_file_id != ''"> 
					and  a.city_file_id =#{pd.city_file_id}
	  			</if>
  				<if test="pd.youxuandq_id != null and pd.youxuandq_id != ''"> 
					and  a.youxuandq_id =#{pd.youxuandq_id}
	  			</if>
  				<if test="pd.bianji_type != null and pd.bianji_type != ''"> 
					and  a.bianji_type =#{pd.bianji_type}
	  			</if>
	  		    <if test="pd.startdate != null and pd.startdate!= ''"><!-- 开始时间-->
						and date_format(a.paytime,'%Y-%m-%d') &gt;= #{pd.startdate} 
		 		</if>
				<if test="pd.enddate != null and pd.enddate!= ''"><!-- 结束时间 -->
						and date_format(a.paytime,'%Y-%m-%d') &lt;= #{pd.enddate} 
		 		</if>
  	
  	</sql>
	
	
	<!-- 分页列表商品 魏汉文2016.6.12-->
	<select id="datalistPageGoods" parameterType="page" resultType="pd">
		select 
  			 b.store_name,
			 <include refid="youxuantongyong"/>
		from 
			tb_youxuangoods a 
			left join tb_store b on a.store_id=b.store_id
 		where 
				1=1
				<include refid="YouxuanSql"></include>
    		order by a.youxuangoods_id desc
	</select>
	
	<!-- 统计当前页的商品费用-->
	<select id="sumNowPageGoods" parameterType="page" resultType="pd">
		select 
 			 cast(sum(f.bianji_money) as decimal(10,2)) as sumbianji_money 
 		from 
			(
				select 
		 			 a.bianji_money
		 		from 
					tb_youxuangoods a 
					left join tb_store b on a.store_id=b.store_id
		 		where 
						1=1
						<include refid="YouxuanSql"></include>
		   		order by a.youxuangoods_id desc
		   		limit #{pd.nowpage},10
			 ) as f
	</select>
	
	<!-- 统计所有商品费用-->
	<select id="sumallGoods" parameterType="page" resultType="pd">
		select 
 			 cast(sum(f.bianji_money) as decimal(10,2)) as sumbianji_money 
 		from 
			(
				select 
		 			 a.bianji_money
		 		from 
					tb_youxuangoods a 
					left join tb_store b on a.store_id=b.store_id
		 		where 
						1=1
						<include refid="YouxuanSql"/>
		   		order by a.youxuangoods_id desc
 			 ) as f
	</select>
  	
	<!-- 所有的优选商品 魏汉文2016.6.12-->
	<select id="listAll" parameterType="pd" resultType="pd">
		select 
			 <include refid="youxuantongyong"/>
		from 
			 tb_youxuangoods a
		where  
				1=1
 				<if test="goods_status != null and goods_status != ''">
 				and a.goods_status=#{goods_status}
  				</if>
   		order by a.youxuangoods_id desc
	</select>
	<!-- 获取最大的maxID-->
	<select id="getMaxId"  resultType="String">
		select 
			 max(youxuangoods_id)
 		from 
			 tb_youxuangoods 
		where
			city_file_id=#{city_file_id}
 	</select>
 	<!-- 获取当前商品的揭晓进度   -->
	<select id="jxjdByGoods" parameterType="pd" resultType="String">
		select 
		    cast( (ifnull(cast(sum(a.nowsale_number)/sum(a.gudingsale_number) as char),'0'))*100 as decimal(10) ) as jxjd
		from 
			 tb_youxuangg a
		where  
			a.youxuangoods_id=#{youxuangoods_id} and a.deletestatus='0'
 	</select>
	
	<!--                商品规格                                        --> 
	<!-- 新增规格-->
	<insert id="saveGoodsgg" parameterType="pd">
		insert into tb_youxuangg(
			 youxuangoods_id,
			 gg_imageurl,
			 gg_miaosu,
			 sale_money,
			 gudingsale_number,
 			 needsale_number 
		) values (
			 #{youxuangoods_id},
			 #{gg_imageurl},
			 #{gg_miaosu},
			 #{sale_money},
			 #{gudingsale_number},
			 #{needsale_number} 
 		)
	</insert>
	
	<!-- 删除规格 -->
	<update id="deletegg" parameterType="pd">
		update  tb_youxuangg
		set deletestatus = '1'
		where youxuangg_id=#{youxuangg_id}
	</update>
	
	<!-- 修改购买规格的数量以及金钱 -->
	<update id="editGoodsgg" parameterType="pd">
		 update tb_youxuangg
		 set
		 	<if test="gg_miaosu != null and gg_miaosu != ''">
		 		gg_miaosu= #{gg_miaosu},
 		 	</if>
 		 	<if test="gg_imageurl != null and gg_imageurl != ''">
		 		gg_imageurl= #{gg_imageurl},
 		 	</if>
		 	<if test="sale_money != null and sale_money != ''">
		 		sale_money= #{sale_money},
 		 	</if>
		 	<if test="needsale_number != null and needsale_number != ''">
		 		needsale_number= #{needsale_number},
  		 	</if>
		 	<if test="gudingsale_number != null and gudingsale_number != ''">
		 		gudingsale_number= #{gudingsale_number},
  		 	</if>
		 	youxuangg_id=youxuangg_id
		 where 
		 	youxuangg_id=#{youxuangg_id}
	</update>
	
	<!-- 规格详情  -->
	<select id="finddetailgg" parameterType="pd" resultType="pd">
		select 
			 a.*,
			 b.store_id,
			 b.isxiangou,
 			 ifnull(b.goods_zkrate,'0') goods_zkrate, 
			 ifnull(b.goods_jfrate,'0') goods_jfrate, 
			 ifnull(b.image_url,'') image_url, 
 			 ifnull(b.gf_salemoney,'0') as gf_salemoney,
			 ifnull(b.th_address,'') as th_address,
			 ifnull(b.brand_name,'') as brand_name,
			 ifnull(b.goods_name,'') as goods_name,
			 ifnull(b.xiangou_number,'0') as xiangou_number,
			 ifnull(b.limit_day,'30') as limit_day,
			 cast(concat(c.enddate," ", c.opentime) as char) as dqendtime
		from 
			 tb_youxuangg a
			 left join tb_youxuangoods b on a.youxuangoods_id=b.youxuangoods_id
			 left join tb_youxuandq c on b.youxuandq_id=c.youxuandq_id and b.city_file_id=c.city_file_id
		where  
			a.youxuangg_id=#{youxuangg_id}
 	</select>
 	
 	<!-- 规格的判断查询 -->
 	<sql id="youxuanggwhere">
 			and a.deletestatus='0'
 			and b.goods_status not in('0','1','97')
 			<if test="pd.content != null and pd.content != ''"> 
				and  (
					 b.goods_name like concat(concat("%",#{pd.content}),"%")
				     or
				     c.store_name like concat(concat("%",#{pd.content}),"%")
				     )
  			</if>
  			<if test="pd.youxuandq_id != null and pd.youxuandq_id != ''"> 
				and  b.youxuandq_id =#{pd.youxuandq_id}
  			</if>
  			<if test="pd.city_file_id != null and pd.city_file_id != ''"> 
				and  b.city_file_id =#{pd.city_file_id}
  			</if>
  			<if test="pd.store_id != null and pd.store_id!= ''"> 
				and  b.store_id =#{pd.store_id}
  			</if>
  		<choose>
  			<when test="pd.paixu_number =='1'.toString()" >order by cast(a.nowsale_number as SIGNED)  desc </when>
  			<when test="pd.paixu_number =='2'.toString()" >order by cast(a.nowsale_number as SIGNED)   </when>
  			<when test="pd.paixu_number =='3'.toString()" >order by cast(a.nowsale_money as DECIMAL(10,2)) desc </when>
  			<when test="pd.paixu_number =='4'.toString()" >order by cast(a.nowsale_money as DECIMAL(10,2))   </when>
  			<otherwise>order by b.createtime desc</otherwise>
  		</choose>
 	</sql>
	
	<!-- 列表商品规格列表 魏汉文2016.6.12-->
	<select id="datalistPageGoodsgg" parameterType="page" resultType="pd">
		select 
			 a.youxuangg_id,
			 a.gg_imageurl,
			 a.youxuangoods_id,
			 a.gg_miaosu,
			 ifnull( a.sale_money,'0') sale_money ,
 			 a.needsale_number,
 			 a.gudingsale_number,
			 ifnull( a.nowsale_number,'0') nowsale_number ,
			 ifnull( a.nowsale_money,'0') nowsale_money ,
			 cast( (a.nowsale_money*b.goods_jfrate)/100 as decimal(10,2) )  as  member_jf,
 			 cast( (a.nowsale_money*b.goods_jfrate)/100*0.35 as decimal(10,2) )  as  xt_jf ,
 			 b.goods_name,
 			 b.image_url,
			 b.goods_jfrate,
 			 b.youxuandq_id,
 			 b.city_file_id,
 			 date_format(b.createtime,	'%Y-%m-%d %H:%i:%s') as createtime,
 			 date_format(b.paytime,	'%Y-%m-%d %H:%i:%s') as paytime,
  			 c.store_name,
 			 c.store_id
 		from 
			 tb_youxuangg a 
			 left join tb_youxuangoods b on a.youxuangoods_id=b.youxuangoods_id
			 left join tb_store c on b.store_id=c.store_id
    	where
    		1=1
    		<include refid="youxuanggwhere" />
 	</select>
 	
 	<!-- 统计当前页的商品数字总和-->
	<select id="sumNowPageGoodsgg" parameterType="page" resultType="pd">
		select 
  			 sum(cast(f.sale_money as decimal(10,2) )) as sumsale_money,
 			 sum(cast(f.needsale_number as decimal(10) )) as sumneedsale_number,
 			 sum(cast(f.nowsale_number as decimal(10) )) as sumnowsale_number,
 			 sum(cast(f.nowsale_money as decimal(10,2) )) as sumnowsale_money,
  		 	 sum(cast( (f.nowsale_money*f.goods_jfrate)/100 as decimal(10,2) )) as  summember_jf ,
 			 sum(cast( (f.nowsale_money*f.goods_jfrate)/100*0.35 as decimal(10,2) ) ) as   sumxt_jf 
 		from 
			 (
			 	select 
 					 ifnull( a.sale_money,'0') sale_money ,
 		 			 a.needsale_number,
		 			 a.gudingsale_number,
					 ifnull( a.nowsale_number,'0') nowsale_number ,
					 ifnull( a.nowsale_money,'0') nowsale_money , 
					 b.goods_jfrate 
		 			 
 		 		from 
					 tb_youxuangg a 
					 left join tb_youxuangoods b on a.youxuangoods_id=b.youxuangoods_id
					 left join tb_store c on b.store_id=c.store_id
		    	where
		    		1=1
		    		<include refid="youxuanggwhere" />
		  		limit #{pd.nowpage},10 
			 ) as f
 	</select>
	
	<!-- 统计所有的商品数字总和-->
	<select id="sumallGoodsgg" parameterType="page" resultType="pd">
		select 
  			 sum(cast(f.sale_money as decimal(10,2) )) as sumsale_money,
 			 sum(cast(f.needsale_number as decimal(10) )) as sumneedsale_number,
 			 sum(cast(f.nowsale_number as decimal(10) )) as sumnowsale_number,
 			 sum(cast(f.nowsale_money as decimal(10,2) )) as sumnowsale_money,
  		 	 sum(cast( (f.nowsale_money*f.goods_jfrate)/100 as decimal(10,2) )) as  summember_jf ,
 			 sum(cast( (f.nowsale_money*f.goods_jfrate)/100*0.35 as decimal(10,2) ) ) as   sumxt_jf 
 		from 
			 (
			 	select 
 					 ifnull( a.sale_money,'0') sale_money ,
 		 			 a.needsale_number,
		 			 a.gudingsale_number,
					 ifnull( a.nowsale_number,'0') nowsale_number ,
					 ifnull( a.nowsale_money,'0') nowsale_money , 
					 b.goods_jfrate 
		 			 
 		 		from 
					 tb_youxuangg a 
					 left join tb_youxuangoods b on a.youxuangoods_id=b.youxuangoods_id
					 left join tb_store c on b.store_id=c.store_id
		    	where
		    		1=1
		    		<include refid="youxuanggwhere" />
 			 ) as f
 	</select>
	
	
	<!-- 所有的规格  -->
	<select id="listAllGoodsgg" parameterType="pd" resultType="pd">
		select 
			 a.youxuangg_id,
			 a.gg_imageurl,
			 a.youxuangoods_id,
			 a.gg_miaosu,
			 a.sale_money,
			 a.gudingsale_number,
			 a.needsale_number,
			 a.nowsale_number, 
 			 a.nowsale_money 
		from 
			 tb_youxuangg a
		where  
			a.youxuangoods_id=#{youxuangoods_id}
			and a.deletestatus='0'
  	</select>
 	
 		
	<!-- 购物车到期更新购买商品数量以及金额  -->
	<update id="updateYouXuanGoodsBuyNumber" parameterType="pd">
		update tb_youxuangg
		set 
			<if test="goods_number != null and goods_number != ''">
				needsale_number=needsale_number+#{goods_number},<!-- 直接加减库存（买的商品等与库存加上已买的件数） -->
			</if>
			<if test="ok_number != null and ok_number != ''">
				nowsale_money=cast( nowsale_money+#{ok_number}*sale_money as decimal(10,2) ),<!-- 销售金额 -->
				nowsale_number=nowsale_number+#{ok_number},<!-- 销售数量 -->
			</if>
 		    youxuangg_id=youxuangg_id
		where youxuangg_id=#{youxuangg_id} 
	</update>
	
		<!-- 当前商品的剩余库存,剩下出售的商品数量  -->
	<select id="lesssale_number" parameterType="pd" resultType="Integer">
		select 
			cast(ifnull(cast(sum(a.needsale_number) as char) ,'0')  as signed )
		from 
			 tb_youxuangg a
		where  
			a.youxuangoods_id=#{youxuangoods_id} and a.deletestatus='0'
 	</select>
	
		<!-- 当前商品的单价最大值  -->
	<select id="maxSaleMoney" parameterType="pd" resultType="Double">
		select 
			max(cast(a.sale_money as decimal(10,2) ) ) as maxsale_money
		from 
			 tb_youxuangg a
		where  
			a.youxuangoods_id=#{youxuangoods_id} and a.deletestatus='0'
 	</select>
	
		<!-- 当前商品的单价最小值  -->
	<select id="minSaleMoney" parameterType="pd" resultType="Double">
		select 
			min(cast(a.sale_money as decimal(10,2) ) ) as maxsale_money
		from 
			 tb_youxuangg a
		where  
			a.youxuangoods_id=#{youxuangoods_id} and a.deletestatus='0'
 	</select>
 	
  	
 	
 	
 	<!--                商品介绍                                        --> 
	<!-- 新增商品介绍-->
	<insert id="saveGoodsjj" parameterType="pd">
		insert into tb_youxuanjj(
			 youxuangoods_id,
			 title,
			 text 
		) values (
			 #{youxuangoods_id},
			 #{title},
			 #{text} 
 		)
	</insert>
	<!-- 删除介绍 -->
	<delete id="deletejj" parameterType="pd">
	delete from tb_youxuanjj
	where youxuanjj_id=#{youxuanjj_id}
	</delete>
	<!-- 修改介绍 -->
	<update id="editGoodsjj" parameterType="pd">
		 update tb_youxuanjj
		 set
		 	<if test="title != null and title != ''">
		 		title= #{title},
 		 	</if>
		 	<if test="text != null and text != ''">
		 		text= #{text},
 		 	</if>
		 	youxuanjj_id=youxuanjj_id
		 where 
		 	youxuanjj_id=#{youxuanjj_id}
	</update>
	
	<!-- 介绍详情  -->
	<select id="finddetailjj" parameterType="pd" resultType="pd">
		select 
			 a.* 
		from 
			 tb_youxuanjj a
		where  
			a.youxuanjj_id=#{youxuanjj_id}
 	</select>
	<!-- 所有的商品介绍  -->
	<select id="listAllGoodsjj" parameterType="pd" resultType="pd">
		select 
		     a.youxuanjj_id,
			 a.youxuangoods_id,
			 a.title,
			 a.text 
		from 
			 tb_youxuanjj a
		where  
			a.youxuangoods_id=#{youxuangoods_id}
 	</select>
 	
 	
 	<!--                   档期                                         --> 
  	<!-- 新增档期-->
	<insert id="saveDangQi" parameterType="pd">
		insert into tb_youxuandq(
 			 youxuandq_id,
 			 city_file_id,
 			 startdate,
 			 enddate,
 			 createtime,
 			 dq_title,
 			 text,
 			 opentime,
			 createoprator_id, 
			 isover, 
			 editoprator_id
		) values (
 			 #{youxuandq_id},
 			 #{city_file_id},
 			 #{startdate},
			 #{enddate},
  			 now(),
 			  #{dq_title},
			 #{text},
			 #{opentime},
			 #{createoprator_id}, 
			 #{isover}, 
			 #{editoprator_id} 
 		)
	</insert>
 	<!-- 修改档期-->
	<update id="editDangqi" parameterType="pd">
			update  
				 tb_youxuandq
			set 
				<if test=" isover != null and isover != '' ">isover = #{isover},</if>
 				<if test=" startdate != null and startdate != '' ">startdate = #{startdate},</if>
				<if test=" enddate != null and enddate != '' ">enddate = #{enddate},</if>
				<if test=" opentime != null and opentime != '' ">opentime = #{opentime},</if>
				<if test=" dq_title != null and dq_title != '' ">dq_title = #{dq_title},</if>
				<if test=" text != null and text != '' ">text = #{text},</if>
				<if test=" editoprator_id != null and editoprator_id != '' ">editoprator_id = #{editoprator_id},</if>
   				youxuandq_id = youxuandq_id
			where 
				youxuandq_id = #{youxuandq_id}
				and city_file_id=#{city_file_id}
	</update>
 	<!-- 档期详情  -->
	<select id="finddetailDangqi" parameterType="pd" resultType="pd">
		select 
			 a.only_id,
			 a.youxuandq_id,
			 a.city_file_id,
 			 date_format(a.startdate,	'%Y-%m-%d ') as startdate,
			 date_format(a.enddate,	'%Y-%m-%d ') as enddate,
			 date_format(a.createtime,	'%Y-%m-%d ') as createtime,
 			 a.createoprator_id,
 			 a.dq_title,
 			 a.text,
 			 date_format(a.opentime,'%H:%i:%s') as opentime,
 			 a.isover 
		from 
			 tb_youxuandq a
		where  
			1=1
			and a.youxuandq_id=#{youxuandq_id}
			and a.city_file_id=#{city_file_id}
 			<if test="isover != null and isover != ''">
			and a.isover=#{isover}
			</if>
   		limit 1
	</select>
   	<!-- 所有的档期  -->
	<select id="listAllDangqi" parameterType="pd" resultType="pd">
		select 
			 a.youxuandq_id,
			 a.city_file_id,
 			 date_format(a.startdate,	'%Y-%m-%d ') as startdate,
			 date_format(a.enddate,	'%Y-%m-%d ') as enddate,
			 date_format(a.createtime,	'%Y-%m-%d ') as createtime,
 			 a.createoprator_id,
 			 a.dq_title,
 			 a.text,
 			 date_format(a.opentime,'%H:%i:%s') as opentime,
  			 a.isover 
		from 
			 tb_youxuandq a
		where  
			1=1
			<if test="isover != null and isover != ''">
 				and a.isover=#{isover}
  			</if>
  			<if test="checked_status != null and checked_status != '' and checked_status == '99'.toString()">
 				and a.isover != '99'
  			</if>
			<if test="city_file_id != null and city_file_id != ''">
 				and a.city_file_id=#{city_file_id}
  			</if>
   		order by a.youxuandq_id desc
	</select>
	
	<!-- 获取当前的档期  -->
	<select id="getnowDq" parameterType="pd" resultType="pd">
		select 
			 a.youxuandq_id,
			 a.city_file_id,
 			 date_format(a.startdate,	'%Y-%m-%d ') as startdate,
 			 date_format(a.enddate,	'%Y-%m-%d ') as enddate,
 			 date_format(a.createtime,	'%Y-%m-%d ') as createtime,
 			 a.createoprator_id,
 			 a.dq_title,
 			 a.text,
 			 date_format(a.opentime,'%H:%i:%s') as opentime,
  			 a.isover 
		from 
			 tb_youxuandq a
		where  
			 a.isover='1'
			 and date_format(a.startdate,	'%Y-%m-%d ') &lt;= date_format(now(),	'%Y-%m-%d ')
			 and city_file_id=#{city_file_id}
		order by a.youxuandq_id  
		limit 1
	</select>
	 
	 <!-- app接口 -->
	 <!-- 分页列表商品 魏汉文2016.6.12-->
	<select id="AppdatalistPageGoods" parameterType="page" resultType="pd">
		select 
  			 b.store_name,
			 b.city_sort_one,
			 c.sort_parent_id,
			 d.sort_parent_id as twosort_parent_id,
			 e.sort_parent_id as  threesort_parent_id,
			 <include refid="youxuantongyong"/>
		from 
			tb_youxuangoods a 
 			left join tb_store_file b on a.store_id=b.store_id
  			left join tb_city_file_sort c on b.city_sort_one=c.city_file_sort_id 
			left join tb_city_file_sort d on b.city_sort_two=d.city_file_sort_id 
			left join tb_city_file_sort e on b.city_sort_three=e.city_file_sort_id 
 		where 
			1=1
			and a.goods_status not in ('0','1','2','97','99') 
			<if test="pd.city_file_id != null and pd.city_file_id != ''">
 				and a.city_file_id=#{pd.city_file_id}
  			</if>
			<if test="pd.youxuandq_id != null and pd.youxuandq_id != ''">
 				and a.youxuandq_id=#{pd.youxuandq_id}
  			</if>
  			<if test="pd.city_file_sort_id != null and pd.city_file_sort_id != ''">
 				and (c.sort_parent_id=#{pd.city_file_sort_id} or d.sort_parent_id=#{pd.city_file_sort_id} or e.sort_parent_id=#{pd.city_file_sort_id})
  			</if>
		<choose>
  			<when test="pd.paixu_number != null and pd.paixu_number =='1'.toString()" >order by cast(a.goods_zkrate as DECIMAL(10,2))  desc </when>
  			<when test="pd.paixu_number != null and pd.paixu_number =='2'.toString()" >order by cast(a.goods_zkrate as DECIMAL(10,2))   </when>
  			<when test="pd.paixu_number != null and pd.paixu_number =='3'.toString()" >order by cast(a.bp_salemoney as DECIMAL(10,2)) desc </when>
  			<when test="pd.paixu_number != null and pd.paixu_number =='4'.toString()" >order by cast(a.bp_salemoney as DECIMAL(10,2))   </when>
  			<otherwise>order by a.createtime desc</otherwise>
  		</choose> 
	</select>
	
	<!-- 新增优选的商品订单-->
	<insert id="saveYouxuanOrder" parameterType="pd">
		insert into tb_order(
			order_id,
 			look_number,
 			order_status,
 			tihuo_status,	
 			sale_money,	
 			actual_money,
 			discount_after_money,
 			get_integral,	
 			user_integral,	
 			money_pay_type,
 			channel,
 			store_id,
 			store_operator_id,
 			pay_type,	
			pay_sort_type,
 			payer_id,	
  			tihuo_id,
   			startdate,
  			enddate,
 			in_jiqi,
     		order_tn,
     		createtime,	
 			pay_time,
 			tihuolimit_day
 		) values (
			#{order_id},
  			#{look_number},	
  			#{order_status},
 			#{tihuo_status},
 			#{sale_money},	
  			#{actual_money},
  			#{discount_after_money},
  			#{get_integral},
  			#{user_integral},
  			#{money_pay_type},
  			#{channel},
  			#{store_id},
 			#{store_operator_id},
 			#{pay_type},	
			#{pay_sort_type},
  			#{payer_id},
  			#{tihuo_id},
  			#{startdate},
 			#{enddate},	
 			#{in_jiqi},
 			#{order_tn},
  			now(),	
			now(),
			#{tihuolimit_day}
 		)
	</insert>
	
	
	<!-- 获取城市通过优选爆品id-->
	<select id="findCityById" parameterType="pd" resultType="pd">
		select 
			 a.youxuangoods_id,
			 b.province_name,
			 b.city_name,
			 b.area_name
		from 
			tb_youxuangoods a 
			left join tb_store_file b on a.store_id=b.store_id
  		where 
			a.youxuangoods_id = #{youxuangoods_id}
  	</select>

	
</mapper>