<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_ORDER(
			OUT_TRADE_NO,	
			LOOK_NUMBER,	
			SALE_MONEY,	
			DISCOUNT_MONEY,	
			ACTUAL_MONEY,	
			PAY_TYPE,	
			GET_INTEGRAL,	
			PAY_PHONE ,	
			STORE_OPERATOR_ID,	
			PAYER_ID,	
			STORE_SHIFT_ID,	
			ADDRESS_TYPE,	
			REMARK,	
			CREATETIME,	
			ORDER_STATUS,	
			ORDER_ID
		) values (
			#{out_trade_no},	
			#{look_number},	
			#{sale_money},	
			#{discount_money},	
			#{actual_money},	
			#{pay_type},	
			#{get_integral},	
			#{pay_phone },	
			#{store_operator_id},	
			#{payer_id},	
			#{store_shift_id},	
			#{address_type},	
			#{remark},	
			#{createtime},	
			#{order_status},	
			#{order_id}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_ORDER
		where 
			ORDER_ID = #{order_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_ORDER
			set 
				out_trade_no = #{out_trade_no},
				look_number = #{look_number},
				sale_money = #{sale_money},
				discount_money = #{discount_money},
				actual_money = #{actual_money},
				pay_type = #{pay_type},
				get_integral = #{get_integral},
				pay_phone  = #{pay_phone },
				store_operator_id = #{store_operator_id},
				payer_id = #{payer_id},
				store_shift_id = #{store_shift_id},
				address_type = #{address_type},
				remark = #{remark},
				createtime = #{createtime},
				order_status = #{order_status},
			ORDER_ID = order_id
			where 
				ORDER_ID = #{order_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			out_trade_no,	
			look_number,	
			sale_money,	
			discount_money,	
			actual_money,	
			pay_type,	
			get_integral,	
			pay_phone ,	
			store_operator_id,	
			payer_id,	
			store_shift_id,	
			address_type,	
			remark,	
			createtime,	
			order_status,	
			ORDER_ID
		from 
			TB_ORDER
		where 
			ORDER_ID = #{order_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.out_trade_no,	
				a.look_number,	
				a.sale_money,	
				a.discount_money,	
				a.actual_money,	
				a.pay_type,	
				a.get_integral,	
				a.pay_phone ,	
				a.store_operator_id,	
				a.payer_id,	
				a.store_shift_id,	
				a.address_type,	
				a.remark,	
				a.createtime,	
				a.order_status,	
				a.ORDER_ID
		from 
				TB_ORDER a
		where  1=1
		<if test="pd.content != null and pd.content != ''"><!-- 关键词检索 -->
			and
				(
					 
				)
		</if>
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.out_trade_no,	
				a.look_number,	
				a.sale_money,	
				a.discount_money,	
				a.actual_money,	
				a.pay_type,	
				a.get_integral,	
				a.pay_phone ,	
				a.store_operator_id,	
				a.payer_id,	
				a.store_shift_id,	
				a.address_type,	
				a.remark,	
				a.createtime,	
				a.order_status,	
				a.order_id
		from 
				TB_ORDER a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_ORDER
		where 
			ORDER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>