<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Store_file_sortMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_STORE_FILE_SORT(
			STORE_FILE_ID,	
			DALEI_ID,	
			XIAOLEI_ID,	
			STORE_FILE_SORT_ID,	
			STORE_FILE_SORT_ID
		) values (
			#{store_file_id},	
			#{dalei_id},	
			#{xiaolei_id},	
			#{store_file_sort_id},	
			#{store_file_sort_id}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_STORE_FILE_SORT
		where 
			STORE_FILE_SORT_ID = #{store_file_sort_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_STORE_FILE_SORT
			set 
				store_file_id = #{store_file_id},
				dalei_id = #{dalei_id},
				xiaolei_id = #{xiaolei_id},
				store_file_sort_id = #{store_file_sort_id},
			STORE_FILE_SORT_ID = store_file_sort_id
			where 
				STORE_FILE_SORT_ID = #{store_file_sort_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			store_file_id,	
			dalei_id,	
			xiaolei_id,	
			store_file_sort_id,	
			STORE_FILE_SORT_ID
		from 
			TB_STORE_FILE_SORT
		where 
			STORE_FILE_SORT_ID = #{store_file_sort_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.store_file_id,	
				a.dalei_id,	
				a.xiaolei_id,	
				a.store_file_sort_id,	
				a.STORE_FILE_SORT_ID
		from 
				TB_STORE_FILE_SORT a
		where  1=1
		<if test="pd.content != null and pd.content != ''"><!-- 关键词检索 -->
			and
				(
					 
				)
		</if>
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.store_file_id,	
				a.dalei_id,	
				a.xiaolei_id,	
				a.store_file_sort_id,	
				a.store_file_sort_id
		from 
				TB_STORE_FILE_SORT a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_STORE_FILE_SORT
		where 
			STORE_FILE_SORT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>