.head_r{
    line-height:70px; ;
}
.headbox{
    height:110px;
    box-sizing: border-box;
    padding:20px 0;
}
.headbox img{
    height:70px;
}
.loading{
    border: 1px solid #e90000;
    color: #e90000;
    padding: 1px 4px;
    cursor: pointer;
}
.loading:hover{
    background: #e90000;
    color: #fff;
}
.sec_box{
    padding-top: 10px;
    height: 70px;
    line-height: 2;
}
.step4{
    color: #666;
    height: 40px;
    background: #e5e5e5;
    line-height: 40px;
}
.step4 .step{
    text-align: center;
    width: 25%;
    float: left;
}
.sj_box{
    position: relative;
    float: right;
    top:0;
    width: 40px;
    height: 40px;
    right: -20px;
}
.sj_lbox{
    position: relative;
    float: left;
    top:0;
    width: 40px;
    height: 40px;
}
.triangle_border_right{
    width:0;
    height:0;
    border-width:24px 0 24px 24px;
    border-style:solid;
    border-color:transparent transparent transparent #fff;
    position:relative;
    top:-4px;
    border-radius: 2px;
}
.triangle_border_right span {
    display: block;
    width: 0;
    height: 0;
    border-width: 20px 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent transparent #e5e5e5;
    position: absolute;
    top: -20px;
    left: -26px;
}
.triangle_border_right_bottom{
    width:0;
    height:0;
    border-width:0 2px 24px 24px;
    border-style:solid;
    border-color:transparent  #e5e5e5  #e5e5e5 transparent;
    position:absolute;
    bottom:0;
    left: -20px;
}
.triangle_border_right_top{
    width: 0;
    height: 0;
    border-width: 24px 2px 0 24px;
    border-style: solid;
    border-color: #e5e5e5 #e5e5e5 transparent transparent;
    position: absolute;
    top: 0;
    left: -20px;
}
.triangle_border_up{
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #ffd391;
    position:absolute;
    top:-10px;
}
.triangle_border_up span{
    display:block;
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #fceed7;
    position:absolute;
    top:2px;
    left:-10px;
}
.act{
    background: #e90000;
    color: #fff;
}
.act .triangle_border_right span{
    border-color: transparent transparent transparent #e90000;
}
.act .triangle_border_right_bottom{
    border-color:transparent  #e90000  #e90000 transparent;
}
.act .triangle_border_right_top{
    border-color: #e90000 #e90000 transparent transparent;
}


.inf li{
    padding:5px 0;
}
.inf input {
    border: 1px solid #333;
    height: 27px;
    line-height: 27px;
    box-sizing: border-box;
    text-align: center;
    font-size: 105.25%;
}
.yzm{
    width: 90px;
    height: 29px;
    box-sizing: border-box;
    margin:0  8px;
}
.hq_button{
    background: #eee;
    color: #333;
    border:1px solid #969696;
    cursor: pointer;
    padding:8px 16px;
}
.notext{
    color: #42b1fd;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.notext_tip{
    display: none;
    width: 380px;
    padding: 6px 10px 6px 26px;
    border:1px solid #ffd391;
    background: #fceed7;
    position: absolute;
    left:54px;

}
.notext_tip li{
    list-style: disc;
    text-align: left;
    line-height: 1.2;
}
.cxhq_button{
    display: none;
    background: #eee;
    color: #333;
    cursor: pointer;
    padding:8px 16px;
}
.true_border {
    border:1px solid #29abfd;
}
.err_border{
    border:1px solid #e90000;
}




.tips{
    display: none;
}
.tips img{
    vertical-align: middle;
}
