.inner_width{
    width: 1200px;
    margin: 0 auto;
}
.nav_title p{
    display: block;
    width:100%;
    height:50px;
    background: #f6f6f6;
    line-height: 50px;
    border-bottom: 1px solid #bfbfbf;
    box-shadow: 0 0 4px #bfbfbf;
}
.check_button_box{
    height: 50px;
    line-height:50px;
}
.sp_tit{
    width:100%;
    line-height: 2;
}
.sp_tit select{
    width: 70%;
    height:30px;
    display: block;
    font-size: 92.5%;
    line-height: 1.2;
}
.sp_tit span{
    display: inline-block;
    width: 14.5%;
    text-align: center;
}
.sp_tit span:nth-child(1){
    text-align: left;
}
.sp_tit span:nth-child(2){
    width: 25.5%;
}


.sp_item{
    width:100%;
    border: 1px solid #aaaaaa;
    margin-bottom: 10px;
}
.sp_item span{
    box-sizing: border-box;
}
.sp_item p{
    border-bottom: 1px solid #aaaaaa;
    line-height: 2;
}
.sp_item p span{
    display: inline-block;
    text-align: left;
}
.sp_item p span:nth-child(2){
    display: inline-block;
    text-align: left;
}
.sp_show{
    text-align: center;
}
.sp_show span{
    vertical-align: top;
    line-height: 100px;
    display: inline-block;
    width: 14.5%;
}
.sp_show span:nth-child(1){
    text-align: left;
}
.sp_show span:nth-child(2){
    width: 25.5%;
}
.sp_show img{
    display: block;
    margin:  0 auto;
    width:100px;
    height: 100px;
}
.sp_show .sp_sq{
    line-height: 2;
    height:100px;
}
.dd_del b{
    cursor: pointer;
    transition: all 1s;
}


/*弹窗*/
.dask{
    top:0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}
.del_item_qr{
    width: 40vw;
    height: 15vw;
    line-height: 7.5vw;
    box-sizing: border-box;
    padding: 0 5%;
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px #aaa;
}
.del_btn_box{
    text-align: right;
}


.w_30{
    width: 30%;
}
.b_r_a{
    border-right: 1px solid #aaaaaa;
}
.txa_l{
    text-align: left;
}
.txa_r{
    text-align: right;
}
.lh_2{
    line-height: 2;
}