<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LQCommentMapper">	
		
	<select id="findCommentAmount" parameterType="String" resultType="String">
		select 
			count(*) 
		from
			tb_comment
		where 
			store_id = #{store_id}
	</select>
	
	<select id="findZanAmount" parameterType="String" resultType="String">
		select 
			count(*) 
		from
			tb_zan
		where 
			be_zan_id = #{store_id}
	</select>
	
 
	
</mapper>