<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LQStore_WealthhistoryMapper">	
		
	<!-- 梁秦2016-6-12 -->
	
	<!-- 查询商家今日送出的积分 -->
	<select id="findIntegral" parameterType="String" resultType="String">
		select 
			sum(number)
		from
			tb_store_wealthhistory
		where
			wealth_type='1'
		and 
			profit_type='2'			
		and
			store_id = #{store_id}
		and
			createtime=curdate()
	</select>
	
	
	<!-- 通过StoreId查询商家的积分 -->
	<select id="findScoreByStoreId" parameterType="String" resultType="Store_Wealthhistory">
		select 
			*
		from 
			tb_store_wealthhistory 
		where
			store_id=#{store_id}
		and
			wealth_type="1"	
	</select>
	
		<!-- 通过StoreId查询商家的余额(货贷) -->
	<select id="findMoneyByStoreId" parameterType="String" resultType="Store_Wealthhistory">
		select 
			*
		from 
			tb_store_wealthhistory 
		where
			store_id=#{store_id}
		and
			wealth_type="2"	
	</select>
	
	
	
		
	<!-- 查询商家今日交易笔数 -->
	<select id="findDealTimes" parameterType="String" resultType="String">
		select 
			count(store_wealthhistory_id)
		from 
			tb_store_wealthhistory
		where
			store_id=#{fk_store_id}
		and
			createtime=curdate()			
	</select>
	
	
	
	
	
	
	
	
	
	
	<!-- 查询商家的今天积分收益 -->
	<select id="findGetScore" parameterType="String" resultType="Store_Wealthhistory">
			select 
			last_wealth
		from 
			tb_store_wealthhistory 
		where
			store_id=#{store_id}
		and
			wealth_type="1"
		and
			profit_type="1"
				and
			createtime=curdate()
	</select>

	<!-- 查询商家今天的充值 -->	
	<select id="findRecharge" parameterType="String" resultType="Store_Wealthhistory">
			select 
			last_wealth
		from 
			tb_store_wealthhistory 
		where
			store_id=#{store_id}
		and
			wealth_type="2"
		and
			profit_type="2"
					and
			createtime=curdate()
	</select>
	
	<!-- 查询商家今天的提现金额 -->
	<select id="findWithdraw" parameterType="String" resultType="Store_Wealthhistory">
			select 
			last_wealth
		from 
			tb_store_wealthhistory 
		where
			store_id=#{store_id}
		and
			wealth_type="2"
		and
			profit_type="1"
					and
			createtime=curdate()
	</select>
</mapper>