<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storetAppFriendMapper">
	
	<!-- 获取朋友列表刘耀耀20160706-->
	<select id="listAllFriend" parameterType="pd" resultType="pd">
		select
				friend_id,
				friend_status
		from 
				tb_friend a
		where
				a.be_invite_id=#{be_invite_id} and a.invite_id=#{invite_id}
  	</select>
	<!-- 商家人脉全部列表 刘耀耀20160706 -->
	<select id="listContacts" parameterType="pd" resultType="pd">
		select  
				contacts_id,
				contacts_parent_id,
				contacts_type
		from
				tb_contacts
		where 
				1=1
				<if test="contacts_parent_id !=null and contacts_parent_id != '' ">
				and contacts_parent_id=#{contacts_parent_id}
				</if>
				<if test="contacts_id !=null and contacts_id != '' ">
				and  contacts_id=#{contacts_id}
				</if>	
				<if test="contacts_type !=null and contacts_type != '' ">
				and  contacts_type=#{contacts_type}
				</if>	
 	</select>
  	
 
 </mapper>