<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XJTGoods_Mapper">

	<!-- 查询小类的类型  邢江涛 -->
	<select id="goodsCategoryList" parameterType="pd" resultType="pd">
			select
					goods_category_id,	
					name,	
					category_parent_id,
					sort
			from 
					tb_goods_category
			where
					1=1
					and category_parent_id != '0'
					and store_id = #{store_id}
	</select>
	
	<!-- 查询商品类型下的商品名称   邢江涛-->
	<select id="goodsList" parameterType="pd" resultType="pd">
			select
					goods_id,	
					goods_category_id,	
					goods_name,
					retail_money,
					promotion_type,
					image_url,
					ifnull(company,"") company,
					market_money
			from 
					tb_goods
			where
					goods_category_id=#{goods_category_id}
	</select>
	
	
	<!-- 查询商品类型下的小类   邢江涛-->
	<select id="list" parameterType="pd" resultType="pd">
		select goods_id,goods_category_id,goods_name from tb_goods where goods_category_id != '0'
	</select>
	
	
	
	<!-- 新增营销记录  邢江涛 -->
	<insert id="save" parameterType="pd">
			insert into tb_goods_category(
				goods_category_id,
				name,
				category_parent_id,
				sort,
				store_id,
				back_rate,
				zk_rate
			)values(
				#{goods_category_id},
				#{name},
				#{category_parent_id},
				'1',
				#{store_id},
				#{back_rate},
				#{zk_rate}
			)
	</insert>
</mapper>

