<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XJTStatisticalapp_chartMapper">


	<!-- 查询前15天的订单销售金额 -->
	<select id="findMoneyNum" parameterType="pd" resultType="String">
		select 
			ifnull(cast(sum(b.user_integral+b.user_balance+b.actual_money) as char),'0') as sum 
		from 
			tb_store_wealthhistory a left join  tb_order b  on a.jiaoyi_id=b.order_id
		where 
			a.store_id = #{store_id}
 			and a.profit_type='3'
      		and a.process_status='1'
			and dayofyear(curdate()) - dayofyear(a.createtime) = #{num}
 	</select>
	
	<!-- 查询前15天的订单销售笔数 -->
	<select id="findNum" parameterType="pd" resultType="String">
		select 
			count(a.jiaoyi_id) as sum 
		from 
			tb_store_wealthhistory a left join  tb_order b  on a.jiaoyi_id=b.order_id
		where 
			a.store_id = #{store_id}
 			and a.profit_type='3'
      		and a.process_status='1'
			and dayofyear(curdate()) - dayofyear(b.createtime) = #{num}
 	</select>

</mapper>