<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XJTStorepc_imageMapper">

<!-- 班次汇总 app  邢江涛 w魏0714-->
	<select id="listAll" parameterType="pd" resultType="pd">
			select
				(   select 
						ifnull(cast(sum(m.actual_money) as char ) ,'')  as sumxjmoney    
 					from
						tb_store_wealthhistory l 
						left join tb_order m on l.jiaoyi_id=m.order_id
 					where
						l.profit_type='3' 
						and l.process_status='1'
		  				and l.store_id = #{store_id}
		  				and m.pay_type='1' 
						<if test="starttime != null and starttime != ''">                 and date_format(m.createtime ,'%Y-%m-%d') &gt;= #{starttime}  </if>
						<if test="endtime != null and endtime != ''"> 					  and date_format(m.createtime ,'%Y-%m-%d') &lt;= #{endtime} 	</if>
						<if test="store_operator_id != null and store_operator_id != ''"> and m.store_operator_id = #{store_operator_id}  				</if>
						<if test="store_shift_id != null and store_shift_id != ''">       and m.store_shift_id = #{store_shift_id}    					</if>
				) as sumxjmoney,<!--现金支付总金钱 -->
 				ifnull(cast(sum(c.sale_money) as char ) ,'')  as sumsale_money, <!-- 应收总金额 -->
 				ifnull(cast(sum(c.discount_money) as char ) ,'')  as sumdiscount_money, <!-- 总优惠金额 -->
 				ifnull(cast(sum(c.user_integral+c.user_balance+c.actual_money) as char ) ,'')  as allmoney, <!--实际支付金额(除了现金支付) -->
 				ifnull(cast(sum(c.actual_money) as char ) ,'')  as actual_money,  <!--现金/第三方支付金额   -->
 				ifnull(cast(sum(c.user_balance) as char ) ,'')  as user_balance, <!-- 收余额 -->
				ifnull(cast(sum(c.user_integral) as char ) ,'')  as user_integral, <!-- 收积分-->
 				ifnull(cast(sum(c.get_integral) as char ) ,'')  as get_integral, <!-- 送积分 -->
				ifnull(cast(count(c.order_id) as char),'') as count ,
				ifnull(c.store_operator_id,'') as store_operator_id,
				ifnull(c.store_shift_id,'') as store_shift_id,
				ifnull(d.operator_name,'') as operator_name,
 				ifnull(e.shift_name ,'') as shift_name,
 				ifnull(cast(d.logintime as char),'') as logintime ,
 				ifnull(cast(d.downtime as char),'') as downtime 
 			from
				tb_store_wealthhistory a 
				left join tb_order c on a.jiaoyi_id=c.order_id 
				left join tb_store_operator d on c.store_operator_id = d.store_operator_id
 				left join tb_store_shift e on c.store_shift_id=e.store_shift_id
 			where
				a.profit_type='3' 
				and a.process_status='1'
  				and a.store_id = #{store_id} 
				<if test="starttime != null and starttime != ''">  and date_format(a.createtime ,'%Y-%m-%d') &gt;= #{starttime} </if>
				<if test="endtime != null and endtime != ''"> and date_format(a.createtime ,'%Y-%m-%d') &lt;= #{endtime} </if>
				<if test="store_operator_id != null and store_operator_id != ''"> and c.store_operator_id = #{store_operator_id}  </if>
				<if test="store_shift_id != null and store_shift_id != ''">and c.store_shift_id = #{store_shift_id}  </if>
 			order by c.createtime desc
	</select>
	
	
	
	<select id="type1"  parameterType="String" resultType="String">
		select sum(actual_money) as xianjin from tb_order where pay_type = 1 and store_operator_id = #{store_operator_id}
	</select>
	
	<select id="type2"  parameterType="String" resultType="String">
		select sum(actual_money) as disanfang from tb_order where pay_type = 2 and store_operator_id = #{store_operator_id}
	</select>
	
	<select id="type3"  parameterType="String" resultType="String">
		select sum(actual_money) as jifen from tb_order where pay_type = 3 and store_operator_id = #{store_operator_id}
	</select>
	
	<!-- 班次明细 -->
	<select id="imagelistPage" parameterType="page" resultType="pd">
		select 
			a.createtime,
			a.look_number,
 			ifnull(a.sale_money,'') as sale_money,
 			ifnull(a.discount_money,'') as discount_money,
 			ifnull(a.user_balance,'') as user_balance,
 			ifnull(a.actual_money,'') as actual_money,
 			ifnull(a.user_integral,'') as user_integral,
 			ifnull(a.get_integral,'') as get_integral,
 			ifnull(a.sendxitong_integral,'') as sendxitong_integral,
			ifnull(cast(a.user_balance+a.actual_money+a.user_integral as char),'') as allpaymoney,
			a.store_shift_id,
			a.remark,
			a.pay_type,a.store_id,
			a.store_operator_id,
			b.operator_name,
			c.shift_name
		from 
			tb_store_wealthhistory d 
			left join tb_order a on d.jiaoyi_id=a.order_id 
 			left join tb_store_operator b on a.store_operator_id = b.store_operator_id
 			left join tb_store_shift c on a.store_shift_id=c.store_shift_id
		where 
		    d.profit_type='3' 
			and d.process_status='1' 
			and a.store_id = #{pd.store_id}
			<if test="pd.starttime != null and pd.starttime!= ''"><!-- 开始时间-->
					and  date_format(d.createtime,'%Y-%m-%d') &gt;= #{pd.starttime}
	 		</if>
			<if test="pd.endtime != null and pd.endtime!= ''"><!-- 结束时间 -->
					and  date_format(d.createtime,'%Y-%m-%d') &lt;= #{pd.endtime}
	 		</if>
			<if test="pd.look_number != null and pd.look_number != ''"><!-- 关键词检索 -->
					and a.look_number like concat(concat("%",#{pd.look_number}),"%")
			</if>
			<if test="pd.store_operator_id != null and pd.store_operator_id != ''"><!-- 关键词检索 -->
					and a.store_operator_id = #{pd.store_operator_id} 
			</if>
			<if test="pd.store_shift_id != null and pd.store_shift_id != ''"><!-- 关键词检索 -->
					and a.store_shift_id = #{pd.store_shift_id} 
			</if>
			<if test="pd.pay_type != null and pd.pay_type != '' and pd.pay_type !='4'.toString()"><!-- 关键词检索 -->
					and  a.pay_type = #{pd.pay_type} 
			</if>
			<if test="pd.pay_type =='4'.toString()"><!-- 关键词检索 -->
					and  a.user_integral != '0' 
			</if>
		order by a.createtime desc
	</select>
	
	<!-- 班次明细总和 -->
	<select id="imagelistSum" parameterType="page" resultType="pd">
		select 
			sum(a.sale_money) as sumsale_money,
			sum(a.discount_money) as sumdiscount_money,
			sum(a.actual_money) as sumactual_money,
			sum(a.user_integral) as sumuser_integral,
			sum(a.user_balance) as sumuser_balance,
 			sum(a.user_balance+a.actual_money+a.user_integral) as sumallpaymoney,
			sum(a.get_integral)  as sumget_integral,
			sum(a.sendxitong_integral)  as sumtuiguangjifen
 		from 
			tb_store_wealthhistory d 
			left join tb_order a on d.jiaoyi_id=a.order_id 
 			left join tb_store_operator b on a.store_operator_id = b.store_operator_id
 			left join tb_store_shift c on a.store_shift_id=c.store_shift_id
		where 
			d.profit_type='3' 
			and d.process_status='1' 
			and a.store_id = #{pd.store_id}
 			<if test="pd.starttime != null and pd.starttime!= ''"><!-- 开始时间-->
					and  date_format(a.createtime,'%Y-%m-%d') &gt;= #{pd.starttime}
	 		</if>
			<if test="pd.endtime != null and pd.endtime!= ''"><!-- 结束时间 -->
					and  date_format(a.createtime,'%Y-%m-%d') &lt;= #{pd.endtime}
	 		</if>
			<if test="pd.look_number != null and pd.look_number != ''"><!-- 关键词检索 -->
					and a.look_number like CONCAT(CONCAT("%",#{pd.look_number}),"%")
			</if>
			<if test="pd.store_operator_id != null and pd.store_operator_id != ''"><!-- 关键词检索 -->
					and a.store_operator_id = #{pd.store_operator_id} 
			</if>
			<if test="pd.store_shift_id != null and pd.store_shift_id != ''"><!-- 关键词检索 -->
					and a.store_shift_id = #{pd.store_shift_id} 
			</if>
			<if test="pd.pay_type != null and pd.pay_type != '' and pd.pay_type !='4'.toString()"><!-- 关键词检索 -->
					and  a.pay_type = #{pd.pay_type} 
			</if>
	  order by a.createtime desc
 	</select>

	
	<!-- app -->
	<select id="xianjinCount"  parameterType="String" resultType="String">
		select sum(actual_money) as xianjin from tb_order where pay_type = 1 and store_operator_id = #{store_operator_id}
	</select>
	
	<select id="disanfangCount"  parameterType="String" resultType="String">
		select sum(actual_money) as disanfang from tb_order where pay_type = 2 and store_operator_id = #{store_operator_id}
	</select>
	
	<select id="jifenCount"  parameterType="String" resultType="String">
		select sum(actual_money) as jifen from tb_order where pay_type = 3 and store_operator_id = #{store_operator_id}
	</select>
	
	<select id="tihuoquanCount"  parameterType="String" resultType="String">
		select count(actual_money) as count from tb_order where pay_type = 4 and store_operator_id = #{store_operator_id}
	</select>
	
	<select id="tihuoquanSum"  parameterType="String" resultType="String">
		select sum(actual_money) as tihuoquan  from tb_order where pay_type = 4 and store_operator_id = #{store_operator_id}
	</select>
	
	
	<!-- 班次明细 app  邢江涛 -->
	<select id="nowlistPageAll" parameterType="page" resultType="pd">
	select 
			a.createtime,
			date_format(a.createtime,'%Y-%m-%d %H:%i:%s') as createdate ,
			a.look_number,
			a.pay_type,
			cast(cast((ifnull(a.sale_money,'0')) as decimal(10,2)) as char)  sale_money,
			cast(cast((ifnull(a.get_integral,'0')) as decimal(10,2)) as char)  get_integral,
 			(select c.phone from tb_member c where a.payer_id=c.member_id ) as phone,
			ifnull(b.store_shift_id, '' ) as store_shift_id,
			ifnull(c.shift_name, '' ) as shift_name,
 			b.operator_name,
			b.store_id,
			b.store_operator_id
	from 
			tb_store_wealthhistory d 
			left join tb_order a on d.jiaoyi_id=a.order_id 
			left join tb_store_operator b on  a.store_operator_id = b.store_operator_id
			left join tb_store_shift c on a.store_shift_id=c.store_shift_id
 	where 	
 			d.profit_type='3' 
			and d.process_status='1' 
 			<if test="pd.createtime != null and pd.createtime != ''"><!-- 关键词检索 -->
				and date_format(a.createtime,'%Y-%m-%d') = #{pd.createtime}
 			</if>
			<if test="pd.store_operator_id != null and pd.store_operator_id != ''"><!-- 关键词检索 -->
				and  b.store_operator_id = #{ pd.store_operator_id}
 			</if>
			<if test="pd.store_shift_id != null and pd.store_shift_id != ''"><!-- 关键词检索 -->
				and  b.store_shift_id = #{pd.store_shift_id}
 			</if>
			<if test="pd.store_id != null and pd.store_id != ''"><!-- 关键词检索 -->
				and  a.store_id = #{pd.store_id}
 			</if>
 	order by a.createtime desc
	</select>
	
	
	<!-- 操作员信息 app   -->
	<select id="listoperator" parameterType="pd" resultType="pd">
			select 
					store_operator_id,
					operator_name,
					store_shift_id
			from 
					tb_store_operator 
			where 
				<choose>
					<when test="store_operator_id != null and store_operator_id != ''">store_operator_id=#{store_operator_id}</when>
					<otherwise>store_id=#{store_id}</otherwise>
				</choose>
	</select>
	<!-- 班次信息 app -->
	<select id="shift" parameterType="pd" resultType="pd">
			select
				a.shift_name,	
				a.store_shift_id
		from 
				tb_store_shift a
		where  
				<choose>
					<when test="store_shift_id != null and store_shift_id != ''">store_shift_id=#{store_shift_id}</when>
					<otherwise>store_id=#{store_id}</otherwise>
				</choose>
	</select>

</mapper>