<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XJTStoreWealthhistoryMapper">

	<!-- 分页查询充值记录  邢江涛 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		  select
			   a.store_wealthhistory_id,
			   a.wealth_type,
			   a.profit_type,
			   a.store_operator_id,
			   b.operator_name,
			   a.last_wealth,
			   a.number,
			   a.pay_type,
			   a.createtime,
			   date_format(createtime,'%Y-%c-%d %H:%i:%s') as createdate ,
			   a.process_status,
			   a.arrivalMoney,
			   a.withdraw_number,
			   (select c.account from tb_store_bankcard c where c.store_id=a.store_id and c.bank_number=a.withdraw_number limit 1) as account_name,
			   (select c.alipay_name from tb_store_alipay c where c.store_id=a.store_id and c.alipay_number=a.withdraw_number limit 1) as account_name2
			from 
					tb_store_wealthhistory a 
					left join tb_store_operator b on b.store_operator_id=a.store_operator_id
			where
					a.store_id=#{pd.store_id}
					<!-- and a.process_status != '0' -->
 				<if test="pd.starttime != null and pd.starttime!= ''"><!-- 开始时间-->
					and  date_format(a.createtime,'%Y-%m-%d') &gt;= date_format(#{pd.starttime},'%Y-%m-%d')
	 			</if>
				<if test="pd.endtime != null and pd.endtime!= ''"><!-- 结束时间 -->
						and  date_format(a.createtime,'%Y-%m-%d') &lt;= date_format(#{pd.endtime},'%Y-%m-%d')
	 			</if>
	  			<if test="pd.store_operator_id != null and pd.store_operator_id != ''"><!-- 关键词检索 -->
					and  a.store_operator_id = #{pd.store_operator_id} 
				</if>
				<if test="pd.type=='1'.toString()"><!--充值 -->
					and profit_type ='1' 
				</if>
				<if test="pd.type=='2'.toString()"><!--提现 -->
					and profit_type ='2'
				</if>
				<if test="pd.type=='3'.toString()"><!--提现充值汇总 -->
					and profit_type in ('1','2') 
				</if>
		order by a.createtime desc
	</select>
	
	
	<!--流水的where处判断-->  
	<sql id="StoreWaterWheresql">  
					a.store_id=#{pd.store_id}
					<choose>	
						<when test="pd.chuli_type =='3'.toString()">and a.process_status in ('0','1','99')</when>
						<otherwise>and a.process_status ='1'</otherwise>
					</choose>
 					<if test="pd.chuli_type =='1'.toString() ">
						and a.profit_type in ('1','2','3','6','8','9','10','13','17','18','19')
					</if>
					<if test="pd.chuli_type =='3'.toString() "><!-- 充值提现 -->
						and a.profit_type in ('1','2')
 					</if>
 					<if test="pd.profit_type != null and pd.profit_type != '' ">
						and a.profit_type=#{pd.profit_type}
					</if>
					<if test="pd.starttime != null and pd.starttime!= ''"><!-- 开始时间-->
						and  date_format(a.createtime,'%Y-%m-%d') &gt;= date_format(#{pd.starttime},'%Y-%m-%d')
		 			</if>
					<if test="pd.endtime != null and pd.endtime!= ''"><!-- 结束时间 -->
						and  date_format(a.createtime,'%Y-%m-%d') &lt;= date_format(#{pd.endtime},'%Y-%m-%d')
		 			</if>
		  			<if test="pd.store_operator_id != null and pd.store_operator_id != ''"><!-- 操作员id -->
						and  a.store_operator_id = #{pd.store_operator_id} 
					</if>
					<!-- 订单 -->
					<if test="pd.order_id != null and pd.order_id != ''"><!-- 班次 -->
						and  d.order_id  like concat(concat("%",#{pd.order_id}),"%") 
					</if>
					<if test="pd.store_shift_id != null and pd.store_shift_id != ''"><!-- 班次 -->
						and  d.store_shift_id = #{pd.store_shift_id} 
					</if>
					<choose>
						<when test="pd.jiaoyi_type != null and pd.jiaoyi_type != '' and pd.jiaoyi_type=='35'.toString()">
 							 	and  g.jiaoyi_type in ('3','5')  
						</when>
 						<otherwise>
	 						<if test="pd.jiaoyi_type != null and pd.jiaoyi_type != ''"><!-- 订单类型 -->
			 						and  g.jiaoyi_type = #{pd.jiaoyi_type}  
							</if>
 						</otherwise>
					</choose>
	
	</sql>
	
	<!-- 流水明细 列表-->
	<select id="weallistPage" parameterType="page" resultType="pd">
			select 
					a.store_wealthhistory_id,
				    a.wealth_type,
					a.profit_type,
 		 			cast( a.last_wealth as decimal(10,2)) last_wealth  ,
 					a.createtime,
					date_format(a.createtime,'%Y-%c-%d %H:%i:%s') as createdate ,
  					a.in_jiqi,
  					b.store_name,
 					cast( a.number as decimal(10,2)) as number ,
 					cast( a.oneday_renmaijifen as decimal(10,2)) as oneday_renmaijifen ,
 					cast( a.oneday_renmaimoney as decimal(10,2)) as oneday_renmaimoney ,
 					cast( a.transaction_points as decimal(10,2)) as transaction_points ,
 					cast( a.orderfuwu_money as decimal(10,2)) as orderfuwu_money ,
 					cast( a.ordersp_getmoney as decimal(10,2)) as ordersp_getmoney ,
					a.process_status,
    				ifnull(g.user_id,'') as  user_id,
					ifnull(g.user_type,'') as  user_type,
					cast( ifnull(g.money,'') as decimal(10,2)) as  money,
					cast( ifnull(g.reduce_money,'') as decimal(10,2)) as  reduce_money,
					ifnull(g.withdraw_rate,'') as  withdraw_rate,
					cast( ifnull(g.arrivalmoney,'') as decimal(10,2)) as  arrivalmoney,
 					cast( ifnull(g.alipay_money ,'') as decimal(10,2)) as alipay_money ,
					cast( ifnull(g.wx_money ,'') as decimal(10,2)) as wx_money,
					cast( ifnull(g.bank_money ,'') as decimal(10,2)) as bank_money,
					cast( ifnull(g.nowypay_money ,'') as decimal(10,2)) as nowypay_money,
					cast( ifnull(g.jiuyu_money ,'') as decimal(10,2)) as jiuyu_money,
					ifnull(g.application_channel ,'') as application_channel,
					ifnull(g.remittance_type ,'') as remittance_type,
					ifnull(g.remittance_name ,'') as remittance_name,
					ifnull(g.remittance_number ,'') as remittance_number,
					ifnull(g.jiaoyi_type ,'') as jiaoyi_type,
  		    		cast( ifnull(d.sale_money,'') as decimal(10,2)) as sale_money,	
		    		cast( ifnull(d.discount_money,'') as decimal(10,2)) discount_money,	
		    		cast( ifnull(d.no_discount_money,'') as decimal(10,2)) no_discount_money,	
		    		cast( ifnull(d.discount_after_money,'') as decimal(10,2)) discount_after_money,	
					cast( ifnull(d.user_balance,'') as decimal(10,2)) user_balance,	
					cast( ifnull(d.user_integral,'') as decimal(10,2)) user_integral,	
					cast( ifnull(d.subsidiary_getmoney,'') as decimal(10,2)) subsidiary_getmoney,	
					cast( ifnull(d.sp_getmoney,'') as decimal(10,2)) sp_getmoney,	
					cast( ifnull(d.clerk_getmoney,'') as decimal(10,2)) clerk_getmoney,	
					cast( ifnull(d.onecontacts_getmoney,'') as decimal(10,2)) onecontacts_getmoney,	
					cast( ifnull(d.twocontacts_getmoney,'') as decimal(10,2)) twocontacts_getmoney,	
					cast( ifnull(d.sendxitong_integral,'') as decimal(10,2)) sendxitong_integral,	
					cast( ifnull(d.get_integral,'') as decimal(10,2)) get_integral,
					cast( ifnull(d.store_renmai_money,'') as decimal(10,2)) store_renmai_money,
   		    		ifnull(d.tihuo_id,'') as tihuo_id,
  		    		ifnull(d.tihuo_status,'') as tihuo_status,
  		    		ifnull(d.pay_sort_type,'1') as pay_sort_type,
  		    		ifnull(d.order_status,'') as order_status,
  		    		ifnull(d.order_id,'') as order_id,
  		    		ifnull(e.operator_name,b.store_name) as operator_name,
		    		ifnull(f.shift_name,'无') as shift_name 
 		  from 
					tb_store_wealthhistory a
					left join tb_store b on b.store_id = a.store_id
					left join tb_member c on c.member_id = a.user_id
					left join tb_store_operator e on e.store_operator_id=a.store_operator_id
 					left join tb_waterrecord g on g.waterrecord_id = a.store_wealthhistory_id
					left join tb_order d on d.order_id = g.waterrecord_id 
 	 				left join tb_store_shift f on f.store_shift_id =d.store_shift_id
  		  where
 					<include refid="StoreWaterWheresql" />  	
 		order by a.createtime desc
	</select>
  	<!-- 分页统计当前的页的总和流水明细 列表-->
	<select id="sumNowPageWeath" parameterType="page" resultType="pd">
			select 
					cast( sum(f.orderfuwu_money) as decimal(10,2)) as sumorderfuwu_money ,
					cast( sum(f.ordersp_getmoney) as decimal(10,2)) as sumordersp_getmoney ,
					cast( sum(f.money) as decimal(10,2)) as summoney ,
				    cast( sum(f.arrivalmoney) as decimal(10,2)) as sumarrivalmoney ,
 					cast( sum(f.alipay_money) as decimal(10,2)) as sumalipay_money ,
					cast( sum(f.wx_money) as decimal(10,2)) as sumwx_money ,
					cast( sum(f.bank_money) as decimal(10,2)) as sumbank_money ,
					cast( sum(f.nowypay_money) as decimal(10,2)) as sumnowypay_money ,
					cast( sum(f.jiuyu_money) as decimal(10,2)) as sumjiuyu_money ,
	 				cast( sum(f.sale_money) as decimal(10,2)) as sumsale_money ,
	 				cast( sum(f.discount_money) as decimal(10,2)) as sumdiscount_money ,
	 				cast( sum(f.discount_after_money) as decimal(10,2)) as sumdiscount_after_money ,
	 				cast( sum(f.no_discount_money) as decimal(10,2)) as sumno_discount_money ,
 	 				cast( sum(f.user_balance) as decimal(10,2)) as sumuser_balance ,
					cast( sum(f.user_integral) as decimal(10,2)) as sumuser_integral ,
					cast( sum(f.subsidiary_getmoney) as decimal(10,2)) as sumsubsidiary_getmoney ,
					cast( sum(f.sp_getmoney) as decimal(10,2)) as sumsp_getmoney ,
					cast( sum(f.clerk_getmoney) as decimal(10,2)) as sumclerk_getmoney ,
					cast( sum(f.onecontacts_getmoney) as decimal(10,2)) as sumonecontacts_getmoney ,
					cast( sum(f.twocontacts_getmoney) as decimal(10,2)) as sumtwocontacts_getmoney ,
					cast( sum(f.sendxitong_integral) as decimal(10,2)) as sumsendxitong_integral ,
					cast( sum(f.get_integral) as decimal(10,2)) as sumget_integral,
					cast( sum(f.store_renmai_money) as decimal(10,2)) as sumstore_renmai_money 
			from (
				select 
					ifnull(a.orderfuwu_money,'0') as orderfuwu_money,	
  					ifnull(a.ordersp_getmoney,'0') as ordersp_getmoney,		 
 					g.money,
					g.arrivalmoney ,
					g.alipay_money ,
					g.wx_money ,
					g.bank_money ,
					g.nowypay_money,
					g.jiuyu_money,
  		    		ifnull(d.sale_money,'') as sale_money,	
		    		ifnull(d.discount_money,'') discount_money,	
		    		ifnull(d.discount_after_money,'') discount_after_money,	
		    		ifnull(d.no_discount_money,'') no_discount_money,	
					ifnull(d.user_balance,'') user_balance,	
					ifnull(d.user_integral,'') user_integral,	
					ifnull(d.subsidiary_getmoney,'') subsidiary_getmoney,	
					ifnull(d.sp_getmoney,'') sp_getmoney,	
					ifnull(d.clerk_getmoney,'') clerk_getmoney,	
					ifnull(d.onecontacts_getmoney,'') onecontacts_getmoney,	
					ifnull(d.twocontacts_getmoney,'') twocontacts_getmoney,	
					ifnull(d.sendxitong_integral,'') sendxitong_integral,	
					ifnull(d.get_integral,'') get_integral,
					ifnull(d.store_renmai_money,'') store_renmai_money
 		        from 
							tb_store_wealthhistory a
							left join tb_waterrecord g on g.waterrecord_id = a.store_wealthhistory_id
							left join tb_order d on d.order_id = g.waterrecord_id  
   		       where
  					<include refid="StoreWaterWheresql" /> 
				order by a.createtime desc
				limit #{pd.nowpage},10
			) as f
	</select>
 	<!-- 统计财富所有的总消费金额 -->
	<select id="sumAllPageWeath" parameterType="page" resultType="pd">
				select 
					cast( sum(f.orderfuwu_money) as decimal(10,2)) as sumorderfuwu_money ,
					cast( sum(f.ordersp_getmoney) as decimal(10,2)) as sumordersp_getmoney ,
					cast( sum(f.money) as decimal(10,2)) as summoney ,
				    cast( sum(f.arrivalmoney) as decimal(10,2)) as sumarrivalmoney ,
 					cast( sum(f.alipay_money) as decimal(10,2)) as sumalipay_money ,
					cast( sum(f.wx_money) as decimal(10,2)) as sumwx_money ,
					cast( sum(f.bank_money) as decimal(10,2)) as sumbank_money ,
					cast( sum(f.nowypay_money) as decimal(10,2)) as sumnowypay_money ,
					cast( sum(f.jiuyu_money) as decimal(10,2)) as sumjiuyu_money ,
	 				cast( sum(f.sale_money) as decimal(10,2)) as sumsale_money ,
	 				cast( sum(f.discount_money) as decimal(10,2)) as sumdiscount_money ,
	 				cast( sum(f.discount_after_money) as decimal(10,2)) as sumdiscount_after_money ,
	 				cast( sum(f.no_discount_money) as decimal(10,2)) as sumno_discount_money ,
 	 				cast( sum(f.user_balance) as decimal(10,2)) as sumuser_balance ,
					cast( sum(f.user_integral) as decimal(10,2)) as sumuser_integral ,
					cast( sum(f.subsidiary_getmoney) as decimal(10,2)) as sumsubsidiary_getmoney ,
					cast( sum(f.sp_getmoney) as decimal(10,2)) as sumsp_getmoney ,
					cast( sum(f.clerk_getmoney) as decimal(10,2)) as sumclerk_getmoney ,
					cast( sum(f.onecontacts_getmoney) as decimal(10,2)) as sumonecontacts_getmoney ,
					cast( sum(f.twocontacts_getmoney) as decimal(10,2)) as sumtwocontacts_getmoney ,
					cast( sum(f.sendxitong_integral) as decimal(10,2)) as sumsendxitong_integral ,
					cast( sum(f.get_integral) as decimal(10,2)) as sumget_integral,
					cast( sum(f.store_renmai_money) as decimal(10,2)) as sumstore_renmai_money 
			from (
				select 
					ifnull(a.orderfuwu_money,'0') as orderfuwu_money,	
  					ifnull(a.ordersp_getmoney,'0') as ordersp_getmoney,		 
 					g.money,
					g.arrivalmoney ,
					g.alipay_money ,
					g.wx_money ,
					g.bank_money ,
					g.nowypay_money,
					g.jiuyu_money,
  		    		ifnull(d.sale_money,'') as sale_money,	
		    		ifnull(d.discount_money,'') discount_money,	
		    		ifnull(d.discount_after_money,'') discount_after_money,	
		    		ifnull(d.no_discount_money,'') no_discount_money,	
					ifnull(d.user_balance,'') user_balance,	
					ifnull(d.user_integral,'') user_integral,	
					ifnull(d.subsidiary_getmoney,'') subsidiary_getmoney,	
					ifnull(d.sp_getmoney,'') sp_getmoney,	
					ifnull(d.clerk_getmoney,'') clerk_getmoney,	
					ifnull(d.onecontacts_getmoney,'') onecontacts_getmoney,	
					ifnull(d.twocontacts_getmoney,'') twocontacts_getmoney,	
					ifnull(d.sendxitong_integral,'') sendxitong_integral,	
					ifnull(d.get_integral,'') get_integral,
					ifnull(d.store_renmai_money,'') store_renmai_money
 		        from 
					tb_store_wealthhistory a
					left join tb_waterrecord g on g.waterrecord_id = a.store_wealthhistory_id
					left join tb_order d on d.order_id = g.waterrecord_id   
   		  		where
 					<include refid="StoreWaterWheresql" />  
				order by a.createtime desc
 			) as f
 	</select>
 	
 	<!-- 提货卷列表 -->
	<select id="orderlistPage" parameterType="pd" resultType="pd">
		select		
 				<!--  a.payer_id,
				 a.store_id, -->
				 a.order_id,
				 a.order_status,
 				 a.tihuo_id,
 				 a.tihuo_status,
 				 date_format(a.startdate,'%Y-%c-%d') startdate,
 				 date_format( a.enddate,'%Y-%c-%d') enddate,
 				 date_format( a.createtime,'%Y-%c-%d %H:%i:%s') createtime,
   				 ifnull(a.pay_type,'') as pay_type,
   				 ifnull(a.pay_sort_type,'1') as pay_sort_type,
  				 ifnull(a.money_pay_type,'2') as money_pay_type,
  				 a.store_operator_id,
 				 a.redpackage_id,
  				 cast( ifnull( a.user_balance,'0') as decimal(10,2)) as   user_balance,
				 cast( ifnull( a.user_integral,'0') as decimal(10,2)) as   user_integral,
				 cast( ifnull( a.sale_money,'0') as decimal(10,2)) as sale_money,
				 cast( ifnull( a.actual_money,'0') as decimal(10,2)) as   actual_money,
				 cast( ifnull( a.get_integral,'0') as decimal(10,2)) as   get_integral,
				 cast( ifnull( a.discount_money,'0') as decimal(10,2)) as   discount_money,
				 cast( ifnull( a.no_discount_money,'0') as decimal(10,2)) as   no_discount_money,
				 cast( ifnull(cast(a.user_integral+a.user_balance+a.actual_money as char) , '0') as decimal(10,2)) as allmoney,
 				 ifnull(a.remark,'') as remark ,
 				 c.phone ,
 				 c.image_url,
				 c.name,
				 c.show_lookid as show_id,
				 c.show_lookid,
				 b.store_name,
				 b.registertel_phone
 		from 
				tb_order a 
				left join tb_store b on a.store_id=b.store_id 
				left join tb_member c on a.payer_id=c.member_id
		where 
				a.store_id=#{pd.store_id}
 				<if test="pd.pay_type != null and pd.pay_type != ''"><!-- 支付状态 -->
						and  a.pay_type =#{pd.pay_type}
				</if>
  				<if test="pd.starttime != null and pd.starttime!= ''"><!-- 开始时间-->
						and  date_format(a.createtime,'%Y-%m-%d') &gt;= date_format(#{pd.starttime},'%Y-%m-%d')
		 		</if>
				<if test="pd.endtime != null and pd.endtime!= ''"><!-- 结束时间 -->
						and  date_format(a.createtime,'%Y-%m-%d') &lt;= date_format(#{pd.endtime},'%Y-%m-%d')
		 		</if>
		 		<!-- 订单 -->
				<if test="pd.tihuo_id != null and pd.tihuo_id != ''"><!-- 提货券 -->
						and  a.tihuo_id  like concat(concat("%",#{pd.tihuo_id}),"%") 
				</if>
				<if test="pd.phone != null and pd.phone != ''"><!-- 手机号码 -->
						and  c.phone  like concat(concat("%",#{pd.phone}),"%") 
				</if>
				<if test="pd.tihuo_status != null and pd.tihuo_status != ''"><!-- 提货状态 -->
						and  a.tihuo_status =#{pd.tihuo_status}
				</if>
				<if test="pd.store_operator_id != null and pd.store_operator_id != ''"><!-- 操作员ID -->
						and  a.store_operator_id =#{pd.store_operator_id}
				</if>
		order by a.createtime desc
   	</select>
 	
 	
 	
	<!-- 获取制定操作员的班次汇总-->
	<select id="BanCiHuiZongByOprator"  parameterType="pd" resultType="pd">
		 select
 					ifnull(cast(cast( sum(a.number) as decimal(10,2)) as char ),'0') as sumnumber ,
					ifnull(cast(cast( sum(a.arrivalMoney) as decimal(10,2)) as char),'0') as sumarrivalMoney ,
 					ifnull(cast(cast( sum(b.money) as decimal(10,2)) as char),'0') as summoney ,
 					ifnull(cast(cast( sum(b.arrivalmoney) as decimal(10,2)) as char),'0') as sumarrivalmoney ,
					ifnull(cast(cast( sum(b.nowypay_money) as decimal(10,2)) as char),'0') as sumnowypay_money ,
					ifnull(cast(cast( sum(b.alipay_money) as decimal(10,2)) as char),'0') as sumalipay_money ,
					ifnull(cast(cast( sum(b.wx_money) as decimal(10,2)) as char),'0') as sumwx_money ,
					ifnull(cast(cast( sum(b.alipay_money)+sum(b.wx_money) as decimal(10,2)) as char),'0') as zaixianpay,
					ifnull(cast(cast( sum(b.bank_money) as decimal(10,2)) as char),'0') as sumbank_money ,
					ifnull(cast(cast( sum(c.sale_money) as decimal(10,2)) as char),'0') as sumsale_money ,
					ifnull(cast(cast( sum(c.discount_money) as decimal(10,2)) as char),'0') as sumdiscount_money ,
					ifnull(cast(cast( sum(c.get_integral) as decimal(10,2)) as char),'0') as sumget_integral ,
					ifnull(cast(cast( sum(c.sendxitong_integral) as decimal(10,2)) as char),'0') as sumsendxitong_integral,
					ifnull(e.shift_name,'') as shift_name
 		from 
					tb_store_wealthhistory a 
 				    left join tb_waterrecord b on a.store_wealthhistory_id=b.waterrecord_id
				    left join tb_order c on b.waterrecord_id=c.order_id
				    left join  tb_store_shift e on e.store_shift_id=c.store_shift_id
		where 		
		            a.process_status='1'
		            and a.profit_type='3'
		            and b.pay_status='1'
		            and b.money_type='2'
					and c.store_operator_id=#{store_operator_id}
					<if test="store_shift_id != null and store_shift_id != ''"><!-- 班次 -->
					and c.store_shift_id=#{store_shift_id}
					</if>
 	</select>
 	
 		
	<!-- 获取当前操作员的完成订单单数-->
	<select id="countOrderNumberByOprator"  parameterType="pd" resultType="String">
		  select count(*)  
		  from tb_store_wealthhistory a
		  where 
		       a.store_operator_id=#{store_operator_id}
			   and a.profit_type='3'
      		   and a.process_status='1'
 	</select>
  	
	<!-- 流水以上 -->
	
	
	
	<!-- 获取全部数据-->
	<select id="listAll"  parameterType="pd" resultType="pd">
		  select    store_wealthhistory_id,jiaoyi_id
		  from 		tb_store_wealthhistory
 	</select>
 	
 		
	<!-- 查看详情测试用-->
	<select id="findByIdCS"  parameterType="pd" resultType="Integer">
		  select    count(*)
		  from      tb_store_wealthhistory
		  where     jiaoyi_id=#{jiaoyi_id}  and profit_type='3'
  	</select>
 		
	<!-- 删除数据-->
	<delete id="deleteThis"  parameterType="pd" >
		  delete  from tb_store_wealthhistory
		  where store_wealthhistory_id=#{store_wealthhistory_id}
 	</delete>
	
	
	<!-- 新增备注 -->
	<update id="updRemark" parameterType="pd">
		update tb_order 
		set remark = #{remark}
		where order_id =#{order_id} 
	</update>
	
	<!-- 删除无效订单 -->
	<delete id="deleteZeroStoreWealth">
		delete from tb_store_wealthhistory
		where process_status='0' and profit_type !='1'
	</delete>
	
	<!-- 删除充值无效订单 -->
	<delete id="deleteZeroStoreWealthCZ"  parameterType="page">
		delete from tb_store_wealthhistory
		where process_status='0' and profit_type ='2' and store_id=#{pd.store_id}
		      and timestampdiff(minute  , createtime , now() )  &gt;= 1 
	</delete>
	
		
	<!-- 删除无效订单 -->
	<delete id="deleteZeroStoreWealthAll">
		delete from tb_store_wealthhistory
		where process_status='0' and profit_type !='1'
	</delete>
  
	
	<!-- 获取最新一条数据的余额 app-->
	<select id="count"  parameterType="pd" resultType="String">
		  select 
		  		ifnull(cast(cast( last_wealth as decimal(10,2) )  as char) , '0') as last_wealth 
 		  from 
		  		tb_store_wealthhistory
		  where 
				wealth_type = '1' and store_id = #{store_id}
		  order by createtime desc  limit 1
	</select>
	
	
   <!-- 充值记录/提现记录  邢江涛 app -->
   <select id="listPageinfo" parameterType="page" resultType="pd">
			select 
				a.store_wealthhistory_id,
				cast( a.number as decimal(10,2) ) number ,
				a.profit_type,
				a.process_status,
				ifnull(a.pay_type,'') as pay_type,
				cast( a.last_wealth as decimal(10,2) ) last_wealth ,
				date_format(a.createtime,'%Y-%c-%d %H:%i:%s') as createdate ,
				ifnull(g.application_channel ,'') as application_channel,
				ifnull(g.remittance_type ,'') as remittance_type,
				ifnull(g.remittance_name ,'') as remittance_name,
				ifnull(g.remittance_number ,'') as remittance_number,
				ifnull(g.chuli_remark ,'') as chuli_remark
			from 
				tb_store_wealthhistory  a 
				left join tb_waterrecord g on g.waterrecord_id = a.store_wealthhistory_id
			where 
 				a.store_id = #{pd.store_id} 
				<choose>
					<when test="pd.profit_type != null and pd.profit_type != ''">
					and  a.profit_type = #{pd.profit_type} 
					</when>
					<otherwise>and  a.profit_type in ('1','2')</otherwise>
				</choose>
 			order by a.createtime desc
	</select> 
	
	<!-- 统计今天的财务-->
	<select id="getSumMoney" parameterType="pd" resultType="String">
		select 
			 ifnull(cast(cast( sum(number) as decimal(10,2) )  as char) , '0') as money 
 		from 
			tb_store_wealthhistory
		where 
			store_id = #{store_id}
			and to_days(now()) = to_days(createtime) 
 			<if test="profit_type != null and profit_type != '' ">and profit_type=#{profit_type}</if>
 	</select>
 	
	
	<!-- 统计今天的交易笔数-->
	<select id="getCountOrder" parameterType="pd" resultType="Integer">
		select 
			count(*)
		from 
			tb_store_wealthhistory
		where 
			store_id = #{store_id}
 			and profit_type='3'
      		and process_status='1'
 			and to_days(now()) = to_days(createtime) 
  	</select>
  	
  		
	<!-- 统计所有的的交易笔数-->
	<select id="getallCountOrder" parameterType="pd" resultType="Integer">
		select 
			count(*)
		from 
			tb_store_wealthhistory
		where 
			store_id = #{store_id}
 			and profit_type='3'
      		and process_status='1'
   	</select>
	
	<!-- 统计今天的营业额-->
	<select id="getSumOrder" parameterType="pd" resultType="pd">
		select 
		    ifnull(cast(cast( sum(sale_money-discount_money) as decimal(10,2) ) as char) , '0') as money,
		    ifnull(cast(cast( sum(get_integral) as decimal(10,2) ) as char) , '0') as get_integral,
		    ifnull(cast(cast( sum(sendxitong_integral) as decimal(10,2) ) as char) , '0') as sendxitong_integral,
		    ifnull(cast(cast( sum(user_integral) as decimal(10,2) ) as char) , '0') as user_integral,
		    ifnull(cast(cast( sum(user_balance) as decimal(10,2) ) as char) , '0') as user_balance,
		    ifnull(cast(cast( sum(actual_money) as decimal(10,2) ) as char) , '0') as actual_money 
 		from 
			tb_order
		where 
			store_id = #{store_id}
			and order_status='1'
			and tihuo_status='1'
			and to_days(now()) = to_days(createtime) 
	</select>
	
	<!-- 获取一度人脉/二度人脉的收益-->
	<select id="getContantSumMoney" parameterType="pd" resultType="pd">
		select 
 			ifnull(cast(cast( sum(a.onecontacts_getmoney) as decimal(10,2) ) as char) , '0') as sumonecontacts_getmoney,
			ifnull(cast(cast( sum(a.twocontacts_getmoney) as decimal(10,2) ) as char)  ,'0')as sumtwocontacts_getmoney 
		from 
			tb_order a
		where 
			a.order_status='1' and tihuo_status='1'
 			<if test="onecontacts_id != null and onecontacts_id != '' ">and a.onecontacts_id = #{onecontacts_id}</if>
			<if test="twocontacts_id != null and twocontacts_id != '' ">and a.twocontacts_id = #{twocontacts_id}</if>
  	</select>
	
	
	<!-- 获取一度人脉/二度人脉的收益(用于凌晨统计)-->
	<select id="getContantSumMoneyTwo" parameterType="pd" resultType="pd">
		select 
			ifnull(cast(cast( sum(a.sale_money) as decimal(10,3) ) as char) , '0') as sumsale_money,
			ifnull(cast(cast( sum(a.onecontacts_getmoney) as decimal(10,3) ) as char) , '0') as sumonecontacts_getmoney,
			ifnull(cast(cast( sum(a.twocontacts_getmoney) as decimal(10,3) ) as char)  ,'0')as sumtwocontacts_getmoney 
		from 
			tb_order a
		where 
			a.order_status='1' and tihuo_status='1'
 			<if test="onecontacts_id != null and onecontacts_id != '' ">and a.onecontacts_id = #{onecontacts_id}</if>
			<if test="twocontacts_id != null and twocontacts_id != '' ">and a.twocontacts_id = #{twocontacts_id}</if>
			<if test="time_day != null and time_day != '' ">and to_days(#{time_day}) = to_days(a.createtime) </if>
 	</select>
 	
 	<!-- 获取一度人脉/二度人脉的订单-->
	<select id="listallContantOrder" parameterType="pd" resultType="pd">
		select 
			a.order_id 
		from 
			tb_order a
		where 
			a.order_status='1' and tihuo_status='1'
 			<if test="onecontacts_id != null and onecontacts_id != '' ">and a.onecontacts_id = #{onecontacts_id}</if>
			<if test="twocontacts_id != null and twocontacts_id != '' ">and a.twocontacts_id = #{twocontacts_id}</if>
			<if test="time_day != null and time_day != '' ">and to_days(#{time_day}) = to_days(a.createtime) </if>
 	</select>
	
	<!--获取登录密码-->
	<select id="getPass" parameterType="pd" resultType="String">
		select 
			password
		from 
			tb_store
		where 
			store_id = #{store_id}
	</select>
	
	
	<!-- 流水详情 -->
	<select id="liuShuiDetailById" parameterType="pd" resultType="pd">
			select 
					a.store_wealthhistory_id,
				    a.wealth_type,
					a.profit_type,
 		 			cast( a.last_wealth as decimal(10,2)) last_wealth  ,
 					a.createtime,
					date_format(a.createtime,'%Y-%c-%d %H:%i:%s') as createdate ,
  					a.in_jiqi,
 					cast( a.number as decimal(10,2)) as number ,
 					cast( a.oneday_renmaijifen as decimal(10,2)) as oneday_renmaijifen ,
 					cast( a.oneday_renmaimoney as decimal(10,2)) as oneday_renmaimoney ,
 					transaction_points,
 					cast( a.orderfuwu_money as decimal(10,2)) as orderfuwu_money ,
 					cast( a.ordersp_getmoney as decimal(10,2)) as ordersp_getmoney ,
					a.process_status,
    				ifnull(g.user_id,'') as  user_id, 
					ifnull(g.user_type,'') as  user_type,
					cast( ifnull(g.money,'') as decimal(10,2)) as  money,
					cast( ifnull(g.reduce_money,'') as decimal(10,2)) as  reduce_money,
					ifnull(g.withdraw_rate,'') as  withdraw_rate,
					cast( ifnull(g.arrivalmoney,'') as decimal(10,2)) as  arrivalmoney,
 					cast( ifnull(g.alipay_money ,'') as decimal(10,2)) as alipay_money ,
					cast( ifnull(g.wx_money ,'') as decimal(10,2)) as wx_money,
					cast( ifnull(g.bank_money ,'') as decimal(10,2)) as bank_money,
					cast( ifnull(g.nowypay_money ,'') as decimal(10,2)) as nowypay_money,
					cast( ifnull(g.jiuyu_money ,'') as decimal(10,2)) as jiuyu_money,
					ifnull(g.application_channel ,'') as application_channel,
					ifnull(g.remittance_type ,'') as remittance_type,
					ifnull(g.remittance_name ,'') as remittance_name,
					ifnull(g.remittance_number ,'') as remittance_number,
					ifnull(g.jiaoyi_type ,'') as jiaoyi_type,
  		    		cast( ifnull(d.sale_money,'') as decimal(10,2)) as sale_money,	
		    		cast( ifnull(d.discount_money,'') as decimal(10,2)) discount_money,	
		    		cast( ifnull(d.no_discount_money,'') as decimal(10,2)) no_discount_money,	
		    		cast( ifnull(d.discount_after_money,'') as decimal(10,2)) discount_after_money,	
					cast( ifnull(d.user_balance,'') as decimal(10,2)) user_balance,	
					cast( ifnull(d.user_integral,'') as decimal(10,2)) user_integral,	
					cast( ifnull(d.subsidiary_getmoney,'') as decimal(10,2)) subsidiary_getmoney,	
					cast( ifnull(d.sp_getmoney,'') as decimal(10,2)) sp_getmoney,	
					cast( ifnull(d.clerk_getmoney,'') as decimal(10,2)) clerk_getmoney,	
					cast( ifnull(d.onecontacts_getmoney,'') as decimal(10,2)) onecontacts_getmoney,	
					cast( ifnull(d.twocontacts_getmoney,'') as decimal(10,2)) twocontacts_getmoney,	
					cast( ifnull(d.sendxitong_integral,'') as decimal(10,2)) sendxitong_integral,	
					cast( ifnull(d.get_integral,'') as decimal(10,2)) get_integral,
					cast( ifnull(d.store_renmai_money,'') as decimal(10,2)) store_renmai_money,
					ifnull(d.discount_content,'') as discount_content,
   		    		ifnull(d.tihuo_id,'') as tihuo_id,
  		    		ifnull(d.tihuo_status,'') as tihuo_status,
  		    		ifnull(d.pay_sort_type,'1') as pay_sort_type,
  		    		ifnull(d.order_status,'') as order_status,
  		    		ifnull(d.order_id,'') as order_id,
  		    		ifnull(e.operator_name,'') as operator_name,
		    		ifnull(f.shift_name,'') as shift_name 
 		  from 
					tb_store_wealthhistory a
					left join tb_store b on b.store_id = a.store_id
					left join tb_member c on c.member_id = a.user_id
					left join tb_store_operator e on e.store_operator_id=a.store_operator_id
 					left join tb_waterrecord g on g.waterrecord_id = a.store_wealthhistory_id
					left join tb_order d on d.order_id = g.waterrecord_id 
 	 				left join tb_store_shift f on f.store_shift_id =d.store_shift_id
  		  where
					a.store_wealthhistory_id=#{store_wealthhistory_id}
					 
	</select>
	
	
	<!-- 数据详情 -->
	<select id="findByWealthId" parameterType="pd" resultType="pd">
		 select 
					a.store_wealthhistory_id, a.wealth_type, a.number, a.profit_type, a.store_id, a.process_status ,
 					b.tixian_money 
 		  from      tb_store_wealthhistory a left join tb_store b on a.store_id=b.store_id
   		  where 	a.store_wealthhistory_id=#{store_wealthhistory_id}
					<if test="process_status != null and process_status != '' ">and process_status=#{process_status}</if>
					 
	</select>
	
	
	
</mapper>

