<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Keyword_replyMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_KEYWORD_REPLY(
			KEYWORD,	
			TARGET_TYPE,	
			CONTENT,	
			KEYWORD_REPLY_ID,
			CREATEDATE,
			UPDATEDATE
		) values (
			#{keyword},	
			#{target_type},	
			#{content},	
			#{keyword_reply_id},
			now(),
			now()
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_KEYWORD_REPLY
		where 
			KEYWORD_REPLY_ID = #{keyword_reply_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_KEYWORD_REPLY
			set 
				keyword = #{keyword},
				target_type = #{target_type},
				content = #{content},
			keyword_reply_id = keyword_reply_id
			where 
				KEYWORD_REPLY_ID = #{keyword_reply_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			keyword,	
			target_type,	
			content,	
			keyword_reply_id
		from 
			TB_KEYWORD_REPLY
		where 
			keyword_reply_id = #{keyword_reply_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				keyword,	
				target_type,	
				content,	
				keyword_reply_id,
				createdate,
				updatedate
		from 
				tb_keyword_reply
		where  
				1=1
				<if test="pd.content != null and pd.content != ''"><!-- 关键词检索 -->
					and
						(
							keyword=#{pd.content}
						)
				</if>
				<if test="pd.target_type != null and pd.target_type != ''"><!-- 用户类型检索 -->
					and target_type=#{pd.target_type}
		 		</if>
		order by updatedate desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.keyword,	
				a.target_type,	
				a.content,	
				a.keyword_reply_id
		from 
				TB_KEYWORD_REPLY a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_KEYWORD_REPLY
		where 
			KEYWORD_REPLY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>