<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Menu_roleMapper">

	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			menu_role_name,	
			menu_role_id,
			role_type
		from 
			tb_menu_role
		where 
			menu_role_id = #{menu_role_id}
	</select>
	
	<!-- 判断角色是否有重复 -->
	<select id="findByName" parameterType="pd" resultType="pd">
		select 
			*
		from 
			tb_menu_role
		where 
			menu_role_name = #{menu_role_name}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.menu_role_name,	
				a.menu_role_id,
				a.role_type
		from 
				tb_menu_role a
 	</select>
	
	<!-- 可操作的角色列表魏0715 -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.menu_role_name,	
				a.menu_role_id,
				a.role_type
		from 
				tb_menu_role a
		where
				role_type='1'
	</select>
	
	
		
	<!-- 所有的角色列表-->
	<select id="listAllRole" parameterType="pd" resultType="pd">
		select
				a.menu_role_name,	
				a.menu_role_id,
				a.role_type
		from 
				tb_menu_role a
 	</select>

	
	<!-- 获取父类的名称魏0713 -->
	<select id="listAllParentMenu" parameterType="pd" resultType="pd">
		select 
			distinct
			menu_parent_id,
			menu_parent_name	
 		from 
			tb_menu 
		where 
			status='1'
		order by menu_parent_id 
	</select>
	
	<!-- 获取子类菜单的名称魏0713 -->
	<select id="listAllMenu" parameterType="pd" resultType="pd">
		select 
 			menu_name,
			menu_id,
			menu_parent_name
 		from 
			tb_menu 
		where
			status='1'
	</select>
	
	<!-- 新增角色以及权限魏汉文0714-->
	<insert id="saveRole" parameterType="pd">
		insert into tb_menu_role(
			menu_role_name,	
			menu_role_id,
			role_type
		) values (
			#{menu_role_name},	
			#{menu_role_id},
			#{role_type}
		)
	 </insert>
	 
	 <!-- 新增角色以及权限魏汉文0714-->
	<insert id="saveQx" parameterType="pd">
		insert into tb_menu_qx(
			menu_role_id,	
			menu_id,
			save,
			del,
			edit,
			look
		) values (
			#{menu_role_id},	
			#{menu_id},
			#{save},
			#{del},
			#{edit},
			#{look}
		)
	 </insert>
	 
	 <!-- 新增菜单以及权限 -->
	<insert id="saveMenu" parameterType="pd">
		insert into tb_menu (
 			menu_id,
 			menu_name,
			menu_parent_name,
			menu_parent_id,
			status
		) values (
 			#{menu_id},
 			#{menu_name},
 			#{menu_parent_name},
			#{menu_parent_id},
			#{status}
		)
	</insert>

	 
	 <!-- 获取指定ID的所有权限菜单魏0715-->
	<select id="listAllQx" parameterType="pd" resultType="pd">
		select
				a.qx_id,
				a.look,	
				a.save,	
				a.del,	
				a.edit,	
				a.menu_id,
 				a.menu_role_id,
 				b.menu_name,
 				b.menu_parent_name
		from 
				tb_menu_qx a left join tb_menu b on a.menu_id=b.menu_id 
		where 
				a.menu_role_id=#{menu_role_id}
		order by qx_id
	</select>
	
		
	<!-- 修改 魏0715-->
	<update id="delQx" parameterType="pd">
			update  tb_menu_qx
			set 
				save = '0',
				del = '0',
				edit = '0',
				look = '0',
				qx_id = qx_id
			where 
				qx_id = #{qx_id}
	</update>
		
	<!-- 修改权限魏0715 -->
	<update id="updateQx" parameterType="pd">
			update  tb_menu_qx
			set 
				save = #{save},
				del = #{del},
				edit = #{edit},
				look = #{look},
				qx_id = qx_id
			where 
				menu_role_id = #{menu_role_id}
				and menu_id=#{menu_id}
	</update>
	
	<!-- 删除魏0715-->
	<delete id="deleteQx" parameterType="pd">
		delete from tb_menu_qx
		where 
			1=1
			<if test="menu_role_id != null and menu_role_id != ''">and menu_role_id = #{menu_role_id}</if>
			<if test="qx_id != null and qx_id != '' ">and qx_id = #{qx_id}</if>
			
	</delete>
	
	<!-- 删除魏0715-->
	<delete id="delete" parameterType="pd">
		delete from tb_menu_role
		where 
			menu_role_id = #{menu_role_id}
	</delete>
	
		
 	<!-- 修改魏0715 -->
	<update id="edit" parameterType="pd">
		update  tb_menu_role
			set 
				<if test="menu_role_name != null and menu_role_name != '' ">  menu_role_name = #{menu_role_name} ,</if>
				<if test="role_type != null and role_type != '' ">  role_type = #{role_type},</if>
 				menu_role_id = menu_role_id
			where 
				menu_role_id = #{menu_role_id}
	</update>
	
</mapper>