<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Operator_fileMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into tb_operator_file(
			operator_name,	
			idnumber,	
			phone,	
			menu_role_id,	
 			post_name,	
			open_status,	
			password,	
			entry_time,	
			createdate,	
			updatedate,
			operator_file_id,
			province_id,
			city_id,
			area_id
		) values (
			#{operator_name},	
			#{idnumber},	
			#{phone},	
			#{menu_role_id},	
 			#{post_name},	
			#{open_status},	
			#{password},	
			#{entry_time},	
			now(),	
			now(),	
			#{operator_file_id},
			#{province_id},
			#{city_id},
			#{area_id} 
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from tb_operator_file
		where 
			operator_file_id = #{operator_file_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  tb_operator_file
			set 
				<if test="menu_role_id != null and menu_role_id != ''">menu_role_id = #{menu_role_id},</if>
				<if test="password != null and password != ''">password = #{password},</if>
				<if test="open_status != null and open_status != ''">open_status = #{open_status},</if>
				<if test="post_name != null and post_name != ''">post_name = #{post_name},</if>
				<if test="phone != null and phone != ''">phone = #{phone},</if>
				<if test="operator_name != null and operator_name != ''">operator_name = #{operator_name},</if>
				<if test="idnumber != null and idnumber != ''">idnumber = #{idnumber},</if>
				<if test="entry_time != null and entry_time != ''">entry_time = #{entry_time},</if>
 				 operator_file_id=operator_file_id
			where 
				operator_file_id = #{operator_file_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
				 a.operator_name,	
				 a.idnumber,	
				 a.phone,	
				 a.operator_file_id,	
				 a.menu_role_id,	
 				 a.post_name,	
				 a.open_status,	
				 a.password,	
				 a.createdate,
				 a.entry_time,
				 a.updatedate,
				 a.nowmoney,
				 a.province_id,
				 a.city_id,
				 a.area_id,
				 b.`name` as province_name,
				 c.`name` as city_name,
				 d.`name` as area_name
		from 
				tb_operator_file a
				left join tb_pcd b on a.province_id=b.pcd_id
				left join tb_pcd c on a.city_id=c.pcd_id
				left join tb_pcd d on a.area_id=d.pcd_id
		where 
				a.operator_file_id = #{operator_file_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.operator_name,	
				a.idnumber,	
				a.phone,	
				a.operator_file_id,	
				a.menu_role_id,	
 				a.post_name,	
				a.open_status,	
				a.password,	
				a.createdate,
				a.entry_time,
				a.updatedate,
				a.province_id,
				a.city_id,
				a.area_id,
				b.`name` as province_name,
				c.`name` as city_name,
				d.`name` as area_name
		from 
				tb_operator_file a
				left join tb_pcd b on a.province_id=b.pcd_id
				left join tb_pcd c on a.city_id=c.pcd_id
				left join tb_pcd d on a.area_id=d.pcd_id
		where  1=1
				<if test="pd.content != null and pd.content != ''"><!-- 关键词检索 -->
		 					 and
								(
									a.phone like CONCAT(CONCAT("%",#{pd.content}),"%")
									or
									a.operator_file_id like CONCAT(CONCAT("%",#{pd.content}),"%")
		 						)
		 		</if>
		 		<if test="pd.login_cityname != null and pd.login_cityname != ''"><!-- 登录人的所在 城 市 -->
							and  find_in_set(c.name,#{pd.login_cityname}) 
				</if>
				<if test="pd.login_areaname != null and pd.login_areaname != ''"><!-- 登录人的所在 区 域 -->
							and  find_in_set(d.name,#{pd.login_areaname}) 
				</if>
		order by a.createdate desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.operator_name,	
				a.idnumber,	
				a.phone,	
				a.operator_file_id,	
				a.menu_role_id,	
 				a.post_name,	
				a.open_status,	
				a.password,	
				a.createdate,
				a.entry_time,
				a.updatedate
		from 
				tb_operator_file a
	</select>

	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from tb_operator_file
		where 
			operator_file_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	
	<!-- 获取最大值的ID -->
	<select id="getMaxId" parameterType="pd" resultType="String">
		select
				MAX(a.operator_file_id)
		from 
				tb_operator_file a
	</select>
	
	
		
	<!-- 所有操作员的角色列表 -->
	<select id="opRolelistPage" parameterType="page" resultType="pd">
		select
				a.operator_name,	
 				a.phone,	
				a.operator_file_id,	
				a.menu_role_id,
				b.menu_role_name
		from 
				tb_operator_file a left join tb_menu_role b on a.menu_role_id=b.menu_role_id
		where  
				1=1
				<if test="pd.content != null and pd.content != ''"><!-- 关键词检索 -->
		 					 and
								(
									b.menu_role_id like CONCAT(CONCAT("%",#{pd.content}),"%")
									or
									b.menu_role_name like CONCAT(CONCAT("%",#{pd.content}),"%")
									or
									a.operator_file_id like CONCAT(CONCAT("%",#{pd.content}),"%")
		 						)
		 		</if>
				<if test="pd.menu_role_id != null and pd.menu_role_id != ''"><!-- 角色 -->
		 		and a.menu_role_id=#{pd.menu_role_id}
		 		</if>
		order by a.createdate desc
	</select>
	
	<!-- 通过登陆获取数据 -->
	<select id="findByLogin" parameterType="pd" resultType="pd">
		select 
				 a.operator_name,	
 				 a.phone,	
				 a.operator_file_id,	
				 a.menu_role_id,	
 				 a.open_status,
 				 b.`name` as province_name,
				 c.`name` as city_name,
				 d.`name` as area_name
  		from 
				tb_operator_file a
				left join tb_pcd b on a.province_id=b.pcd_id
				left join tb_pcd c on a.city_id=c.pcd_id
				left join tb_pcd d on a.area_id=d.pcd_id
		where 
				open_status='1'
				and operator_file_id = #{operator_file_id}
				and password=#{password}
	</select>
	
	
</mapper>