<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pc_advertMapper">

	<!-- 新增-->
	<insert id="lastsaveAdvert" parameterType="pd">
		insert into tb_pc_advert(
 			 city_file_id ,
			 type,
		     pc_advert_name
		) values (
			 #{city_file_id},
			 '4',
		     '主界面轮播2'
		);
	</insert>
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into tb_pc_advert(
			RANKING,	
			IMAGE_NAME,	
			IMAGE_URL,	
			HYPERLINK_URL,	
			STARTTIME,	
			ENDTIME,	
			ifimage,
			PC_ADVERT_ID
		) values (
			#{ranking},	
			#{image_name},	
			#{image_url},	
			#{hyperlink_url},	
			#{starttime},	
			#{endtime},
			#{ifimage},	
			#{pc_advert_id}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_PC_ADVERT
		where 
			PC_ADVERT_ID = #{pc_advert_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  tb_pc_advert
			set 
					<if test="image_url != null and image_url != '' ">
					image_name = #{image_name},
					image_url = #{image_url},
					</if>
					<if test="hyperlink_url != null and hyperlink_url != '' ">
					hyperlink_url = #{hyperlink_url},
					</if>
					<if test="starttime != null and starttime != '' ">
					starttime = #{starttime},
					</if>
					<if test="endtime != null and endtime != '' ">
					endtime = #{endtime},
					</if>
 					<if test="advert_type != null and advert_type != '' ">
					advert_type = #{advert_type},
					</if>
 					<if test="ranking != null and ranking != '' ">
					ranking = #{ranking},
					</if>
  					pc_advert_id = pc_advert_id
			where 
				pc_advert_id = #{pc_advert_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			ranking,	
			image_name,	
			image_url,	
			hyperlink_url,	
			starttime,	
			endtime,	
			pc_advert_id,
			pc_advert_name
		from 
			TB_PC_ADVERT
		where 
			pc_advert_id = #{pc_advert_id}
	</select>
	
	
	<!-- 广告列表列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.ranking,	<!-- 排序 -->
				a.image_name,	
				a.image_url,	
				a.hyperlink_url,	
				a.starttime,	
				a.endtime,	
				a.ifimage,
				a.pc_advert_id,
				a.type,
				a.pc_advert_name
		from 
				tb_pc_advert a
		where  
				1=1
				<if test=" pd.city_file_id != null and pd.city_file_id != '' ">
				and a.city_file_id=#{pd.city_file_id}
				</if>
		order by a.type 
	</select>
	
	<!-- 魏汉文列表(全部)20160801 -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.ranking,	
				a.image_name,	
				a.image_url,	
				a.hyperlink_url,	
				a.starttime,	
				a.endtime,	
				a.pc_advert_id,
				a.pc_advert_name,
				a.type
		from 
				tb_pc_advert a
		where
				1=1
				<if test=" city_file_id != null and city_file_id != '' ">
	                  and a.city_file_id=#{city_file_id}
				</if>
				<if test="pc_type != null and pc_type != '' ">
				and a.type=#{pc_type}
 				</if>
   		order by ranking
 		<if test="pc_type != '4'.toString() ">
				limit 1
 		</if>
  	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_PC_ADVERT
		where 
			PC_ADVERT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 批量查询-->
	<select id="selectAll" parameterType="pd" resultType="pd">
		select
				ifnull(a.ranking,"" ) ranking,	
				ifnull(a.image_url,"" ) image_url,	
				ifnull(a.hyperlink_url,"#" ) hyperlink_url
		from 
				tb_pc_advert a
		where
				<if test=" city_file_id != null and city_file_id != '' ">
	                   a.city_file_id=#{city_file_id}
				</if>
				<if test="pc_type != null and pc_type != '' ">
					and a.type=#{pc_type}
 				</if>
 				and to_days(now()) &gt;= to_days(a.starttime) 
                and to_days(now()) &lt;= to_days(a.endtime) 
		order by ranking 
 	</select>
 	
</mapper>