<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Processing_issuesMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_PROCESSING_ISSUES(
			PROCESS_TYPE,	
			MONEY,	
			REDPACKAGE_NUMBER,	
			PROVINCE_ID,	
			CITY_ID,	
			AREA_ID,	
			SENDTIME,	
			APPROVAL,	
			REVIEW_ID,	
			OPERATOR_ID,	
			PROCESSING_ISSUES_ID
		) values (
			#{process_type},	
			#{money},	
			#{redpackage_number},	
			#{province_id},	
			#{city_id},	
			#{area_id},	
			#{sendtime},	
			#{approval},	
			#{review_id},	
			#{operator_id},	
			#{processing_issues_id}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_PROCESSING_ISSUES
		where 
			processing_issues_id = #{processing_issues_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_PROCESSING_ISSUES
			set 
				process_type = #{process_type},
				money = #{money},
				redpackage_number = #{redpackage_number},
				province_id = #{province_id},
				city_id = #{city_id},
				area_id = #{area_id},
				sendtime = #{sendtime},
				approval = #{approval},
				review_id = #{review_id},
				operator_id = #{operator_id},
			processing_issues_id = processing_issues_id
			where 
				processing_issues_id = #{processing_issues_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			process_type,	
			money,	
			redpackage_number,	
			province_id,	
			city_id,	
			area_id,	
			sendtime,	
			approval,	
			review_id,	
			operator_id,	
			processing_issues_id
		from 
			TB_PROCESSING_ISSUES
		where 
			processing_issues_id = #{processing_issues_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.process_type,	
				a.money,	
				a.redpackage_number,	
				a.province_id,	
				a.city_id,	
				a.area_id,	
				a.sendtime,	
				a.approval,	
				a.review_id,	
				a.operator_id,	
				a.processing_issues_id
		from 
				TB_PROCESSING_ISSUES a
		where  1=1
		<if test="pd.content != null and pd.content != ''"><!-- 关键词检索 -->
			and
				(
					 
				)
		</if>
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.process_type,	
				a.money,	
				a.redpackage_number,	
				a.province_id,	
				a.city_id,	
				a.area_id,	
				a.sendtime,	
				a.approval,	
				a.review_id,	
				a.operator_id,	
				a.processing_issues_id
		from 
				TB_PROCESSING_ISSUES a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_PROCESSING_ISSUES
		where 
			PROCESSING_ISSUES_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>