<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sp_fileMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into tb_sp_file(
			menu_role_id,	
			team_name,	
			industry_commerce_name,	
			subsidiary_id,	
 			area_id,	
  			principal,	
			fixed_telephone,	
			phone,	
			email,	
			wechat,	
			qq,	
 			sign_time,	
			start_time,	
			earnest_money,	
 			sp_address,	
			onecity_file_sort_id,	
			twocity_file_sort_id,	
			threecity_file_sort_id,	
			fourcity_file_sort_id,	
			fixcity_file_sort_id,	
			allcity_file_sort_id,	
			createdate,	
			sp_file_id
		) values (
			#{menu_role_id},	
			#{team_name},	
			#{industry_commerce_name},	
			#{subsidiary_id},	
 			#{area_id},	
 			#{principal},	
			#{fixed_telephone},	
			#{phone},	
			#{email},	
			#{wechat},	
			#{qq},	
 			#{sign_time},	
			#{start_time},	
			#{earnest_money},	
 			#{sp_address},	
			#{onecity_file_sort_id},	
			#{twocity_file_sort_id},	
			#{threecity_file_sort_id},	
			#{fourcity_file_sort_id},	
			#{fixcity_file_sort_id},	
			#{allcity_file_sort_id},	
			now(),	
			#{sp_file_id}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_SP_FILE
		where 
			SP_FILE_ID = #{sp_file_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  tb_sp_file
			set 
				<if test="team_name != null and team_name != ''  ">team_name = #{team_name},</if>
				<if test="industry_commerce_name != null and industry_commerce_name != ''  ">industry_commerce_name = #{industry_commerce_name},</if>
				<if test="subsidiary_id != null and subsidiary_id != ''  ">subsidiary_id = #{subsidiary_id},</if>
				<if test="area_id != null and area_id != ''  ">area_id = #{area_id},</if>
				<if test="principal != null and principal != ''  ">principal = #{principal},</if>
				<if test="fixed_telephone != null and fixed_telephone != ''  ">fixed_telephone = #{fixed_telephone},</if>
				<if test="phone != null and phone != ''  ">phone = #{phone},</if>
				<if test="email != null and email != ''  ">email = #{email},</if>
				<if test="wechat != null and wechat != ''  ">wechat = #{wechat},</if>
				<if test="qq != null and qq != ''  ">qq = #{qq},</if>
				<if test="sign_time != null and sign_time != ''  ">sign_time = #{sign_time},</if>
				<if test="start_time != null and start_time != ''  ">start_time = #{start_time},</if>
				<if test="earnest_money != null and earnest_money != ''  ">earnest_money = #{earnest_money},</if>
				<if test="earnest_status != null and earnest_status != ''  ">earnest_status = #{earnest_status},</if>
				<if test="sp_status != null and sp_status != ''  ">sp_status = #{sp_status},</if>
				<if test="sp_address != null and sp_address != ''  ">sp_address = #{sp_address},</if>
				<if test="password != null and password != ''  ">password = #{password},</if>
				<if test="onecity_file_sort_id != null and onecity_file_sort_id != ''  ">onecity_file_sort_id = #{onecity_file_sort_id},</if>
				<if test="twocity_file_sort_id != null and twocity_file_sort_id != ''  ">twocity_file_sort_id = #{twocity_file_sort_id},</if>
				<if test="threecity_file_sort_id != null and threecity_file_sort_id != ''  ">threecity_file_sort_id = #{threecity_file_sort_id},</if>
				<if test="fourcity_file_sort_id != null and fourcity_file_sort_id != ''  ">fourcity_file_sort_id = #{fourcity_file_sort_id},</if>
				<if test="fixcity_file_sort_id != null and fixcity_file_sort_id != ''  ">fixcity_file_sort_id = #{fixcity_file_sort_id},</if>
				<if test="allcity_file_sort_id != null  ">allcity_file_sort_id = #{allcity_file_sort_id},</if>
				<if test="nowmoney != null and nowmoney != ''  ">nowmoney = #{nowmoney},</if>
 				sp_file_id = sp_file_id
			where 
				sp_file_id = #{sp_file_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			a.team_name,	
			a.industry_commerce_name,	
			a.subsidiary_id,
			(select  c.subsidiary_name	 from  tb_subsidiary c where  c.subsidiary_id =a.subsidiary_id  limit 1) as 	subsidiary_name,
 			a.area_id,
 			b.name as area_name,
  			e.name as city_name,
  			e.pcd_id as city_id,
  			f.pcd_id as province_id,
 			f.name as province_name,
   			a.sp_address,
  			a.allcity_file_sort_id,
 			a.principal,	
			a.fixed_telephone,	
			a.phone,	
			a.email,	
			a.wechat,	
			a.qq,	
			a.sp_file_id,	
			a.password,
			a.sign_time,	
			a.start_time,	
			a.earnest_money,
			a.earnest_status,	
			ifnull(a.nowmoney,'0') as nowmoney,
			a.sp_status,	
			a.createdate
 		from 
			tb_sp_file a
			left join tb_pcd b on area_id=b.pcd_id 
			left join tb_pcd e on b.parent_id=e.pcd_id 
			left join tb_pcd f on e.parent_id=f.pcd_id 
			
		where 
			1=1
			<choose>
				<when test="sp_file_id != null and sp_file_id != '' ">and a.sp_file_id = #{sp_file_id}</when>
				<otherwise>
					<if test="province_name != null and province_name != ''">and f.name=#{province_name}</if>
					<if test="city_name != null and city_name != ''">and e.name=#{city_name}</if>
					<if test="area_name != null and area_name != ''">and b.name=#{area_name}</if>
				</otherwise>
			</choose>
		limit 1
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.team_name,	
				a.industry_commerce_name,	
				a.subsidiary_id,	
				(select  c.subsidiary_name from tb_subsidiary c where a.subsidiary_id=c.subsidiary_id ) as subsidiary_name,
 				a.area_id,
  				b.name as area_name,
	 			e.name as city_name,
	 			f.name as province_name,
  				a.onecity_file_sort_id,
 				a.twocity_file_sort_id,
 				a.threecity_file_sort_id,
 				a.fourcity_file_sort_id,
 				a.fixcity_file_sort_id,
 				(select d.sort_name from tb_city_file_sort d where d.city_file_sort_id=a.onecity_file_sort_id ) as onecity_file_sort_name,
 				(select d.sort_name from tb_city_file_sort d  where d.city_file_sort_id=a.twocity_file_sort_id ) as twocity_file_sort_name,
 				(select d.sort_name from tb_city_file_sort d where d.city_file_sort_id=a.threecity_file_sort_id ) as threecity_file_sort_name,
 				(select d.sort_name from tb_city_file_sort d  where d.city_file_sort_id=a.fourcity_file_sort_id ) as fourcity_file_sort_name,
 				(select d.sort_name from tb_city_file_sort d where d.city_file_sort_id=a.fixcity_file_sort_id ) as fixcity_file_sort_name,
 				a.allcity_file_sort_id,
 				a.principal,	
				a.fixed_telephone,	
				a.phone,	
				a.email,	
				a.wechat,	
				a.qq,	
				a.sp_file_id,	
				a.sign_time,	
				a.start_time,	
				a.earnest_money,	
				a.sp_status,	
				a.nowmoney,
				a.createdate
 		from 
				tb_sp_file a 
				left join tb_pcd b on a.area_id=b.pcd_id
 				left join tb_pcd e on b.parent_id=e.pcd_id 
				left join tb_pcd f on e.parent_id=f.pcd_id  
		where  1=1
				<if test="pd.content != null and pd.content != ''"><!-- 关键词检索 -->
					and
						(
							a.phone like CONCAT("%",CONCAT(#{pd.content},"%"))
							or
							a.team_name like CONCAT("%",CONCAT(#{pd.content},"%"))
							or
							a.principal like CONCAT("%",CONCAT(#{pd.content},"%"))
						)
				</if>
				<if test="pd.area_id != null and pd.area_id != ''"><!-- 关键词检索 -->
					and a.area_id=#{pd.area_id}
 				</if>
				<if test="pd.city_id != null and pd.city_id != ''"><!-- 关键词检索 -->
					and e.pcd_id=#{pd.city_id}
 				</if>
				<if test="pd.province_id != null and pd.province_id != ''"><!-- 关键词检索 -->
					and f.pcd_id=#{pd.province_id}
 				</if>
				<if test="pd.sp_file_id != null and pd.sp_file_id != ''"><!--服务商 -->
					and a.sp_file_id =#{pd.sp_file_id}
	 			</if>
				<if test="pd.subsidiary_id != null and pd.subsidiary_id != ''"><!--子公司 -->
					and a.subsidiary_id =#{pd.subsidiary_id}
	 			</if>
				<if test="pd.login_cityname != null and pd.login_cityname != ''"><!-- 登录人的所在 城 市 -->
					and  find_in_set(e.name,#{pd.login_cityname}) 
				</if>
				<if test="pd.login_areaname != null and pd.login_areaname != ''"><!-- 登录人的所在 区 域 -->
					and  find_in_set(b.name,#{pd.login_areaname}) 
				</if>
		order by a.createdate desc
 	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.team_name,	
				a.industry_commerce_name,	
				a.subsidiary_id,	
 				a.area_id,
 				a.onecity_file_sort_id,
 				a.twocity_file_sort_id,
 				a.threecity_file_sort_id,	
 				a.fourcity_file_sort_id,	
 				a.fixcity_file_sort_id,	
 				a.allcity_file_sort_id,
 				a.principal,	
				a.fixed_telephone,	
				a.phone,	
				a.email,	
				a.wechat,	
				a.qq,	
 				a.sign_time,	
				a.start_time,	
				a.earnest_money,	
				a.sp_status,	
				a.createdate,	
				a.sp_file_id
		from 
				tb_sp_file a
		where
				1=1
				<if test="sp_status != null and sp_status != ''">
				and a.sp_status=#{sp_status}
				</if>
				<if test="area_id != null and area_id != ''">
				and a.area_id=#{area_id}
				</if>
				<if test="sp_file_id != null and sp_file_id != ''">
				and a.sp_file_id=#{sp_file_id}
				</if>
				<if test="city_sort_one_parent != null and city_sort_one_parent != ''">
				and  a.allcity_file_sort_id like concat("%",concat(#{city_sort_one_parent},"%"))
 				</if>
	</select>
	
	
	<!-- 列表(全部) -->
	<select id="listAllCount" parameterType="pd" resultType="String">
		select
				count(*)
		from 
				tb_sp_file a
 	</select>
 	
 	<!-- 查询名称 -->
	<select id="findByName" parameterType="pd" resultType="pd">
		select
				*
		from 
				tb_sp_file a
				
				where team_name =#{team_name}
 	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_SP_FILE
		where 
			SP_FILE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 获取当前表的最大值ID  魏汉文20160602 -->
	<select id="getMaxID" parameterType="pd" resultType="String">
		select
				MAX(a.sp_file_id)
		from 
				TB_SP_FILE a
	</select>
	
	<!--通过区获取所有的服务商-->
	<select id="getSpListBycity" parameterType="pd" resultType="pd">
		select
				a.team_name,	
				a.sp_status,		
				a.sp_file_id,
				a.area_id
		from 
				tb_sp_file a  
		where
				a.sp_status = '1'
				and a.area_id=#{area_id}
 	</select>
 	
 	<!-- 精简 -->
	<select id="listAllSp" parameterType="pd" resultType="pd">
		select
				a.team_name as post_name,		
				a.sp_status,		
				a.sp_file_id as post_id,
				a.sp_file_id
		from 
				tb_sp_file a
		where
				a.sp_status='1'
	</select>
	
	<!-- 通过登陆获取数据 -->
	<select id="findByLogin" parameterType="pd" resultType="pd">
		select 
 			a.team_name,	
			a.industry_commerce_name,	
			a.subsidiary_id,
			a.principal,	
			a.fixed_telephone,	
			a.phone,	
			a.sp_file_id,
			a.menu_role_id,	
 			b.name as area_name,
 			c.name as city_name,
 			d.name as province_name
 		from 
			tb_sp_file a 
			left join tb_pcd b on a.area_id=b.pcd_id
			left join tb_pcd c on b.parent_id=c.pcd_id
			left join tb_pcd d on c.parent_id=d.pcd_id
		where 
			a.sp_file_id = #{sp_file_id}
			and a.password=#{password}
			and a.sp_status='1'
	</select>
	
</mapper>