<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Store_bankcardMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_STORE_BANKCARD(
			ACCOUNT,	
			NUMBER,	
			PHONE,	
			ISDEFAULT,	
			STORE_ID,	
			STORE_BANKCARD_ID
		) values (
			#{account},	
			#{number},	
			#{phone},	
			#{isdefault},	
			#{store_id},	
			#{store_bankcard_id}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_STORE_BANKCARD
		where 
			STORE_BANKCARD_ID = #{store_bankcard_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_STORE_BANKCARD
			set 
				account = #{account},
				number = #{number},
				phone = #{phone},
				isdefault = #{isdefault},
				store_id = #{store_id},
			STORE_BANKCARD_ID = store_bankcard_id
			where 
				STORE_BANKCARD_ID = #{store_bankcard_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			account,	
			number,	
			phone,	
			isdefault,	
			store_id,	
			STORE_BANKCARD_ID
		from 
			TB_STORE_BANKCARD
		where 
			STORE_BANKCARD_ID = #{store_bankcard_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.account,	
				a.number,	
				a.phone,	
				a.isdefault,	
				a.store_id,	
				a.STORE_BANKCARD_ID
		from 
				TB_STORE_BANKCARD a
		where  1=1
		<if test="pd.content != null and pd.content != ''"><!-- 关键词检索 -->
			and
				(
					 
				)
		</if>
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.account,	
				a.number,	
				a.phone,	
				a.isdefault,	
				a.store_id,	
				a.store_bankcard_id
		from 
				TB_STORE_BANKCARD a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_STORE_BANKCARD
		where 
			STORE_BANKCARD_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>