<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SubsidiaryMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into tb_subsidiary(
			subsidiary_name,	
			house_name,	
			subsidiary_ic_name,
			address,	
			province_id,	
			city_id,	
			area_id,	
			createdate,	
			password,
			phone,
			menu_role_id,
			subsidiary_id
		) values (
			#{subsidiary_name},	
			#{house_name},	
			#{subsidiary_ic_name},	
			#{address},	
			#{province_id},	
			#{city_id},	
			#{area_id},	
			now(),	
			#{password},
			#{phone},
			#{menu_role_id},
			#{subsidiary_id}
		)
	</insert>
	
	
	<!-- 新增地域-->
	<insert id="savePcd" parameterType="pd">
		insert into tb_subsidiary_pcd(
 			subsidiary_id,		
			province_id,	
			city_id,	
			area_id,	
			createdate
		) values (
 			#{subsidiary_id},	
			#{province_id},	
			#{city_id},	
			#{area_id},	
			now()
		)
	</insert>
	
	<!-- 删除地域-->
	<delete id="deletePcd" parameterType="pd">
		delete from tb_subsidiary_pcd
		where 
			subsidiary_id = #{subsidiary_id}
	</delete>
	
	<!-- 获取地域集合-->
	<select id="findSubPcdList" parameterType="pd" resultType="pd">
		select 
			a.*,
			(select b.name from tb_pcd b where b.pcd_id=a.province_id ) as province_name,	
			(select b.name from tb_pcd b where b.pcd_id=a.city_id ) as city_name,	
			(select b.name from tb_pcd b where b.pcd_id=a.area_id ) as area_name
		from 
			tb_subsidiary_pcd a
		where 
			a.subsidiary_id = #{subsidiary_id}
	</select>
	
	<!-- 获取地域集合-->
	<select id="cityAll" parameterType="String" resultType="pd">
		select a.pcd_id as area_id,a.`name` as area_name
		from tb_pcd a where a.parent_id =#{city_id}
	</select>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_SUBSIDIARY
		where 
			SUBSIDIARY_ID = #{subsidiary_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  tb_subsidiary
			set 
				<if test=" subsidiary_name != null and subsidiary_name != ''">subsidiary_name = #{subsidiary_name},</if>
				<if test=" house_name != null and  house_name != ''">house_name = #{house_name},</if>
				<if test=" subsidiary_ic_name != null and  subsidiary_ic_name != ''">subsidiary_ic_name = #{subsidiary_ic_name},</if>
				<if test=" nowmoney != null and  nowmoney != ''">nowmoney = #{nowmoney},</if>
 				subsidiary_id = subsidiary_id
			where 
				subsidiary_id = #{subsidiary_id}
	</update>
	
	
	<!-- 通过ID获取数据 魏汉文20160531  -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			subsidiary_name,	
			house_name,	
			subsidiary_ic_name,	
			address,
 			createdate,	
 			ifnull(nowmoney,'0') as nowmoney,
			subsidiary_id
		from 
			tb_subsidiary
		where 
			subsidiary_id = #{subsidiary_id}
	</select>
	
	<!-- 登录验证 -->
	<select id="findByLogin" parameterType="pd" resultType="pd">
		select 
				a.subsidiary_name,	
				a.house_name,	
				a.subsidiary_ic_name,	
 				a.subsidiary_posts_id,
 				a.menu_role_id
		from 
				tb_subsidiary
		where 
				subsidiary_id = #{subsidiary_id}
				and password= #{password}
	</select>
	
	
	<!-- 列表  魏汉文20160531 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				DISTINCT(a.subsidiary_name) as subsidiary_name,	
				a.house_name,	
				a.subsidiary_ic_name,	
 				a.address,
 				a.createdate,	
				a.subsidiary_id,
				b.post,	
				b.fixed_telephone,	
				b.phone,	
				b.email,	
				b.wechat,	
				b.qq,	
				b.subsidiary_posts_id,
				c.province_id,	
				c.city_id,	
				c.area_id,
				(select e.name from tb_pcd e where e.pcd_id=c.province_id ) as province_name,	
				(select e.name from tb_pcd e where e.pcd_id=c.city_id ) as city_name,	
				(select e.name from tb_pcd e where e.pcd_id=c.area_id ) as area_name
		from 
				tb_subsidiary a 
				left join tb_subsidiary_posts b on a.subsidiary_id=b.subsidiary_id and b.isfirst='1'
				left join tb_subsidiary_pcd c on c.subsidiary_id=a.subsidiary_id
		where  
				1=1
 				<if test="pd.content != null and pd.content != ''"><!-- 关键词检索 -->
					and
						(
							a.subsidiary_name like CONCAT(CONCAT("%",#{pd.content}),"%")
							or
							a.house_name like CONCAT(CONCAT("%",#{pd.content}),"%")
   						)
				</if>
				<if test="pd.province_id != null and pd.province_id != ''"><!-- 关键词检索 -->
					and
						(
							c.province_id=#{pd.province_id}
						)
				</if>
				<if test="pd.city_id != null and pd.city_id != ''"><!-- 关键词检索 -->
					and
						(
							c.city_id=#{pd.city_id}
						)
				</if>
				<if test="pd.area_id != null and pd.area_id != ''"><!-- 关键词检索 -->
					and
						(
							c.area_id=#{pd.area_id}
						)
				</if>
				GROUP BY a.subsidiary_name
		order by a.createdate desc
	</select>
	
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.subsidiary_name,	
				a.house_name,	
				a.subsidiary_ic_name,		
				a.createdate,	
				a.subsidiary_id,
				b.post,	
				b.fixed_telephone,	
				b.phone
		from 
				tb_subsidiary a left join tb_subsidiary_posts b on a.subsidiary_id=b.subsidiary_id and b.isfirst='1'
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_SUBSIDIARY
		where 
			SUBSIDIARY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                #{item}
		</foreach>
	</delete>
	
	<!-- 获取最大值的ID -->
	<select id="getMaxId" parameterType="pd" resultType="String">
		select
				MAX(a.subsidiary_id)
		from 
				tb_subsidiary a
	</select>
	
	
	<!-- 获取所有子公司精简魏汉文20160608 -->
	<select id="listAllSub" parameterType="pd" resultType="pd">
		select
				a.subsidiary_name as post_name,
				a.subsidiary_id as post_id
		from 
				tb_subsidiary a
	</select>
	
	
</mapper>