<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SystemMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into tb_menu_qx(
			MENE_ROLE_ID,
 			MENU_ID,
			QX_READ_STATUS,
			QX_ADD_STATUS,
			QX_EDIT_STATUS,
			QX_DELETE_STATUS,
			CREATEDATE,
			UPDATEDATE	
		) values (
			#{menu_role_id},	
 			#{menu_id},	
			#{qx_read_status},	
			#{qx_add_status},	
			#{qx_delete_status},	
			#{qx_edit_status},	
			now(),	
			now()
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from tb_menu_qx
		where 
			menu_role_id = #{menu_role_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		 update tb_menu_qx
		 set
		 	menu_role_id=menu_role_id
		 where
		 		menu_role_id=#{menu_role_id}
	</update>
	
	
	
	
	<!-- 通过ID获取数据 魏汉文20160531  -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
				 a.menu_role_id,
 				 a.menu_id,
				 a.qx_read_status,
				 a.qx_add_status,
				 a.qx_edit_status,
				 a.qx_delete_status,
				 a.createdate,
				 a.updatedate
		from 
				tb_menu_qx a
		where 
				menu_role_id = #{menu_role_id}
	</select>
	
	
	<!-- 列表  魏汉文20160531 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				 a.menu_role_id,
 				 a.menu_id,
				 a.qx_read_status,
				 a.qx_add_status,
				 a.qx_edit_status,
				 a.qx_delete_status,
				 a.createdate,
				 a.updatedate
		from 
				tb_menu_qx a
		where  
				1=1
 				<if test="pd.content != null and pd.content != ''"><!-- 关键词检索 -->
					and
						(
							a.menu_role_name like CONCAT(CONCAT("%",#{pd.content}),"%")
  						)
				</if>
 		order by a.createdate desc
	</select>
	
	<!-- 列表(全部)魏汉文，获取所有权限 -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				 a.menu_role_id,
 				 a.menu_id,
				 a.qx_read_status,
				 a.qx_add_status,
				 a.qx_edit_status,
				 a.qx_delete_status,
				 a.createdate,
				 a.updatedate
		from 
				tb_menu_qx a
		where 
				a.menu_role_id=#{menu_role_id}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from tb_menu_qx
		where 
			menu_role_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                #{item}
		</foreach>
	</delete>
	
	<!-- 角色列表 -->
	<select id="roleListAll" parameterType="pd" resultType="pd">
		select
				 a.menu_role_id,
				 a.menu_role_name,
				 a.role_type
 		from 
				tb_menu_role a
		where 
				1=1
				and a.role_type != 0
				<if test="role_type != null and role_type != ''">
			 	 and a.role_type=#{role_type}
			 	</if>
 	</select>
	
	
		
	<!-- 修改总管理用户名密码 -->
	<update id="editAdmin" parameterType="pd">
		 update tb_admin
		 set
		 	<if test="loginnumber != null and loginnumber != ''">
		 	loginnumber=#{loginnumber},
		 	</if>
		 	<if test="name != null and name != ''">
		 	name=#{name},
		 	</if>
		 	<if test="password != null and password != ''">
		 	password=#{password},
		 	</if>
  		 	admin_id=admin_id
		 where
		 		admin_id=#{admin_id}
	</update>
	
		
	<!-- 通过ID获取数据 魏汉文20160531  -->
	<select id="findByIdAdmin" parameterType="pd" resultType="pd">
		select
				 a.*
		from 
				tb_admin a
		where 
				1=1
				<if test="admin_id !=null and admin_id != '' ">
				and a.admin_id = #{admin_id}
				</if>
				<if test="password !=null and password != '' ">
				and password=#{password} 
				</if>
				<if test="loginnumber !=null and loginnumber != '' ">
				and loginnumber=#{loginnumber}
				</if>
		limit 1
 	</select>
 	
</mapper>