<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppCommentMapper">

	
	<!-- 新增评论魏汉文20160630-->
	<insert id="save" parameterType="pd">
		insert into tb_comment(
 			store_id,	
			content,
			star_number,
			star_time,
			member_id,
			order_id,
			image_url
		) values (
 			#{store_id},			
			#{content},
 			#{star_number},
 			now(),
 			#{member_id},
 			#{order_id},
 			#{image_url}
 		)
	</insert>
	
	
	
	<!-- 评价详情  -->
	<select id="findByIdForSave" parameterType="pd" resultType="pd">
		select
				a.store_id,	
				a.comment_id,
				a.order_id,	
				ifnull(a.content,"") content,
				cast(a.star_number as decimal(10,1)) star_number,	
				date_format(a.star_time,'%Y-%m-%d %H:%i:%s') star_time,
 				ifnull(a.image_url,"") as commentimage_url,	
 				ifnull(a.comment_store,"") comment_store ,
				ifnull(a.comment_store_status,"") comment_store_status,
				ifnull(b.phone,"") phone ,
				ifnull(b.image_url,"") image_url 
		from 
				tb_comment a  join tb_member b on a.member_id=b.member_id
		where   
				1=1
				<choose>
					<when test="comment_id != null and comment_id != ''"> 
						and a.comment_id=#{comment_id}
					</when>
					<otherwise>
						and a.order_id=#{order_id}
						and a.member_id=#{member_id}
					</otherwise>
				</choose>
  	</select>
	
	<!-- 商家的评论列表魏汉文20160630-->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.store_id,	
				a.comment_id,
				ifnull(a.content,"") content,
				cast(a.star_number as decimal(10,1)) star_number,	
				date_format(a.star_time,'%Y-%m-%d %H:%i:%s') star_time,
 				a.order_id,	
				ifnull(a.image_url,"") as commentimage_url,	
				ifnull(b.phone,"") phone ,
				ifnull(a.comment_store,"") comment_store ,
				ifnull(a.comment_store_status,"") comment_store_status,
				ifnull(b.image_url,"") image_url 
		from 
				tb_comment a left join tb_member b on a.member_id=b.member_id
		where   
				a.store_id=#{store_id}
		order by a.star_time desc
	</select>
	
	<!-- 商家的评论列表魏汉文20160630 分页-->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.store_id,	
				a.comment_id,
				ifnull(a.content,"") content,
				cast(a.star_number as decimal(10,1)) star_number,	
				date_format(a.star_time,'%Y-%m-%d %H:%i:%s') star_time,
 				a.order_id,		
 				ifnull(a.image_url,"") as commentimage_url,	
				ifnull(b.phone,"") phone ,
				ifnull(a.comment_store,"") comment_store ,
				ifnull(a.comment_store_status,"") comment_store_status,
				ifnull(b.image_url,"") image_url
		from 
				tb_comment a 
				left join tb_member b on a.member_id=b.member_id
		where   
				a.store_id=#{pd.store_id}
		order by a.star_time desc
	</select>
	
	<!--统计星级以及单数值-->
	<select id="countStart" parameterType="pd" resultType="pd">
		select	
 				count(order_id) number,
				cast(sum(star_number)  as decimal(15,1))  star_number,
				store_id
 		from 
				tb_comment 
		where   	
				store_id=#{store_id}	
	</select>
	
	<!-- 商家回复修改 -->
	<update id="updComment" parameterType="pd">
		    update  tb_comment
			set 
				<if test="comment_store !=null and comment_store != '' ">
				comment_store=#{comment_store},
				</if>
 				comment_store_status = #{comment_store_status}
			where 
				comment_id = #{comment_id}
	</update>
	
	
	<!-- 商家的评论列表魏汉文20160630-->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
				a.comment_id,
				a.content,
				a.star_number,
				a.star_time,
				a.member_id,
				ifnull(a.image_url,'') as image_url,
				a.order_id,
				a.store_id,
				a.comment_store,
				a.comment_store_status,
				b.actual_money,
				b.user_integral,
				b.user_balance,
				b.get_integral
		from 
				tb_comment a join tb_order b on a.order_id=b.order_id
 		where   
				a.comment_id = #{comment_id}
	</select>
</mapper>