<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppPay_historyMapper">
	
	
	<!-- 新增支付历史记录魏汉文20160705-->
	<insert id="savePayhistory" parameterType="pd">
		insert into tb_pay_history(
			pay_history_id,
 			user_type,	
			user_account,	
			money_type,	
			money,	
			remittance_type,	
			remittance_name,	
			remittance_number,	
			pay_time ,
			pay_status ,
			order_tn,	
			payee_number ,
			order_id ,
			payer_id,
			operate_id,
			province_name,
			city_name,
			area_name
		) values (
			#{pay_history_id},	
 			#{user_type},	
			#{user_account},	
			#{money_type},	
			#{money},	
			#{remittance_type},	
			#{remittance_name},	
			#{remittance_number},	
			now(),
			#{pay_status},	
			#{order_tn},	
			#{payee_number}, 
			#{order_id}, 
			#{payer_id}, 
			#{operate_id}, 
			#{province_name}, 
			#{city_name}, 
			#{area_name} 
		)
	</insert>
	
	<!-- 清空支付历史记录魏汉文20160705 -->
	<delete id="deleteStatusZero">
	delete from tb_pay_history
	where pay_status='0'
	</delete>
	
	<!-- 通过ID获取数据魏汉文20160705 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 	
  			*
		from 
			tb_pay_history
		where 
			pay_history_id = #{pay_history_id}
	</select>
	 
	 
	 <!-- 修改魏汉文20160705 -->
	<update id="editPayhistory" parameterType="pd">
			update  tb_pay_history
			set 
			    <if test="pay_status != null and pay_status != ''">
			    pay_status = #{pay_status},
			    </if>
			    <if test="remittance_name != null and remittance_name != ''">
			    remittance_name = #{remittance_name},
			    </if>
 			    <if test="order_tn != null and order_tn != ''">
			    order_tn = #{order_tn},
			    pay_time = now(),
			    </if>
 				pay_history_id = pay_history_id
			where 
				pay_history_id = #{pay_history_id}
	</update>
	
</mapper>