<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppWithdraw_approvalMapper">
	
	
	<!-- 新增提现记录魏汉文20160704-->
	<insert id="saveWithdraw" parameterType="pd">
		insert into tb_withdraw_approval(
			withdraw_approval_id,
			user_id,	
			user_type,	
 			money,	
 			withdraw_rate,	
 			arrivalMoney,
 			nowuser_money,
  			withdraw_channel,	
			withdraw_number,
			withdraw_username,	
			withdraw_type,	
 			apply_time ,
 			account_name,
			account_type,
			province_name,
			city_name,
			area_name,
 			phone
		) values (
			#{withdraw_approval_id},	
			#{user_id},	
			#{user_type},	
 			#{money},	
 			#{withdraw_rate},	
 			#{arrivalMoney},	
 			#{nowuser_money},	
			#{withdraw_channel},	
			#{withdraw_number},	
			#{withdraw_username},	
			#{withdraw_type},	
 			now() ,
 			#{account_name},	
			#{account_type},
			#{province_name},
			#{city_name},
			#{area_name},
			#{phone}
		)
	</insert>
	
	<!-- 提现列表(全部)魏汉文20160706 -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.user_id,	
				a.user_type,	
 				a.money,	
				a.withdraw_number,	
				a.withdraw_type,	
				a.withdraw_status,	
				a.remark,
				date_format(a.apply_time,'%Y-%c-%d %H:%i:%s') apply_time,
				date_format(a.pass_time,'%Y-%c-%d %H:%i:%s') pass_time,
 				a.operator_id,	
				a.withdraw_approval_id
		from 
				tb_withdraw_approval a
		where 
				a.user_id=#{user_id}
				and a.user_type=#{user_type}
				<if test="day != null and day != ''">
				and date_format(a.apply_time,'%Y-%m-%d') = #{day}
				</if>
	</select>
	
</mapper>