<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OneYuanMapper">
	
	<!-- 新增一元商品-->
	<insert id="saveGoods" parameterType="pd">
		insert into tb_oneyuangoods(
			oneyuangoods_id,
			oneyuangoodsimage_url,	
			oneyuangoods_name,	
 			oneyuangoodsneed_quantity,	
 			nowtimes,
 			createtime,	
  			overtime,
			createoprator_id,
			thistype_id 
		) values (
			#{oneyuangoods_id},	
 			#{oneyuangoodsimage_url},	
 			#{oneyuangoods_name},	
 			#{oneyuangoodsneed_quantity},	
 			#{nowtimes},		
 			now() ,
 			#{overtime},
			#{createoprator_id},
			#{thistype_id} 
		)
	</insert>
	
 
	
	<!-- 修改商品信息 魏汉文-->
	<update id="editGoods" parameterType="pd">
			update  tb_oneyuangoods
			set 
				<if test=" oneyuangoodsimage_url != null and oneyuangoodsimage_url != '' ">oneyuangoodsimage_url = #{oneyuangoodsimage_url},</if>
				<if test=" oneyuangoods_name != null and oneyuangoods_name != '' ">oneyuangoods_name = #{oneyuangoods_name},</if>
				<if test=" oneyuangoodsneed_quantity != null and oneyuangoodsneed_quantity != '' ">oneyuangoodsneed_quantity = #{oneyuangoodsneed_quantity},</if>
				<if test=" isover != null and isover != '' ">isover = #{isover},</if>
				<if test=" oneyuangoodsnowpay_quantity != null and oneyuangoodsnowpay_quantity != '' ">
					oneyuangoodsnowpay_quantity = #{oneyuangoodsnowpay_quantity},
					oneyuangoodsrate = oneyuangoodsneed_quantity/#{oneyuangoodsnowpay_quantity},
				</if>
				<if test=" nowtimes != null and nowtimes != '' ">nowtimes = #{nowtimes},</if>
				<if test=" value_a != null and value_a != '' ">value_a = #{value_a},</if>
				<if test=" value_a_text != null and value_a_text != '' ">value_a_text = #{value_a_text},</if>
				<if test=" value_b != null and value_b != '' ">value_b = #{value_b},</if>
				<if test=" value_b_text != null and value_b_text != '' ">value_b_text = #{value_b_text},</if>
				<if test=" member_id != null and member_id != '' ">member_id = #{member_id},</if>
				<if test=" locky_number != null and locky_number != '' ">locky_number = #{locky_number},</if>
				<if test=" overtime != null and overtime != '' ">overtime = #{overtime},</if>
				<if test=" createoprator_id != null and createoprator_id != '' ">createoprator_id = #{createoprator_id},</if>
  				oneyuangoods_id = oneyuangoods_id
			where 
				oneyuangoods_id = #{oneyuangoods_id}
	</update>
	
	
	<!-- 通过商品获取会员关联起来 魏汉文-->
	<select id="findByIdWithMember" parameterType="pd" resultType="pd">
		select 
			a.oneyuangoods_id,
			a.oneyuangoodsimage_url,	
			a.oneyuangoods_name,	
 			a.oneyuangoodsneed_quantity,	
 			a.nowtimes,
 			a.value_a,
			a.value_b,	
			a.value_a_text,	
 			a.value_b_text ,
 			a.createtime,	
 			a.member_id,
			a.locky_number,
			a.overtime,
			a.isover,
			a.createoprator_id,
			a.thistype_id,
			b.mylocky_number,
			date_format(b.createtime,'%Y-%m-%d %H:%i:%s') as membercreatetime,
			b.now_ip , 
			b.getoneyuan_quantity,
			b.oneyuanmember_id,
			c.phone,
			c.name,
			c.image_url
		from 
			tb_oneyuangoods a 
			left join tb_oneyuanmember b on a.oneyuangoods_id=b.oneyuangoods_id and locate(a.locky_number,b.mylocky_number)=0  
			left join tb_member c on a.member_id=c.member_id
		where 
			a.oneyuangoods_id = #{oneyuangoods_id}
			<if test="nowtimes != null and nowtimes != ''">and a.nowtimes=#{nowtimes}</if>
 	</select>
	
	
	<!-- 列表商品 魏汉文2016.6.12-->
	<select id="datalistPageGoods" parameterType="page" resultType="pd">
		select
		    oneyuangoods_id,
			oneyuangoodsimage_url,	
			oneyuangoods_name,	
 			oneyuangoodsneed_quantity,	
 			nowtimes,
 			value_a,
			value_b,	
			value_a_text,	
 			value_b_text ,
 			date_format(createtime,	'%Y-%m-%d %H:%i:%s') as createtime,
  			member_id,
			locky_number,
			overtime,
			isover,
			createoprator_id,
			thistype_id 
		from 
				tb_oneyuangoods 
		where  
				1=1
				<if test="pd.content != null and pd.content != ''"> 
				and  oneyuangoods_name like concat(concat("%",#{pd.content}),"%")
  				</if>
 				<if test="pd.isover != null and pd.isover != ''">
 				and isover=#{pd.isover}
  				</if>
   		order by createtime desc
	</select>
	
 	
	
	<!-- 所有的一元商品 魏汉文2016.6.12-->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		    oneyuangoods_id,
			oneyuangoodsimage_url,	
			oneyuangoods_name,	
 			oneyuangoodsneed_quantity,	
 			nowtimes,
 			value_a,
			value_b,	
			value_a_text,	
 			value_b_text ,
 			date_format(createtime,	'%Y-%m-%d %H:%i:%s') as createtime,
  			member_id,
			locky_number,
			overtime,
			isover,
			createoprator_id,
			thistype_id 
		from 
				tb_oneyuangoods 
		where  
				1=1
 				<if test="isover != null and isover != ''">
 				and isover=#{isover}
  				</if>
   		order by createtime desc
	</select>
	
 	
	<!--获取所有购买当前商品的会员 -->
	<select id="findAllMemberBuyThisGoods" parameterType="pd" resultType="pd">
		select 
			a.oneyuangoods_id,
			a.oneyuangoodsimage_url,	
			a.oneyuangoods_name,	
 			a.oneyuangoodsneed_quantity,	
 			a.nowtimes,
 			a.value_a,
			a.value_b,	
			a.value_a_text,	
 			a.value_b_text ,
 			a.createtime,	
 			a.member_id,
			a.locky_number,
			date_format(a.overtime,	'%Y-%m-%d %H:%i:%s') as overtime,
 			a.isover,
			a.createoprator_id,
			a.thistype_id,
			b.mylocky_number,
			date_format(b.createtime,	'%Y-%m-%d %H:%i:%s') as membercreatetime,
			b.now_ip , 
			b.getoneyuan_quantity,
			b.oneyuanmember_id,
			c.phone,
			c.name,
			c.image_url
		from 
			tb_oneyuangoods a 
			left join tb_oneyuanmember b on a.oneyuangoods_id=b.oneyuangoods_id and locate(a.locky_number,b.mylocky_number)=0  
			left join tb_member c on a.member_id=c.member_id
		where 
			a.oneyuangoods_id = #{oneyuangoods_id}
 	</select>
 	
 	
 	<!-- 购买一元购商品的会员 -->
 	<insert id="saveMemberBuyGoods" parameterType="pd">
		insert into tb_oneyuanmember(
			oneyuanmember_id,
			oneyuangoods_id,	
			getoneyuan_quantity,	
 			member_id,	
 			mylocky_number,
 			createtime,	
  			now_ip ,
  			in_jiqi ,
  			allpay_money ,
  			buy_status
		) values (
			#{oneyuanmember_id},	
 			#{oneyuangoods_id},	
 			#{getoneyuan_quantity},	
 			#{member_id},	
 			#{mylocky_number},		
 			now() ,
 			#{now_ip}  ,
 			#{in_jiqi}  ,
 			#{allpay_money}  ,
 			#{buy_status}  
		)
	</insert>
	
	<!-- 修改购买一元商品的记录 -->
 	<update id="editMemberGoods" parameterType="pd">
		update  tb_oneyuanmember
		set buy_status=#{buy_status}
		where oneyuanmember_id=#{oneyuanmember_id}
	</update>
	
	<!--获取购买当前商品的记录信息 -->
	<select id="findMemberOrderById" parameterType="pd" resultType="pd">
		select 
			oneyuanmember_id,
			oneyuangoods_id,	
			getoneyuan_quantity,	
 			member_id,	
 			mylocky_number,
 			createtime,	
  			now_ip ,
  			in_jiqi ,
  			buy_status
		from 
			tb_oneyuanmember
		where 
			oneyuanmember_id = #{oneyuanmember_id}
 	</select>
	
	
	<!-- 一元购新增商品订单魏汉文20160705-->
	<insert id="saveOneYuanOrder" parameterType="pd">
		insert into tb_order(
 			look_number,	
 			sale_money,	
 			actual_money,	
			pay_type,	
 			payer_id,	
 			createtime,	
			pay_time,
 			order_id,
 			order_status,
 			tihuo_status,
 			store_id,
   			channel,
  			in_jiqi,
  			order_tn,
  			discount_after_money 
 		) values (
  			#{look_number},	
 			#{sale_money},	
  			#{actual_money},	
			#{pay_type},	
   			#{member_id},	
  			now(),	
			now(),	
 			#{order_id},
 			#{order_status},
 			#{tihuo_status},
 			#{store_id},
  			#{channel},
 			#{in_jiqi},
 			#{order_tn},
 			#{discount_after_money} 
  		)
	</insert>
		
 	<!-- 删除未购买成功的订单 -->
 	<delete id="deleteoneyuanmember" parameterType="pd">
		delete from tb_oneyuanmember
		where buy_status='0'
	</delete>
		
 	
	
	 
	
</mapper>