.sx_box{
    position: relative;
    width: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 4;
    height:40px;
}
.sx_nav{
    height:40px;
    line-height: 20px;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
}
.sx_nav li{
    position: relative;
    overflow: hidden;
    width: 33.3333%;
    height:50%;
    margin: 10px 0;
    float: left;
    text-align: center;
    border-right: 1px solid #aaa;
    box-sizing: border-box;
    padding: 0 0.5%;
}
.sx_nav li:nth-child(3){
    border: 0;
}
.sx_nav li span{
    -webkit-transition: all 0.5s;
}
.sx_nav li span:nth-child(2){
    float: right;
    margin: 5px 0;
}
.show_list{
    width:100%;
    background: #fff;
    position: relative;
}

.dask{
    background: #000;
    position: absolute;
    width: 100%;
    height:100%;
}
.show_list ul{
    overflow: hidden;
    height: 0;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
    -webkit-transition: all 0.8s;
    width:100%;
    float: left;
}
.show_list li{
    box-sizing: border-box;
    padding:3% 10%;
    border-bottom:1px solid #eee;
}
.show_list li span{
    float: right;
    transform: scaleY(2);
    vertical-align: middle;
    line-height: 16px;
}
.show_list ul:nth-child(1){
    float: left;
    width:50%;
    margin-right: 50%;
    max-height: 400px;
    overflow-y:scroll;
    position: relative;
}
.show_list ul:nth-child(2){
    width:50%;
    max-height: 400px;
    overflow-y:scroll;
    position: absolute;
    float: right;
    box-sizing: border-box;
    top:0;
    right:0;
    -webkit-transition: all 0.8s;
}


