<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="XJTOrderMapper" >

	
	<!-- 我的购物车(全部) -->
	<select id="datalistPage" parameterType="pd" resultType="pd">
		select 
			a.order_id,
			a.look_number,
			a.sale_money,
			a.actual_money,
 			a.order_status,
			a.tihuo_status,
			a.tihuo_id,
			a.pay_type,
			a.channel,
			a.channel as pay_way,
			date_format(a.createtime ,'%Y-%m-%d %H:%i:%s') as createtime,
			a.store_id,
			a.payer_id,
  			e.name,
 			e.member_id,
 			f.store_name,
 			f.pictrue_url  
		from 
			tb_order a 
  			left join tb_member e on e.member_id = a.payer_id
			left join tb_store f on a.store_id = f.store_id
		where 
			a.payer_id = #{pd.member_id}
			and a.deletestatus='0'
			<if test="pd.order_status != null and pd.order_status != ''"> 
	               and   a.order_status = #{pd.order_status}
			</if>
			<if test="pd.tihuo_status != null and pd.tihuo_status != ''"> 
	               and   a.tihuo_status = #{pd.tihuo_status}
			</if>
			<if test="pd.pay_type != null and pd.pay_type != ''"> 
	               and   a.pay_type = #{pd.pay_type}
			</if>
			<if test="pd.monthnumber != null and pd.monthnumber != ''">
				<if test="pd.monthnumber =='1'.toString() "> 
				and  date_sub(curdate(), interval 1 month) &lt;= date(a.createtime)
				</if>
				<if test="pd.monthnumber =='2'.toString() "> 
				and  date_sub(curdate(), interval 2 month) &lt;= date(a.createtime)
				</if>
				<if test="pd.monthnumber =='3'.toString() "> 
				and  date_sub(curdate(), interval 3 month) &lt;= date(a.createtime)
				</if>
			</if>
		order by a.createtime desc
	</select>
	
	<!-- 按照订单id删除 -->
	<update id="delOrder" parameterType="pd">
		update  tb_order
		set 	deletestatus='1'
		where   order_id = #{order_id}
	</update>
	
	
	<!-- 支付完成后的订单详情 -->
	<select id="findByOrderId" parameterType="pd" resultType="pd">
		select 
 				cast(cast((ifnull(a.sale_money,'0')) as decimal(10,2)) as char)  sale_money,
	 			cast(cast((ifnull(a.discount_money,'0')) as decimal(10,2)) as char)  discount_money,
	 			cast(cast((ifnull(a.no_discount_money,'0')) as decimal(10,2)) as char)  no_discount_money,
	 			cast(cast((ifnull(a.actual_money,'0')) as decimal(10,2)) as char)  actual_money,
	 			cast(cast((ifnull(a.get_integral,'0')) as decimal(10,2)) as char)  get_integral,
	 			cast(cast((ifnull(a.user_balance,'0')) as decimal(10,2)) as char)  user_balance,
	 			cast(cast((ifnull(a.user_integral,'0')) as decimal(10,2)) as char)  user_integral,
	 			cast(cast((ifnull(a.discount_after_money,'0')) as decimal(10,2)) as char)  discount_after_money,
	 			cast(cast((ifnull(a.store_renmai_money,'0')) as decimal(10,2)) as char)  store_renmai_money,
				a.look_number,
				a.tihuo_id,
				ifnull(a.channel,'nowpay') as channel,
				ifnull(a.discount_content,'') as discount_content,
 				a.pay_type,
				date_format(a.createtime,'%Y-%m-%d %H:%i:%s') as createtime,
				date_format(a.tihuo_time,'%Y-%m-%d %H:%i:%s') as tihuo_time,
				ifnull(a.tihuolimit_day,TO_DAYS(a.enddate)-TO_DAYS(a.startdate)) as tihuolimit_day,
				b.store_name ,
				b.pictrue_url,
 				a.store_id,
				a.payer_id,
				a.payer_id as member_id,
 				ifnull(a.remark,'') as remark,
				ifnull(c.address,'') as th_address
		from   
				tb_order a 
				left join tb_store b on a.store_id= b.store_id
				left join tb_store_file c on a.store_id= c.store_id
		where 
				<choose>
					<when test="tihuo_id != null and tihuo_id != ''">a.tihuo_id=#{tihuo_id}</when>
					<otherwise>a.order_id=#{order_id}</otherwise>
				</choose> 
 	</select>
	
	
	<!-- 批量删除购物车 -->
	<delete id="deleteAll" parameterType="String">
		delete from tb_shopcart
		where 
			shopcart_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
</mapper>