<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppCity_fileMapper">
	
	
	<!-- 通过省市区获取Id  魏汉文20160622 -->
	<select id="findIdByPcd" parameterType="pd" resultType="pd">
		select
				a.province_id,	
				a.city_id,	
				a.area_id,	
				b.`name` as province_name,
				c.`name` as city_name,
				d.`name` as area_name,
				a.open_status,	
 				a.createdate,	
				a.city_file_id ,
				m.city_marketing_id
		from 
			
				tb_city_file a 
				join tb_city_marketing m on a.city_file_id=m.city_file_id
				left join tb_pcd b on a.province_id=b.pcd_id
				left join tb_pcd c on a.city_id=c.pcd_id
				left join tb_pcd d on a.area_id=d.pcd_id
		where 
				a.open_status='1'
				<if test="province_name != null and province_name != ''">
				and b.name=#{province_name}
				</if>
				<if test="city_name != null and city_name != ''">
				and c.name=#{city_name}
				</if>
				<if test="area_name != null and area_name != ''">
				and d.name=#{area_name}
				</if>
		limit 1
  	</select>
	
	<!-- 通过城市档案ID获取营销参数ID数据魏汉文20160622 -->
	<select id="findByCityId" parameterType="pd" resultType="pd">
		select 
 			city_file_id,	
			city_marketing_id
		from 
			tb_city_marketing
		where 
			1=1
			<if test="city_file_id != null and city_file_id != '' ">
			and city_file_id = #{city_file_id}
			</if>
			<if test="city_marketing_id != null and city_marketing_id != '' ">
			and city_marketing_id = #{city_marketing_id}
			</if>
		limit 1
 	</select>
	
	
	<!-- 列表(全部省刘耀耀2016.06.22) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				distinct
				a.province_id,
				b.name as province_name	
		from 
				tb_city_file a left join tb_pcd b on b.pcd_id=a.province_id
		where
		 		1=1
		 		<if test="open_status != null and open_status != ''">
				and a.open_status=#{open_status}
				</if>
	</select>
	
 <!-- 获取省下所有的市-->
	<select id="listAllCity" parameterType="pd" resultType="pd">
		select
				distinct
				a.city_id,
 				b.name as city_name	
 		from 
				tb_city_file a left join tb_pcd b on b.pcd_id=a.city_id
		where
				1=1
				<if test=" province_name != null and  province_name != ''">
				and (select b.name from tb_pcd b where b.pcd_id=a.province_id )=#{province_name}
				</if>
				<if test=" province_id != null and  province_id != ''">
				and a.province_id=#{province_id}
				</if>
				<if test="content != null and content != ''">
				and b.name like concat(concat('%',#{content}),'%')
				</if>
				<if test="open_status != null and open_status != ''">
				and a.open_status=#{open_status}
				</if>
  	</select>
 
	
	<!-- 获取市下所有的区-->
	<select id="listAllArea" parameterType="pd" resultType="pd">
		select
				distinct
				a.area_id,
 				b.name as area_name	
 		from 
				tb_city_file a left join tb_pcd b on b.pcd_id=a.area_id
		where
				1=1
				<if test=" city_id != null and  city_id != ''">
				and a.city_id=#{city_id}
				</if>
				<if test="province_name != null and province_name != ''">
				and a.province_id=#{province_id}
				</if>
				<if test="city_name != null and city_name != ''">
				and (select b.name from tb_pcd b where b.pcd_id=a.city_id )=#{city_name}
				</if>
				<if test="open_status != null and open_status != ''">
				and a.open_status=#{open_status}
				</if>
 	</select>

	<!-- 获取所有的城市1/2级分类（魏汉文20160623） -->
	<select id="listAllCitySort" parameterType="pd" resultType="pd">
		select
				  e.city_file_sort_id,	
				  e.sort_name,
				  e.sort_type,
				  e.sequence,
				  ifnull(e.sort_imageurl,"") sort_imageurl
   		from 
				tb_city_file_sort e
 				left join tb_city_file a on a.city_file_id=e.city_file_id
				left join tb_pcd b on a.province_id=b.pcd_id
				left join tb_pcd c on a.city_id=c.pcd_id
				left join tb_pcd d on a.area_id=d.pcd_id
		where
				a.open_status='1'<!-- 城市开启状态 -->
				and e.open_status='1'<!-- 分类开启状态 -->
				<choose>
 					<when test="city_file_id != null and city_file_id != ''">
						 and a.city_file_id = #{city_file_id}
					</when>
					<otherwise>
						<if test="province_name != null and province_name != ''">
						and b.name=#{province_name}
						</if>
						<if test="city_name != null and city_name != ''">
						and c.name=#{city_name}
						</if>
						<if test="area_name != null and area_name != ''">
						and d.name=#{area_name}
						</if>
					</otherwise>
				</choose>
  				and e.sort_parent_id=#{sort_parent_id}
				and e.sort_type=#{sort_type}
	    order by cast(e.sequence as signed)
	</select>
	
</mapper>