<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppStoreMapper">	
	
	<!-- 修改成为  刘耀耀 2016.06.12-->
	<update id="edit" parameterType="pd">
		update  tb_store
			set 
				<if test="only_store_id != null and only_store_id != ''">only_store_id = #{only_store_id},</if>
				<if test="integral_rate != null and integral_rate != ''">integral_rate = #{integral_rate},</if>
				<if test="password != null and password != ''">password = #{password},</if>
				<if test="service_rate != null and service_rate != ''">service_rate = #{service_rate},</if>
				<if test="store_vip_id != null and store_vip_id != ''">store_vip_id = #{store_vip_id},</if>
  				<if test="pictrue_url != null and pictrue_url != ''">logo = #{logo},</if>
  				<if test="pictrue_url != null and pictrue_url != ''">pictrue_url = #{pictrue_url},</if>
				<if test="recharge_times != null and recharge_times != ''">recharge_times = recharge_times+1,</if>
				<if test="transaction_times =='1'.toString()">transaction_times = transaction_times+1,</if>
				<if test="withdraw_times != null and withdraw_times != ''">withdraw_times = withdraw_times+1,</if>
				<if test="merchant_level != null and merchant_level != ''">merchant_level = #{merchant_level},</if>
				<if test="complex_score != null and complex_score != ''">complex_score = #{complex_score},</if>
				<if test="comment_score != null and comment_score != ''">comment_score = #{comment_score},</if>
				<if test="tixian_money != null and tixian_money != ''">tixian_money = #{tixian_money},</if>
  				store_id=store_id
			where 
				store_id = #{store_id}
	</update>
	
	
	
	<!-- 更新赞次数 -->
	<update id="editZanNumber" parameterType="pd">
			update  tb_store a
			set 
  				a.zan_times = (select count(*) from tb_zan b where b.be_zan_id=a.store_id ),
  				a.store_id=a.store_id
			where 
 			    a.store_id = #{store_id}
 	</update>
	
	<!-- 更新收藏次数 -->
	<update id="editCollectNumber" parameterType="pd">
			update  tb_store a
			set 
 				a.collection_times = (select count(*) from tb_collect b where b.store_id=a.store_id ),
  				a.store_id=a.store_id
			where 
 			    a.store_id = #{store_id}
 	</update>
	
	<!-- 修改侧横尸费用  刘耀耀 2016.06.12-->
	<update id="editFeeByCity" parameterType="pd">
		update  tb_store_file
			set 
 				<if test="profit_type =='9'.toString()">endtime = now(),</if><!-- 首次购买服务费的结束时间为当前的时间 -->
 				<if test="next_city_file_fee_id != null and next_city_file_fee_id != ''">next_city_file_fee_id = #{next_city_file_fee_id},</if>
  				store_id=store_id
			where 
				store_id = #{store_id}
	</update>
	
	
	<!--刘耀耀 清处zan表数据 2016.06.23-->
	<delete id="deleteZan">
		delete from tb_zan
	</delete>
	
	
	
	<!--刘耀耀 修改商家状态2016.07.22-->
	<update id="editType" parameterType="pd">
		update  
				tb_store
			set 
				merchant_status=#{merchant_status}
			where 
				store_id = #{store_id}
	</update>
	
		
	<!--修改商家保证金的状态2016.07.22-->
	<update id="editEarnestType" parameterType="pd">
		   update  
				tb_store_file
			set 
				<if test="em_statestatus != null and em_statestatus != ''">
					em_statestatus=#{em_statestatus},
				</if>
				<if test="sf_statestatus != null and sf_statestatus != ''">
					sf_statestatus=#{sf_statestatus},
				</if>
				<if test="earnest_status != null and earnest_status != ''">
					earnest_status=#{earnest_status},
				</if>
				<if test="service_status != null and service_status != ''">
					service_status=#{service_status},
				</if>
				<if test="sp_money != null and sp_money != ''">
					sp_money=#{sp_money},
				</if>
				<if test="clerk_money != null and clerk_money != ''">
					clerk_money=#{clerk_money},
				</if>
				<if test="biaozhun_content != null and biaozhun_content != ''">
					biaozhun_content=#{biaozhun_content},
				</if>
				<if test="biaozhun_status != null and biaozhun_status != ''">
					biaozhun_status=#{biaozhun_status},
				</if>
				<if test="city_file_fee_id != null and city_file_fee_id != ''">city_file_fee_id = #{city_file_fee_id},</if>
  				<if test="endtime != null and endtime != ''">endtime = #{endtime},</if>
 				<if test="starttime != null and starttime != ''">starttime = #{starttime},</if>
 				store_id=store_id
 			where 
				store_id = #{store_id}
	</update>
	
	<!-- 通过ID获取密码-->
	<select id="findPassword" parameterType="String" resultType="String">
		select 
				ifnull(a.password,'') as password
 		from 
			tb_store a  
		where 
			a.store_id = #{store_id}
	</select>
	

	<!-- 通过ID获取数据魏汉文20160620-->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
				a.store_name,
				a.pictrue_url,	
 				a.check_status,	
				a.store_vip_id,	
 				ifnull(a.merchant_status,'0') merchant_status,
				ifnull(a.comment_score,'0') comment_score,
 				a.merchant_level,		
 				a.integral_rate,	
				a.service_rate,	
				a.withdraw_rate,	
				a.lowest_score,	
				a.remind_integral,	
				a.sort_score,	
				a.complex_score,	
				a.recharge_times,	
				a.transaction_times,	
				a.withdraw_times,	
				a.zan_times,	
				a.collection_times,
				a.bigtype_max,	
				a.smalltype_max,	
				a.goods_max,	
 				a.registertel_phone,
 				date_format(a.registertime,	'%Y-%m-%d %H:%i:%s') as registertime,
				a.store_file_id,
				ifnull(a.tixian_money,'0') tixian_money,
 				a.longitude,
				a.latitude ,
 				a.jichushezhi,
				a.store_id,
				ifnull(a.istuisong,'0') as istuisong,
 				ifnull(b.store_introduce,'') store_introduce,
 				b.address,
				ifnull(b.phone_bymemeber,'') phone_bymemeber,
				ifnull(b.store_phone,'') store_phone,
				b.principal,
				b.phone,
				b.province_name,
				b.city_name,
				b.area_name,
  				b.sp_file_id,
				b.clerk_file_id,
				b.earnest_status,
				b.em_statestatus,
				b.earnest_money,
				b.service_status,
				b.system_service_fee ,
				b.sf_statestatus,
				ifnull(b.biaozhun_status,'0') as biaozhun_status,
 				ifnull(b.biaozhun_content , '') as biaozhun_content,
				b.city_file_fee_id,
				b.next_city_file_fee_id,
				b.starttime,
				b.endtime,
				b.isopen_points,
				ifnull(b.transaction_points,'0') as transaction_points
 		from 
				tb_store a 
				left join tb_store_file b on a.store_id=b.store_id
		where 
			a.store_id = #{store_id}
	</select>
	
	
	<!-- 通过ID获取数据魏汉文201606209-->
	<select id="findByIdOne" parameterType="pd" resultType="pd">
		select 
				a.store_name,
				ifnull(a.complex_score,"") complex_score,
				ifnull(a.comment_score,"") comment_score,
				ifnull(a.pictrue_url,"") pictrue_url,
				ifnull(a.logo,"") logo,
				ifnull(b.store_introduce,"") store_introduce,
 				ifnull(b.phone,"") phone,
 				ifnull(b.store_phone,"") store_phone,
 				ifnull(b.phone_bymemeber,"") as phone_bymemeber,
 				ifnull(b.address,"") address,
 				ifnull(b.business_licenses_image_one,"") business_licenses_image_one,
 				ifnull(b.business_licenses_image_two,"") business_licenses_image_two,
 				ifnull(b.license_image_one,"") license_image_one,
 				ifnull(b.license_image_two,"") license_image_two,
 				ifnull(b.license_image_three,"") license_image_three,
 				ifnull(b.license_image_four,"") license_image_four,
 				ifnull(b.license_image_fix,"") license_image_fix,
 				ifnull(b.notice_information,"") notice_information,
 				ifnull(b.management_projects_desc,"") management_projects_desc,
 				a.longitude,
				a.latitude ,
				a.store_id,
				b.sp_file_id,
				ifnull(a.istuisong,'0') as istuisong,
 				(select c.team_name from tb_sp_file c where b.sp_file_id=c.sp_file_id ) as team_name,
				(select c.clerk_name from tb_clerk_file c where b.clerk_file_id=c.clerk_file_id ) as clerk_name
		from 
			tb_store a 
			left join tb_store_file b on a.store_id=b.store_id
		where 
			a.store_id = #{store_id}
	</select>
	
	
	<!-- 通过ID获取数据魏汉文201606209-->
	<select id="findSpById" parameterType="pd" resultType="pd">
		select 
				a.store_name,
				a.store_id,
				b.sp_file_id,
				b.team_name,
				b.phone
		from 
			tb_store_file a 
			left join tb_sp_file b on a.sp_file_id=b.sp_file_id
		where 
			a.store_id = #{store_id}
	</select>


	<!-- 通过ID获取数据精简型的魏汉文20160620-->
	<select id="findByIdForSack" parameterType="pd" resultType="pd">
		select 
					a.store_name,
					ifnull(a.pictrue_url,"") pictrue_url,	
					a.integral_rate,
					a.complex_score,
					a.comment_score,
 	 				a.transaction_times,
 	 				a.zan_times,
	 				a.sort_score,
 	 				a.store_id
		from 
					tb_store a 
		where 
					a.store_id = #{store_id}
					and check_status='1'
	</select>
	
	<!-- 通过ID获取数据精简型的魏汉文20160620-->
	<select id="listZan" parameterType="pd" resultType="pd">
		select 
				zan_id,
				be_zan_id
		from 
			    tb_zan
		where 
				1=1
				<if test="member_id != null  and member_id != '' ">
				and zan_id=#{member_id} 
				</if>
				<if test="store_id != null and  store_id != '' ">
 				and be_zan_id=#{store_id}
				</if>
	</select>
	
	<!-- 新增赞魏汉文2016.06.29-->
	<insert id="saveZan" parameterType="pd">
		insert into tb_zan(
 			zan_id,	
			be_zan_id
		) values (
 			#{zan_id},	
			#{be_zan_id}
		)
	</insert>
	
	<!-- 通过name获取数据  刘耀耀 2016.06.12-->
	<select id="findByName" parameterType="pd" resultType="pd">
		select 
			store_name,	
			sort_score,
			store_id
		from 
			tb_store
		where 
			store_name=#{content}
			or
			store_id=#{content}
	</select>
	
	<!-- 刘耀耀  获取攒的次数 2016.06.23-->
	<select id="getZan" parameterType="pd" resultType="String">
	select
			zan_times
	from 
			tb_store
	where
			store_id=#{store_id}
	</select>
	

	
	<!-- 刘耀耀  获取vip 2016.06.20-->
	<select id="getVidId" parameterType="pd" resultType="String">
	select
			store_vip_id
	from 
			tb_store
	where
			store_id=#{store_id}
	</select>

	<!-- 通过手机号获得商家ID获取数据 魏汉文20160620-->
	<select id="findIdByPhone" parameterType="pd" resultType="pd">
		select 
  				a.store_id,
  				a.store_name
		from 
				tb_store a
		where 
				a.registertel_phone=#{phone}
				and a.check_status='1'
 	</select>
	
	<!-- 统计所有商家魏汉文20160622 -->
	<select id="countStore" parameterType="pd" resultType="String">
		select
				count(*)
		from 
				tb_store 
		where
				check_status='1'
				<if test="score != null and score != ''">
				and CAST(comment_score AS DECIMAL(10,2)) &lt; #{score}
				</if>
	</select>
	
 	<!-- 商品列表魏汉文20160621 -->
	<select id="selectAllGoods" parameterType="pd" resultType="pd">
		select
				a.check_status,		
				a.store_id,
				a.longitude,
				a.latitude 
		from 
				tb_store a
		where  
				a.store_id in
 				<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
				</foreach>
 	</select>
 	
 	
 	<!-- 所有商家位置列表魏汉文20160621 20160623-->
	<select id="getStoreList" parameterType="pd" resultType="pd">
		select
					a.store_name,
					ifnull(a.pictrue_url,"") pictrue_url,	
					a.integral_rate,
					a.complex_score,
					a.comment_score,
 	 				ifnull(cast(f.ordernumber as char) , '0') as transaction_times,
 	 				a.zan_times,
	 				a.sort_score,
 					a.check_status,		
 					a.longitude,
					a.latitude ,
					a.store_id,
					cast((cast(round( 6378.138 * 2 * asin( sqrt( pow( sin(( abs(a.latitude  * pi() / 180 - #{latitude} * pi() / 180) ) / 2 ), 2 ) + cos(a.latitude  * pi() / 180) * cos( #{latitude} * pi() / 180) * pow( sin(( abs(a.longitude * pi() / 180 - #{longitude}  * pi() / 180) ) / 2 ), 2 ))) ,3) as  decimal(10,1))) as char) as distance,
 					a.merchant_level
		from 
					tb_store a 
					left join tb_store_file b on a.store_id=b.store_id 
					left join tb_city_file_sort c on b.city_sort_one=c.city_file_sort_id 
					left join tb_city_file_sort d on b.city_sort_two=d.city_file_sort_id 
					left join tb_city_file_sort e on b.city_sort_three=e.city_file_sort_id 
					left join (select  count(*) as ordernumber , store_id  from  tb_store_wealthhistory where  profit_type='3' and process_status='1' GROUP BY store_id )  as f on a.store_id=f.store_id 
		where  
					a.check_status='1'
					and a.merchant_status != '4'
					and b.open_status='1'
					and b.biaozhun_status='1'
	  				<if test="content != null and content != ''">
					and (
								a.store_name like CONCAT(CONCAT("%",#{content}),"%")
								or
								b.address like CONCAT(CONCAT("%",#{content}),"%")
					)
					</if>
					<if test="sort_type != null and sort_type != '' and sort_type =='1'.toString()">
						<if test="city_file_sort_id != null and city_file_sort_id != ''">
						and (c.sort_parent_id=#{city_file_sort_id} or d.sort_parent_id=#{city_file_sort_id} or e.sort_parent_id=#{city_file_sort_id})
						</if>
					</if>
					<if test="sort_type != null and sort_type != '' and sort_type =='2'.toString()">
						<if test="city_file_sort_id != null and city_file_sort_id != ''">
						and (b.city_sort_one=#{city_file_sort_id} or b.city_sort_two=#{city_file_sort_id} or b.city_sort_three=#{city_file_sort_id})
						</if>
					</if>
	 				<if test="province_name != null and province_name != ''">
					and b.province_name=#{province_name}
					</if>
					<if test="city_name != null and city_name != ''">
					and b.city_name=#{city_name}
					</if>
					<if test="area_name != null and area_name != ''">
					and b.area_name=#{area_name}
					</if>
					<if test="shaixuan != null and shaixuan != '' and shaixuan !='0'.toString()  ">
					and a.store_id in(
									select 
											m.store_id
									from 
											tb_store_marketing m
									where 
											m.open_status='1'
											and m.isguoqi='0'
											<choose>
												<when test="shaixuan =='1'.toString()">and m.marketing_type='2'</when>
												<when test="shaixuan =='2'.toString()">and m.marketing_type='7'</when>
												<when test="shaixuan =='3'.toString()">and m.marketing_type='1'</when>
	 										</choose>
	 							)
	 				</if>
 		<choose>
  			<when test="paixu == '2'.toString()">order by round( 6378.138 * 2 * asin( sqrt( pow( sin(( abs(a.latitude  * pi() / 180 - #{latitude} * pi() / 180) ) / 2 ), 2 ) + cos(a.latitude  * pi() / 180) * cos( #{latitude} * pi() / 180) * pow( sin(( abs(a.longitude * pi() / 180 - #{longitude}  * pi() / 180) ) / 2 ), 2 ))) ,3), a.registertime </when>
  			<when test="paixu == '3'.toString()">order by cast(a.comment_score as decimal(10,1) ) desc, a.registertime </when>
 			<when test="paixu == '4'.toString()">order by cast(a.integral_rate as decimal(10,2) ) desc, a.registertime </when>
 			<when test="paixu == '5'.toString()">order by cast(f.ordernumber as signed) desc, a.registertime </when>
 			<otherwise>order by cast(a.complex_score as decimal(10,1) ) desc , a.registertime </otherwise>
 		</choose>
 		limit #{startnumber},10
	</select>
	
	<!-- 通过ID获取商家精简信息  魏汉文20160624-->
	<select id="findNameById" parameterType="pd" resultType="pd">
		select 
  				a.store_id,
  				a.store_name
		from 
				tb_store a
		where 
				a.store_id=#{store_id}
				and a.check_status='1'
  	</select>
  	
	
  	
  	
  	<!-- 查询消费支付魏汉文20160629-->
	<select id="getPayWayById" parameterType="pd"  resultType="pd">
			select *
			from tb_store_way
			where store_id=#{store_id} 
	</select>
	
	<!-- 查询收藏信息魏汉文20160629-->
	<select id="getCollectionById" parameterType="pd"  resultType="pd">
			select 
					a.collect_id,
					a.store_id,
					a.member_id,
					a.collection_time,
					b.longitude,
					b.latitude 
			from 
					tb_collect a 
					left join tb_store b on a.store_id=b.store_id
			where  
					a.store_id=#{store_id} 
					and member_id=#{member_id} 
	</select>
	
	<!-- 查询收藏列表魏汉文20160629-->
	<select id="listCollectionById" parameterType="pd"  resultType="pd">
			select 
					a.collect_id,
					a.store_id,
					a.member_id,
 					b.longitude,
					b.latitude ,
					ifnull(cast(f.ordernumber as char) , '0') as transaction_times,
					cast((cast(round( 6378.138 * 2 * asin( sqrt( pow( sin(( abs(b.latitude  * pi() / 180 - #{latitude} * pi() / 180) ) / 2 ), 2 ) + cos(b.latitude  * pi() / 180) * cos( #{latitude} * pi() / 180) * pow( sin(( abs(b.longitude * pi() / 180 - #{longitude}  * pi() / 180) ) / 2 ), 2 ))) ,3) as  decimal(10,1))) as char)  as distance,
					b.store_name,
					b.pictrue_url,
					b.comment_score,
					b.integral_rate
			from 
					tb_collect a  
					join tb_store b on a.store_id=b.store_id
					left join (select  count(*) as ordernumber , store_id  from  tb_store_wealthhistory where  profit_type='3' and process_status='1' group by store_id )  as f on b.store_id=f.store_id 
			where  
 					member_id=#{member_id}
	</select>
	
	<!--取消收藏魏汉文20160629-->
	<delete id="deleteCollect"  parameterType="pd">
		delete from tb_collect
		where 
			<choose>
				<when test="collect_id != null and collect_id != ''">collect_id=#{collect_id}</when>
				<otherwise>member_id=#{member_id} and store_id=#{store_id}	</otherwise>
			</choose>
 	</delete>
	
	
	<!-- 新增收藏魏汉文2016.06.29-->
	<insert id="saveCollect" parameterType="pd">
		insert into tb_collect(
			collect_id,
 			store_id,
 			member_id,	
			collection_time
		) values (
 			#{collect_id},	
 			#{store_id},	
 			#{member_id},	
			now()
		)
	</insert>
	
	
	
		
   	
   	<!-- 获取收藏详情-->
	<select id="findCollectId" parameterType="pd" resultType="pd">
		select 
				store_id
		from 
				tb_collect
		where 
 				collect_id = #{collect_id}
	</select>
	
	<!-- 通过ID获取商家的VIP图片地址 魏汉文20160624-->
	<select id="findVipImage" parameterType="pd" resultType="pd">
		select 
  				b.image_url,
  				b.font_color,
  				a.store_id
		from 
				tb_store a 
				left join tb_store_vip b on a.store_vip_id=b.store_vip_id
		where 
				a.store_id=#{store_id}
   	</select>
   	
   	
   	<!-- 人脉获取的精简商家魏汉文20160701-->
	<select id="contactStore" parameterType="pd" resultType="pd">
		select 
				ifnull(a.store_name,"") as name,	
				ifnull(a.pictrue_url,"") as image_url ,
 				a.store_id  as id
 		from 
				tb_store a  
		where 
				a.store_id = #{store_id}
 	</select>
   	
   	<!-- 人脉获取的精简商家魏汉文20160701-->
	<select id="contactStoreList" parameterType="pd" resultType="pd">
		select 
				ifnull(a.store_name,"") as name,	
				ifnull(a.pictrue_url,"") as image_url ,
 				a.store_id  as id
 		from 
				tb_store a  
	</select>
	
	
	  	<!-- 人脉获取的精简商家的操作员魏汉文20160701-->
	<select id="contactStoreForOpratorList" parameterType="pd" resultType="pd">
		select 
				ifnull(a.operator_name,"") as name,	
				ifnull(b.pictrue_url,"") as image_url ,
 				a.store_operator_id  as id
 		from 
				tb_store_operator a left join tb_store b  on a.store_id=b.store_id 
 	</select>
	
	  	<!-- 人脉获取的精简商家的操作员魏汉文20160701-->
	<select id="contactStoreForOprator" parameterType="pd" resultType="pd">
		select 
				ifnull(a.operator_name,"") as name,	
				ifnull(b.pictrue_url,"") as image_url ,
 				a.store_operator_id  as id
 		from 
				tb_store_operator a left join tb_store b on a.store_id=b.store_id 
		where 
				a.store_operator_id = #{store_operator_id}
		limit 1
	</select>
	
	<!-- 通过商家财富魏汉文20160701 -->
	<select id="findWealthById" parameterType="pd" resultType="pd">
		select 
 			a.store_id,
 			c.store_name,
			a.now_wealth,
			a.frozen_wealth,
			a.store_wealth_id,
			b.store_phone,
			c.tixian_money
		from 
			tb_store_wealth a 
			left join tb_store_file  b on a.store_id=b.store_id
			left join tb_store  c on a.store_id=c.store_id
		where 
			 a.wealth_type = '1'
			<if test="store_id != null and store_id != '' ">
			and a.store_id = #{store_id}
			</if>
			
  	</select>
  	
  		
	<!-- 统计商家财富魏汉文20160701 -->
	<select id="sumStoreMoney" parameterType="pd" resultType="String">
		select 
			cast(a.now_wealth as DECIMAL(10,2) ) as now_wealth 
		from 
			tb_store_wealth a 
 		where 
			a.store_id = #{store_id} and wealth_type = '1'
  	</select>
  	
  	<!-- 修改商家积分的财富魏汉文20161222-->
	<update id="editJFWealthById" parameterType="pd">
			update  tb_store_wealth
			set 
				now_wealth = cast(now_wealth-#{money}  as decimal(10,2) ), 
				store_wealth_id=store_wealth_id
			where 
				wealth_type = '1'
				and store_id = #{store_id}
 	</update>
	
	<!-- 修改商家财富魏汉文20160701-->
	<update id="editWealthById" parameterType="pd">
			update  tb_store_wealth
			set 
				<if test="now_wealth != null and now_wealth != ''">now_wealth = #{now_wealth},</if>
				store_wealth_id=store_wealth_id
			where 
				wealth_type = '1'
				<if test="store_wealth_id != null and store_wealth_id != ''">and store_wealth_id = #{store_wealth_id}</if>
				<if test="store_id != null and store_id != ''">and store_id = #{store_id}</if>
				
 	</update>
 	
 	<!-- 新增商家的财富历史记录表-->
	<insert id="saveWealthhistory" parameterType="pd">
		insert into tb_store_wealthhistory(
  			store_wealthhistory_id,	
  			wealth_type,	
			profit_type,	
			number,	
			store_id,	
			pay_type,
			store_operator_id,	
			process_status,	
 			last_wealth,	
			arrivalMoney,	
			user_id,
			in_jiqi,
			jiaoyi_id,
 			createtime,
 			sp_getmoney,
 			send_jf,
 			oneday_renmaijifen,
 			oneday_renmaimoney,
 			transaction_points,
 			orderfuwu_money,
 			ordersp_getmoney
 		) values (
   			#{store_wealthhistory_id},	
   			#{wealth_type},	
			#{profit_type},	
			#{number},	
			#{store_id},	
			#{pay_type},	
			#{store_operator_id},	
			#{process_status},	
 			#{last_wealth},	
			#{arrivalMoney},	
  			#{user_id},	
  			#{in_jiqi},	
  			#{jiaoyi_id},	
 			now() ,
 			ifnull(#{sp_getmoney},'0'), 
 			ifnull(#{send_jf},'0'), 
 			ifnull(#{oneday_renmaijifen},'0'), 
 			ifnull(#{oneday_renmaimoney},'0'), 
  			ifnull(#{transaction_points},'0'),
  			ifnull(#{orderfuwu_money},'0'),
 			ifnull(#{ordersp_getmoney},'0')
		)
	</insert>
	
		
	<!-- 通过商家财富魏汉文20160701 -->
	<select id="findWealthHistoryById" parameterType="pd" resultType="pd">
		select 
 			*
		from 
			tb_store_wealthhistory
		where 
  			store_wealthhistory_id = #{store_wealthhistory_id}
   	</select>
   	
   	<!-- 修改商家财富历史状态魏汉文20160701-->
	<update id="editWealthHistoryStatus" parameterType="pd">
			update  tb_store_wealthhistory
			set 
				<if test="process_status != null and process_status != ''">process_status = #{process_status},</if>
				<if test="sp_getmoney != null and sp_getmoney != ''">sp_getmoney = #{sp_getmoney},</if>
				<if test="user_id != null and user_id != ''">user_id = #{user_id},</if>
				<if test="send_jf != null and send_jf != ''">send_jf = #{send_jf},</if>
 				store_wealthhistory_id=store_wealthhistory_id
			where 
				store_wealthhistory_id = #{store_wealthhistory_id}
	</update>
   	
   	<!-- 总后台  修改商家财富历史状态魏汉文20160701-->
	<update id="editWealthHistoryStatusTwo" parameterType="pd">
			update  tb_store_wealthhistory
			set 
				<if test="process_status != null and process_status != ''">process_status = #{process_status},</if>
				store_wealthhistory_id=store_wealthhistory_id
			where 
				<choose>
					<when test="waterrecord_id != null and waterrecord_id != ''">store_wealthhistory_id = #{waterrecord_id}</when>
					<otherwise>store_wealthhistory_id = #{store_wealthhistory_id}</otherwise>
				</choose>
 	</update>
	
	
	<!-- 获取商家的银行卡汉文20160701 -->
	<select id="findBankById" parameterType="pd" resultType="pd">
		select 
 			*
		from 
			tb_store_bankcard
		where 
  			store_bankcard_id = #{store_bankcard_id}
   	</select>
   	
   	
   	<!-- 通过phone获取laoban-->
	<select id="findByPhone" parameterType="pd" resultType="pd">
		select 
				*
		from 
			tb_store
		where 
			registertel_phone = #{phone}
	</select>

   	
   	<!-- 通过phone获取操作员 -->
	<select id="findByPhoneByOprator" parameterType="pd" resultType="pd">
		select 
				*
		from 
				tb_store_operator
		where 
				operator_phone = #{phone}
	</select>
	
		
	<!-- 会员消费过的商家列表-->
	<select id="saleOrderForStoreByMem" parameterType="pd"  resultType="pd">
			select 
					DISTINCT
					a.store_id,
					a.store_name,
					ifnull(a.pictrue_url,'') as pictrue_url,
					b.payer_id
			from 
					tb_member c
					join tb_order b on c.member_id=b.payer_id 
					join tb_store a  on a.store_id=b.store_id
			where  
 					c.member_id=#{member_id}  and b.order_status='1' and b.tihuo_status='1'
 					
	</select>
	
	<!-- 获取所有已经购买服务费的商家-->
	<select id="listAllOkStore" parameterType="pd" resultType="pd">
		select 
				store_id,
				date_format(endtime,'%Y-%c-%d') endtime
 		from 
				tb_store_file
		where 
			    biaozhun_status = '1'
		order by createdate desc
	</select>
	
	<!-- 统计当前用户的一度二度人脉个数-->
	<select id="countNowUserContacts" parameterType="String" resultType="String">
		select count(*)
		from tb_contacts
		where (contacts_parent_id=#{user_id})
		      or (contacts_parent_id in (select contacts_id
													from tb_contacts
													where contacts_parent_id=#{user_id}))
	</select>
	
	<!-- 统计当前商家总共消费的订单总数-->
	<select id="countNowStoreOrders" parameterType="String" resultType="String">
		select count(*)
		from tb_store_wealthhistory
		where profit_type='3' and store_id=#{store_id}
	</select>
	
		
	<!-- 统计当前商家总共消费金额-->
	<select id="sumNowStoreOrders" parameterType="String" resultType="String">
		select cast( sum(number) as char )
		from tb_store_wealthhistory
		where profit_type='3' and store_id=#{store_id}
	</select>
	
	
	<!-- 新增商家的人脉收益记录表-->
	<insert id="saveStoreRenMaiJf" parameterType="pd">
		insert into tb_store_renmaijf(
  			store_renmaijf_id,	
  			store_id,	
			firstcontact_money,	
			twocontact_money,	
			allmoney,	
			createtime 
 		) values (
   			#{store_renmaijf_id},	
   			#{store_id},	
			#{firstcontact_money},	
			#{twocontact_money},	
			#{allmoney}, 	
 			now()  
		)
	</insert>
	
	<!-- 查看详情 -->
	<select id="findByStoreRenMaiJf" parameterType="pd" resultType="pd">
		   select
				    a.store_renmaijf_id,	
	  				a.store_id,	
					a.firstcontact_money,	
					a.twocontact_money,	
					a.allmoney,	
	 			    date_format(a.createtime,'%Y-%m-%d %H:%i:%s') as createtime ,
	 			    b.store_name
 			from 
					tb_store_renmaijf a 
					left join tb_store b on a.store_id=b.store_id
			where
					a.store_id=#{store_id}
					<if test="now_datetime != null and now_datetime != ''">and  #{now_datetime} =  date_format(a.createtime,'%Y-%m-%d')</if>
	</select>
 	
	
	<!-- 新增商家的人脉收益关联的订单记录表-->
	<insert id="saveStoreRenMaiJf_order" parameterType="pd">
		insert into tb_store_renmaijf_order (
  			store_renmaijf_id,	
  			order_id 
 		) values (
   			#{store_renmaijf_id},	
   			#{order_id} 
		)
	</insert>
	
 <!-- 获取所有的商家-->
	<select id="listAllStore" parameterType="pd" resultType="pd">
		select store_id,store_name
		from tb_store 
 	</select>

 	
 	
	<!-- 获取最近距离的12位商家-->
	<select id="listJlMinMoreStore" parameterType="pd" resultType="pd">
		select 
					a.store_id ,
					round( 6378.138 * 2 * asin( sqrt( pow( sin(( abs(a.latitude  * pi() / 180 - #{latitude} * pi() / 180) ) / 2 ), 2 ) + cos(a.latitude  * pi() / 180) * cos( #{latitude} * pi() / 180) * pow( sin(( abs(a.longitude * pi() / 180 - #{longitude}  * pi() / 180) ) / 2 ), 2 ))) ,3)  as distance
		from 
					tb_store a  join tb_store_file b on a.store_id=b.store_id
		where 
        			a.store_id != #{store_id}
         			and a.check_status='1'
         			and b.biaozhun_status ='1'
  		order by   round( 6378.138 * 2 * asin( sqrt( pow( sin(( abs(a.latitude  * pi() / 180 - #{latitude} * pi() / 180) ) / 2 ), 2 ) + cos(a.latitude  * pi() / 180) * cos( #{latitude} * pi() / 180) * pow( sin(( abs(a.longitude * pi() / 180 - #{longitude} * pi() / 180) ) / 2 ), 2 ))) ,3) 
         limit 0,12
  	</select>
  	
  	<!-- 忽略 -->
  	<select id="listPasswordStore" parameterType="pd" resultType="pd">
		select store_id,password,only_store_id
		from tb_store 
 	</select>
 	<select id="listPasswordStoreOparator" parameterType="pd" resultType="pd">
		select store_operator_id,operator_password   
		from tb_store_operator 
 	</select>
	<!--  -->
	
	<!--                  ===============新的接口20170617开始======================                 -->
	
	<!-- 所有商家位置分页列表魏汉文20160621 20160623-->
	 <select id="getStorelistPage" parameterType="page" resultType="pd">
		select
					a.only_store_id,
					a.store_id,
					a.store_name,
					ifnull(a.pictrue_url,"") pictrue_url,	
					a.integral_rate,
					a.complex_score,
					a.comment_score,
 	 				ifnull(cast(f.ordernumber as char) , '0') as transaction_times,
 	 				a.zan_times,
	 				a.sort_score,
 					a.check_status,		
 					a.longitude,
					a.latitude ,
 					cast((cast(round( 6378.138 * 2 * asin( sqrt( pow( sin(( abs(a.latitude  * pi() / 180 - ifnull(#{pd.latitude},'30') * pi() / 180) ) / 2 ), 2 ) + cos(a.latitude  * pi() / 180) * cos( ifnull(#{pd.latitude},'30') * pi() / 180) * pow( sin(( abs(a.longitude * pi() / 180 - ifnull(#{pd.longitude},'120')  * pi() / 180) ) / 2 ), 2 ))) ,3) as  decimal(10,1))) as char) as distance,
 					a.merchant_level
		from 
					tb_store a 
					left join tb_store_file b on a.store_id=b.store_id 
					left join tb_city_file_sort c on b.city_sort_one=c.city_file_sort_id 
					left join tb_city_file_sort d on b.city_sort_two=d.city_file_sort_id 
					left join tb_city_file_sort e on b.city_sort_three=e.city_file_sort_id 
					left join (select  count(*) as ordernumber , store_id  from  tb_store_wealthhistory where  profit_type='3' and process_status='1' GROUP BY store_id )  as f on a.store_id=f.store_id 
		where  
					a.check_status='1'
					and a.merchant_status != '4'
					and b.open_status='1'
					and b.biaozhun_status='1'
	  				<if test="pd.content != null and pd.content != ''">
					and (
								a.store_name like CONCAT(CONCAT("%",#{pd.content}),"%")
								or
								b.address like CONCAT(CONCAT("%",#{pd.content}),"%")
					)
					</if>
					<if test="pd.sort_type != null and pd.sort_type != '' and pd.city_file_sort_id != null and pd.city_file_sort_id != ''">
						<choose>
							<when test="pd.sort_type =='1'.toString()">and (c.sort_parent_id=#{pd.city_file_sort_id} or d.sort_parent_id=#{pd.city_file_sort_id} or e.sort_parent_id=#{pd.city_file_sort_id})</when>
							<when test="pd.sort_type =='2'.toString()">and (b.city_sort_one=#{pd.city_file_sort_id} or b.city_sort_two=#{pd.city_file_sort_id} or b.city_sort_three=#{pd.city_file_sort_id})</when>
						</choose>
					</if>
	 				<if test="pd.province_name != null and pd.province_name != ''">
					and b.province_name=#{pd.province_name}
					</if>
					<if test="pd.city_name != null and pd.city_name != ''">
					and b.city_name=#{pd.city_name}
					</if>
					<if test="pd.area_name != null and pd.area_name != ''">
					and b.area_name=#{pd.area_name}
					</if>
  		<choose>
  			<when test="pd.storepx_number == '2'.toString() and pd.latitude != null and pd.latitude != ''">order by round( 6378.138 * 2 * asin( sqrt( pow( sin(( abs(a.latitude  * pi() / 180 - #{pd.latitude} * pi() / 180) ) / 2 ), 2 ) + cos(a.latitude  * pi() / 180) * cos( #{pd.latitude} * pi() / 180) * pow( sin(( abs(a.longitude * pi() / 180 - #{pd.longitude}  * pi() / 180) ) / 2 ), 2 ))) ,3),cast(a.complex_score as decimal(10,1) ) desc , a.registertime </when>
  			<when test="pd.storepx_number == '3'.toString()">order by cast(a.comment_score as decimal(10,1) ) desc, cast(a.complex_score as decimal(10,1) ) desc ,a.registertime </when>
 			<when test="pd.storepx_number == '4'.toString()">order by cast(a.integral_rate as decimal(10,2) ) desc, cast(a.complex_score as decimal(10,1) ) desc , a.registertime </when>
 			<when test="pd.storepx_number == '5'.toString()">order by cast(f.ordernumber as signed) desc, cast(a.complex_score as decimal(10,1) ) desc , a.registertime </when>
 			<otherwise>order by cast(a.complex_score as decimal(10,1) ) desc , a.registertime </otherwise>
 		</choose>
 	</select> 
</mapper>