<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LQStore_CollectMapper">	
		
	<select id="findCollectTimes" parameterType="String" resultType="String">
		select 
			count(*)
		from
			tb_collect
		where 
			store_id = #{store_id}
	</select>
	
</mapper>