<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LQStore_UnionMapper">	
		
	<!-- 梁秦2016-6-14 -->
	<select id="findNamelistPage" parameterType="Page" resultType="Store_Union">
		select distinct(name) from tb_store_union
	</select>
	
	
	<!-- 根据商家ID查询用户联盟信息 -->
	<select id="findUnionById" parameterType="String" resultType="Store_Union">
		select 
			*
		from 
			tb_store_union
		where 
			store_id = #{store_id}
	</select>
	
	<!-- 删除联盟中的成员（更改联盟成员的状态 ） -->
	<update id="deleteMember" parameterType="String">
		update tb_store_union
			set
				union_status="2"
			where
				fk_store_id=#{fk_store_id}
	</update>
	
	<!-- 新增联盟成员 -->
	<insert id="newStoreUnion" parameterType="Store_Union">
		insert into tb_store_union(
				store_union_id,
				name,
				starttime,
				endtime,
				invite_desc,
				fk_store_id,
				leader_store_id,
				type,
				union_status,
				addunion_time
			)values(
				#{store_union_id},
				#{name},
				#{starttime},
				#{endtime},
				#{invite_desc},
				#{fk_store_id},
				#{leader_store_id},
				#{type},
				#{union_status},
				#{addunion_time}
			)
	</insert>
	
	
		<!-- 20160712 -->
	
	<!-- 获取我是盟主时所有的联信息信息魏汉文0712 -->
	<select id="unionlistPageForLeader" parameterType="page" resultType="pd">
		select a.*
		from tb_su_all a
		WHERE
		  a.store_union_id  in 
		  (select store_union_id from tb_store_union where leader_store_id=#{pd.store_id})
 	</select>
 	
 	<!-- 获取我是盟主联信息魏汉文0712 -->
	<select id="unionForLeader" parameterType="pd" resultType="pd">
		 select b.* from tb_store_union b where leader_store_id=#{store_id}
 	</select>
 	
 	<!-- 获取我是盟友时所有的联信息信息魏汉文0712 -->
	<select id="unionlistPageForStore" parameterType="page" resultType="pd">
		select c.*
		from tb_store_union b LEFT JOIN tb_su_all c on b.store_union_id=c.store_union_id
		WHERE
		  b.store_union_id  in (select DISTINCT store_union_id from tb_su_all a where a.store_id=#{pd.store_id} )
 	</select>
	
	<!-- 获取我是盟友的所有联盟信息魏汉文0712 -->
	<select id="unionForStore" parameterType="pd" resultType="pd">
		 select DISTINCT b.*
		from tb_store_union b LEFT JOIN tb_su_all c on b.store_union_id=c.store_union_id
		WHERE
		  b.store_union_id  in (select DISTINCT store_union_id from tb_su_all a where a.store_id=#{store_id} )
 	</select>
	
	<!-- 删除盟友关系魏汉文0712 -->
	<delete id="delUnionByStore" parameterType="pd">
		delete from tb_su_all 
		where 
			1=1
			<if test="su_all_id != null and su_all_id != ''">and su_all_id=#{su_all_id}</if>
			<if test="store_union_id != null and store_union_id != ''">and store_union_id=#{store_union_id}</if>
	</delete>
	
	<!-- 删除联盟魏汉文0712 -->
	<delete id="delUnionByLeader" parameterType="pd">
		delete from tb_store_union where store_union_id=#{store_union_id}
	</delete>
	
	
	<!-- 通过content获取商家信息数据魏汉文20160620-->
	<select id="findByLikeContent" parameterType="pd" resultType="pd">
		select 
				a.store_name,
				b.address,
 				b.principal,
				b.phone,
				a.store_id
		from 
				tb_store a left join tb_store_file b on a.store_id=b.store_id
		where 
				1=1
				<if test="content != null and content != ''"><!-- 关键词检索 -->
							 and  (        b.store_name like CONCAT(CONCAT("%",#{content}),"%")       
 							   or        b.principal like CONCAT(CONCAT("%",#{content}),"%")       
							   or       b.phone like CONCAT(CONCAT("%",#{content}),"%")        )
				</if>
	</select>
	
	
		<!-- 新增联盟魏汉文0713-->
	<insert id="saveLeaderUnion" parameterType="pd">
		insert into tb_store_union(
				store_union_id,
				name,
				starttime,
				endtime,
				invite_desc,
 				leader_store_id
 			)values(
				#{store_union_id},
				#{name},
				#{starttime},
				#{endtime},
				#{invite_desc},
 				#{leader_store_id} 
			)
	</insert>
	
		<!-- 新增联盟魏汉文0713-->
	<insert id="saveStoreUnion" parameterType="pd">
		insert into tb_su_all(
				store_union_id,
				store_id,
				union_status,
				createdate,
				addunion_time,
 				leader_store_id
 			)values(
				#{store_union_id},
				#{store_id},
				#{union_status},
				now(),
				now(),
  				#{leader_store_id} 
			)
	</insert>
	
</mapper>