<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LQVIPMapper">

	<!-- 新增商家线下会员魏汉文0713-->
	<insert id="add" parameterType="pd">
		insert into tb_member_excel(
			name,
			phone,
			sex,
			born_date,
 			remarks,
			store_id,
			createdate
 		) values (
			#{var0,jdbcType=VARCHAR},
			#{var2,jdbcType=VARCHAR},
			#{var1,jdbcType=VARCHAR},
			#{var3,jdbcType=VARCHAR},
			#{var4,jdbcType=VARCHAR},
 			#{store_id,jdbcType=VARCHAR},
			now()
 		)
	</insert>
	
	<!-- 删除线下vip通过电话魏0713 -->
 	<delete id="deleteVipByPhone" parameterType="pd">
		delete from tb_member_excel
		where phone = #{phone}
 	</delete>
 	

  	<!-- 删除线下vip魏0713 -->
 	<delete id="deleteVIPOne" parameterType="pd">
		delete from tb_member_excel
		where member_id = #{member_id} and store_id=#{store_id}
	</delete>
	
	<!-- 删除线上vip魏0713  -->
 	<delete id="deleteVIPTwo" parameterType="pd">
		delete from tb_member_vipcard
		where
			member_id = #{member_id}
			and store_id=#{store_id}
	</delete>
	
	
	<!-- 修改 已注册的会员-->
	<update id="editMemberOne" parameterType="pd">
			update  tb_member
			set 
				<if test="born_date != null and born_date != '' ">
					born_date = #{born_date},
				</if>
				<if test="name != null and name != '' ">
					name = #{name},
				</if>
				member_id = member_id
			where 
				member_id = #{member_id}
	</update>
	
	
		
	<!-- 修改线下会员通过导入的表格-->
	<update id="editMemberByStore" parameterType="pd">
			update  tb_member_excel
			set 
				<if test="born_date != null and born_date != '' ">
					born_date = #{born_date},
				</if>
				<if test="name != null and name != '' ">
					name = #{name},
				</if>
				<if test="sex != null and sex != '' ">
					sex = #{sex},
				</if>
				<if test="remarks != null and remarks != '' ">
					remarks = #{remarks},
				</if>
				member_id = member_id
			where 
				member_id = #{member_id} and store_id=#{store_id}
	</update>
	
   <!-- 查看线下会员详情-->
	<select id="findExcelVIPFindById" parameterType="pd" resultType="pd">
 		select
			a.*
		from
			tb_member_excel a
		where 
			 phone=#{phone}
			 <if test="store_id != null and store_id != ''">
			 and store_id=#{store_id}
			 </if>
 		limit 1
 	</select>
	
	<!-- 商店的vip会员魏汉文0713-->
	<select id="allVipImagelistPage" parameterType="page" resultType="pd">
		select
				d.member_id,
				d.name,
				d.image_url,
				d.phone,
				d.sex,
				a.total_money   as allsalemoney,  
 				a.store_id,
				ifnull(date_format(e.createtime ,'%Y-%m-%d %H:%i:%s'),date_format(d.createdate ,'%Y-%m-%d %H:%i:%s')) as lastsale_time
 		from 
				tb_member_vipcard a 
				join tb_store c on a.store_id=c.store_id
				join tb_member d on a.member_id=d.member_id
				left join (select max(c.createtime) as createtime,c.payer_id from tb_order c where  c.order_status='1' group by c.payer_id) e on d.member_id=e.payer_id
		where
				a.store_id=#{pd.store_id}
				<if test="pd.content != null and pd.content != ''">
					and (
						d.name like CONCAT(CONCAT("%",#{pd.content}),"%")  
						or
						d.sex like CONCAT(CONCAT("%",#{pd.content}),"%") 
						or
						d.phone like CONCAT(CONCAT("%",#{pd.content}),"%") 
					)
 				</if>
				<if test="pd.name != null and pd.name != ''">
					and  d.name like CONCAT(CONCAT("%",#{pd.name}),"%")  
				</if>
				<if test="pd.sex != null and pd.sex != ''">
					and  d.sex like CONCAT(CONCAT("%",#{pd.sex}),"%") 
				</if>
				<if test="pd.phone != null and pd.phone != ''">
					and d.phone like CONCAT(CONCAT("%",#{pd.phone}),"%") 
				</if>
		order by d.createdate desc
 	</select>
 	
 	
	<!-- 商店的vip会员魏汉文0713-->
	<select id="allVipImageSum" parameterType="page" resultType="String">
		select
				 count(*) as allvip
		from 
				tb_member_vipcard a 
			 
		where
				a.store_id=#{pd.store_id}
  	</select>
 	
 		<!-- 线下会员列表魏汉文0713-->
	<select id="findExcelVIPlistPage" parameterType="Page" resultType="pd">
 		select
			a.member_id,
			a.name,
			a.phone,
			a.sex,
			a.born_date,
			ifnull(a.image_url,'https://www.jiuyuvip.com/FileSave/File/userFile/moren.png') as image_url,
			a.lessmoney,
  			ifnull(date_format(a.lastsale_time , '%Y-%m-%d %H:%i:%s') ,date_format(a.createdate ,'%Y-%m-%d %H:%i:%s')  )  as lastsale_time,
 			ifnull(a.allsalemoney,'0') as allsalemoney,
			a.remarks,
			a.store_id 
 		from
			tb_member_excel a
 		where 
			1=1
			<if test="pd.store_id != null and pd.store_id != ''">
			and a.store_id=#{pd.store_id}
			</if>
			<if test="pd.content != null and pd.content != ''">
					and (
						a.name like CONCAT(CONCAT("%",#{pd.content}),"%")  
						or
						a.sex like CONCAT(CONCAT("%",#{pd.content}),"%") 
						or
						a.phone like CONCAT(CONCAT("%",#{pd.content}),"%") 
					)
 				</if>
	 		<if test="pd.name != null and pd.name != ''">
				and  a.name like CONCAT(CONCAT("%",#{pd.name}),"%")  
			</if>
			<if test="pd.sex != null and pd.sex != ''">
				and  a.sex like CONCAT(CONCAT("%",#{pd.sex}),"%") 
			</if>
			<if test="pd.phone != null and pd.phone != ''">
				and a.phone like CONCAT(CONCAT("%",#{pd.phone}),"%") 
			</if>
		order by a.createdate desc
	</select>
	
	<!-- 线下会员全部列表魏汉文0713-->
	<select id="findExcelVIPallList" parameterType="pd" resultType="pd">
 		select
			a.member_id,
			a.name,
			a.phone,
			a.sex,
			a.born_date,
			a.lessmoney,
			a.lastsale_time,
			a.allsalemoney,
			a.remarks,
			a.store_id,
			a.createdate
		from
			tb_member_excel a  
		where 
			1=1
			<if test="store_id != null and store_id != ''">
			and a.store_id=#{store_id}
			</if>
 		order by a.createdate desc
	</select>
	
	<!-- 线下会员列表魏汉文0713-->
	<select id="findExcelVIPSum" parameterType="Page" resultType="String">
 		select
			count(*) as allexcel
		from
			tb_member_excel a
		where 
			a.store_id=#{pd.store_id}
 	</select>
	
	<!-- 获取商家的一度人脉的人脉信息  邢江涛 -->
	<select id="renmaiYiListlistPage" parameterType="page" resultType="pd">
		select  
				a.contacts_id,
				a.contacts_parent_id,
				a.contacts_type,
				b.member_id,
				b.image_url,
				b.phone,
				b.name,
				b.sex,
 				cast(cast((ifnull(b.now_money,'0')) as decimal(10,2)) as char)  now_money,
 				cast(cast((ifnull(b.now_integral,'0')) as decimal(10,2)) as char)  now_integral,
 				ifnull(date_format((select createtime   from tb_order   where b.member_id= payer_id and  order_status ='1' and  store_id=a.contacts_parent_id order by  createtime desc limit 1)  ,'%Y-%m-%d %H:%i:%s'),date_format(b.createdate ,'%Y-%m-%d %H:%i:%s')) as lastsale_time,
				ifnull(e.sale_money,'0') as allsalemoney
		from
				tb_contacts a  join tb_member b on b.member_id = a.contacts_id
				left join ( select cast(cast((sum(c.sale_money)) as decimal(10,2)) as char) as   sale_money ,c.payer_id  from tb_order c where  c.order_status='1' group by c.payer_id) e on b.member_id=e.payer_id
		where 
				a.contacts_parent_id=#{pd.store_id} 
				<if test="pd.content != null and pd.content != ''">
					and (
						b.name like CONCAT(CONCAT("%",#{pd.content}),"%")  
						or
						b.sex like CONCAT(CONCAT("%",#{pd.content}),"%") 
						or
						b.phone like CONCAT(CONCAT("%",#{pd.content}),"%") 
					)
 				</if>
				<if test="pd.name != null and pd.name != ''">
					and  b.name like CONCAT(CONCAT("%",#{pd.name}),"%")  
				</if>
				<if test="pd.sex != null and pd.sex != ''">
					and  b.sex like CONCAT(CONCAT("%",#{pd.sex}),"%") 
				</if>
				<if test="pd.phone != null and pd.phone != ''">
					and b.phone like CONCAT(CONCAT("%",#{pd.phone}),"%") 
				</if>
	</select>

	<!-- 获取商家的一度人脉的人脉信息  邢江涛 -->
	<select id="renmaiYiSum" parameterType="page" resultType="String">
		select  
				 count(*) as allremai  
		from
				tb_contacts a  join tb_member b on b.member_id = a.contacts_id
		where 
				a.contacts_parent_id=#{pd.store_id} 
	</select>
</mapper>