<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LQWithdraw_ApprovalMapper">

	<!-- 新增-->
	<insert id="save" parameterType="Withdraw_Approval">
		insert into TB_WITHDRAW_APPROVAL(
			USER_NUMBER,	
			USER_TYPE,	
			PHONE,	
			MONEY,	
			WITHDRAW_NUMBER,	
			WITHDRAW_TYPE,	
			WITHDRAW_STATUS,	
			REMARK,	
			APPLY_TIME,	
			OPERATOR_ID,	
			withdraw_approval_id
		) values (
			#{user_number},	
			#{user_type},	
			#{phone},	
			#{money},	
			#{withdraw_number},	
			#{withdraw_type},	
			#{withdraw_status},	
			#{remark},	
			#{apply_time},	
			#{operator_id},	
			#{withdraw_approval_id}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_WITHDRAW_APPROVAL
		where 
			withdraw_approval_id = #{withdraw_approval_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_WITHDRAW_APPROVAL
			set 
				<if test=" withdraw_type != null and withdraw_type != '' ">withdraw_type = #{withdraw_type},</if>
				<if test=" withdraw_status != null and withdraw_status != '' ">withdraw_status = #{withdraw_status},</if>
				<if test=" remark != null and remark != '' ">remark = #{remark},</if>
  				withdraw_approval_id = withdraw_approval_id
			where 
				withdraw_approval_id = #{withdraw_approval_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			user_number,	
			user_type,	
			phone,	
			money,	
			withdraw_number,	
			withdraw_type,	
			withdraw_status,	
			remark,	
			apply_time,	
			operator_id,	
			withdraw_approval_id
		from 
			TB_WITHDRAW_APPROVAL
		where 
			withdraw_approval_id = #{withdraw_approval_id}
	</select>
	
	
	<!-- 列表  刘耀耀 2016.6.7 魏汉文2016.6.12-->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.user_number,	
				a.user_type,	
				a.phone,	
				a.money,	
				a.withdraw_number,	
				a.withdraw_type,	
				a.withdraw_status,	
				a.remark,	
				a.apply_time,	
				a.operator_id,	
				a.province_name,	
				a.city_name,	
				a.area_name,
				a.account_type,
				a.withdraw_approval_id
		from 
				TB_WITHDRAW_APPROVAL a
		where  1=1
				<if test="pd.content != null and pd.content != ''"><!-- 关键词检索 -->
					and
						(
						a.withdraw_number =#{pd.content}
						or
						a.money =#{pd.content}
							 
						)
				</if>
				<if test="pd.province_name != null and pd.province_name != ''"><!-- 省 -->
					and
						(
							a.province_name=#{pd.province_name}
						)
				</if>
				<if test="pd.city_name != null and pd.city_name != ''"><!-- 市 -->
					and
						(
							a.city_name=#{pd.city_name}
						)
				</if>
				<if test="pd.area_name != null and pd.area_name != ''"><!-- 区 -->
					and
						(
							a.area_name=#{pd.area_name}
						)
				</if>	
				<if test="pd.user_type!= null and pd.user_type!= ''"><!-- 用户类型 -->
					and
						(
							a.user_type=#{pd.user_type}
						)
				</if>		
				<if test="pd.apply_time!= null and pd.apply_time!= ''"><!-- 时间-->
					and
						(
							 date_format(a.apply_time,'%Y-%m-%d')=#{pd.apply_time}
						)
				</if>	
				<if test="pd.withdraw_type!= null and pd.withdraw_type!= ''"><!-- 支付方式-->
					and
						(
							a.withdraw_type=#{pd.withdraw_type}
						)
				</if>	
				<if test="pd.withdraw_status!= null and pd.withdraw_status!= ''"><!-- 支付状态-->
					and
						(
							a.withdraw_status=#{pd.withdraw_status}
						)
				</if>	
				<if test="pd.chuli == '1'.toString()"><!-- 已处理-->
					and a.withdraw_status !='0'
  				</if>
 				<if test="pd.chuli == '0'.toString()"><!-- 未处理-->
					and a.withdraw_status ='0'
  				</if>
  		order by a.apply_time desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.user_number,	
				a.user_type,	
				a.phone,	
				a.money,	
				a.withdraw_number,	
				a.withdraw_type,	
				a.withdraw_status,	
				a.remark,	
				a.apply_time,	
				a.operator_id,	
				a.withdraw_approval_id
		from 
				TB_WITHDRAW_APPROVAL a
		where 
				withdraw_approval_id=(
				select min(withdraw_approval_id) from tb_withdraw_approval where apply_time=a.apply_time
				)
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_WITHDRAW_APPROVAL
		where 
			withdraw_approval_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 批量编辑  刘耀耀 2016.6.7 -->
	<update id="editAll" parameterType="String">
		update  TB_WITHDRAW_APPROVAL
		set
			withdraw_status = '1',
			withdraw_type = '0'
		where withdraw_approval_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</update>
	
	<!-- 统计商家今天的提现金额 -->
	<select id="sumNowMoney" parameterType="pd" resultType="pd">
		select
				sum(a.money) as money,
				user_type,
				user_id
		from 
				tb_withdraw_approval a
		where 
				a.user_type='3'
				and a.user_id=#{store_id}
				and to_days(now()) = to_days(b.apply_time) 
 	</select>
	
</mapper>