<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WhwDaoLiuMapper">

	<!-- 导流  -->
	<insert id="saveDaoLiu" parameterType="pd" >
		insert into tb_daoliu(
			store_id,
			role_type,
			click_fee,
			store_wealth,
			createtime,
			startdate,
			enddate
		)values(
			#{store_id},
			#{role_type},
			#{click_fee},
			(select 
				cast(sum(a.now_wealth) as DECIMAL(10,2) ) as now_wealth 
			from 
				tb_store_wealth a 
 			where 
				a.store_id = #{store_id}),
 			now(),
 			#{startdate},
			#{enddate}
 		)
	</insert>
	
     <!-- 发布导流列表 -->
	<select id="findByIdDaoLiu" parameterType="pd" resultType="pd">
		select   
				a.daoliu_id,
				a.store_id,
				a.role_type,
				a.click_fee,
				date_format(a.createtime,	'%Y-%m-%d %H:%i:%s') as createtime,
				date_format(a.startdate,	'%Y-%m-%d') as startdate,
				date_format(a.enddate,	'%Y-%m-%d') as enddate,
				b.store_name
		from 	
		 		tb_daoliu a
		 		left join tb_store b on a.store_id=b.store_id
		where
				 a.daoliu_id=#{daoliu_id}
 	</select>
 	
     <!-- 发布导流列表 -->
	<select id="daoliulistPage" parameterType="page" resultType="pd">
		select   
				a.daoliu_id,
				a.store_id,
				a.role_type,
				a.click_fee,
				date_format(a.createtime,	'%Y-%m-%d %H:%i:%s') as createtime,
				date_format(a.startdate,	'%Y-%m-%d') as startdate,
				date_format(a.enddate,	'%Y-%m-%d') as enddate,
				b.store_name
		from 	
		 		tb_daoliu a
		 		left join tb_store b on a.store_id=b.store_id
		where
				1=1
				<if test="pd.role_type != null and pd.role_type != '' ">
				and a.role_type=#{pd.role_type}
				</if>
		<choose>
			<when test="pd.paixu_type != null and pd.paixu_type != '' and pd.paixu_type =='2'.toString()">
		 		order by b.store_name desc
		 	</when>
		 	<when test="pd.paixu_type != null and pd.paixu_type != '' and pd.paixu_type =='3'.toString()">
		 		order by cast(a.click_fee as decimal(10,2)) desc
		 	</when>
		 	<otherwise>order by a.createtime desc</otherwise>
		</choose>
	</select>
 	
     <!-- 发布导流列表 -->
	<select id="daoliuTuiGuanglistPage" parameterType="page" resultType="pd">
		select   
				 *
		from 	
		 		
		 		 (select   
						a.daoliu_id,
						a.store_id,
						a.role_type,
						a.click_fee,
						date_format(a.createtime,	'%Y-%m-%d %H:%i:%s') as createtime,
						date_format(a.startdate,	'%Y-%m-%d') as startdate,
						date_format(a.enddate,	'%Y-%m-%d') as enddate,
						b.store_name,
						(select count(*) from tb_member_vipcard e where e.store_id=a.store_id) as countmembernumber,
 						(select count(*) from tb_store_wealthhistory e where e.store_id=a.store_id and e.profit_type='3') as countordernumber
					from 	
				 		tb_daoliu a left join tb_store b on a.store_id=b.store_id
 		 		  )as c
		where
				1=1
				<if test="pd.role_type != null and pd.role_type != '' ">
				and c.role_type=#{pd.role_type}
				</if>
		<choose>
			<when test="pd.paixu_type != null and pd.paixu_type != '' and pd.paixu_type =='1'.toString()">
		 		order by cast(c.countmembernumber as signed ) desc
		 	</when>
		 	<when test="pd.paixu_type != null and pd.paixu_type != '' and pd.paixu_type =='2'.toString()">
		 		order by cast(c.countordernumber as signed ) desc
		 	</when>
		 	<when test="pd.paixu_type != null and pd.paixu_type != '' and pd.paixu_type =='3'.toString()">
		 		order by cast(c.click_fee as decimal(10,2)) desc
		 	</when>
		 	<otherwise>order by c.createtime desc</otherwise>
		</choose>
	</select>



  	<!-- 商家的导流  -->
	<insert id="saveHzStore" parameterType="pd" >
		insert into tb_daoliurecord(
			zhu_store_id,
			daoliu_id,
			ci_store_id,
			ci_store_weath,
 			createtime,
			click_fee,
			startdate,
			enddate,
			daoliu_status 
		)values(
			#{zhu_store_id},
			#{daoliu_id},
			#{ci_store_id},
			(select cast(sum(a.now_wealth) as DECIMAL(10,2) ) from  tb_store_wealth a  where  a.store_id = #{ci_store_id}),
  			now(),
 			#{click_fee},
			#{startdate},
			#{enddate},
			#{daoliu_status} 
 		)
	</insert>
	<delete id="deleteHzStore" parameterType="pd" >
	delete from tb_daoliurecord
	where
	  		zhu_store_id=#{zhu_store_id}
 			and ci_store_id=#{ci_store_id}
  			and click_fee=#{click_fee}
			and date_format(startdate,	'%Y-%m-%d')=date_format(#{startdate},	'%Y-%m-%d')
			and date_format(enddate,	'%Y-%m-%d') =date_format(#{enddate},	'%Y-%m-%d')
	</delete>
	 <!-- 商家合作记录详情 -->
	<select id="detailThisHzStore" parameterType="pd" resultType="pd">
		select   
				*
		from 	
		 		tb_daoliurecord a
  		where
  				daoliu_status=#{daoliu_status}
				and zhu_store_id=#{zhu_store_id}
 				and ci_store_id=#{ci_store_id}
	  			and click_fee=#{click_fee}
	  			and date_format(startdate,	'%Y-%m-%d')=date_format(#{startdate},	'%Y-%m-%d')
				and date_format(enddate,	'%Y-%m-%d') =date_format(#{enddate},	'%Y-%m-%d')
 	</select>
  	
	<!-- 商家合作导流详情 -->
	<select id="daoliuByHzStoreDetail" parameterType="pd" resultType="pd">
		select   
				a.daoliurecord_id,
				a.zhu_store_id,
				a.ci_store_id,
				a.ci_store_weath,
 				date_format(a.createtime,	'%Y-%m-%d %H:%i:%s') as createtime,
 				a.click_fee,
				date_format(a.startdate,	'%Y-%m-%d') as startdate,
				date_format(a.enddate,	'%Y-%m-%d') as enddate,
				b.store_name as ci_store_name
		from 	
		 		tb_daoliurecord a
		 		left join tb_store b on a.ci_store_id=b.store_id
 		where
				1=1
				<if test="daoliurecord_id != null and daoliurecord_id != ''">
				and a.daoliurecord_id=#{daoliurecord_id}
				</if>
		limit 1
 	</select>
  	<!-- 商家的导流列表 -->
	<select id="daoliuByHzStorelistPage" parameterType="page" resultType="pd">
		select   
				a.daoliurecord_id,
				a.zhu_store_id,
				a.ci_store_id,
				a.ci_store_weath,
 				date_format(a.createtime,	'%Y-%m-%d %H:%i:%s') as createtime,
 				a.click_fee,
				date_format(a.startdate,	'%Y-%m-%d') as startdate,
				date_format(a.enddate,	'%Y-%m-%d') as enddate,
				b.store_name as ci_store_name
		from 	
		 		tb_daoliurecord a
		 		left join tb_store b on a.ci_store_id=b.store_id
 		where
				daoliu_status='0'
				<if test="pd.store_id != null and pd.store_id != ''">
				and a.zhu_store_id=#{pd.store_id}
				</if>
		order by a.createtime desc
	</select>
	<!-- 商家的导流列表 -->
	<select id="daoliuByHzStorelistAll" parameterType="pd" resultType="pd">
		select   
				a.daoliurecord_id,
				a.zhu_store_id,
				a.ci_store_id,
				a.ci_store_weath,
 				date_format(a.createtime,	'%Y-%m-%d %H:%i:%s') as createtime,
 				a.click_fee,
				date_format(a.startdate,	'%Y-%m-%d') as startdate,
				date_format(a.enddate,	'%Y-%m-%d') as enddate
		from 	
		 		tb_daoliurecord a
		where 
				1=1
				and daoliu_status='1'
				<if test="store_id != null and store_id != ''">
				and a.zhu_store_id=#{store_id}
				</if>
		order by a.createtime desc
 	</select>
	<!-- 商家的导流列表 -->
	<select id="countAllHzStore" parameterType="pd" resultType="String">
		select   
				count(*)
		from 	
		 		tb_daoliurecord  
		where 
				zhu_store_id=#{store_id}
  	</select>
 	
 	<!-- 更新时间超出的导流信息 -->
	<update id="updateDaoliurecordTime" parameterType="pd">
		update tb_daoliurecord
		set daoliu_status='99'
  		where  
  		date_format(now(),'%Y-%m-%d')  &gt; date_format(enddate,'%Y-%m-%d')	 
	</update>
 	
 	



  <!-- 会员的导流列表 -->
	<insert id="saveMemberClick" parameterType="pd" >
		insert into tb_daoliubymember(
		    jiaoyi_id,
 			daoliurecord_id,
			member_id,
			all_fee,
			store_fee,
			xitong_fee,
			createdate
		)values(
			#{jiaoyi_id},
			#{daoliurecord_id},
			#{member_id},
			#{all_fee},
  			#{store_fee},
			#{xitong_fee},
			now()
 		)
	</insert>
    <!-- 会员的点击导流列表 -->
	<select id="daoliuByMemberlistPage" parameterType="page" resultType="pd">
		select   
				a.daoliubymember_id,
				a.daoliurecord_id,
				a.member_id,
				a.all_fee,
				a.store_fee,
				a.xitong_fee,
				date_format(a.createdate,	'%Y-%m-%d') as createdate,
				b.zhu_store_id,
				b.ci_store_id ,
				c.store_name as zhu_store_name,
				d.store_name as ci_store_name
 		from 	
		 		tb_daoliubymember a
		 		left join tb_daoliurecord b on  a.daoliurecord_id=b.daoliurecord_id
				left join tb_store c on b.zhu_store_id=c.store_id
				left join tb_store d on b.ci_store_id=d.store_id
		where 
				1=1
				<if test="pd.ci_content != null and pd.ci_content != ''">
				and  (d.store_name like concat(concat("%",#{pd.ci_content}),"%")
				     or
				     d.store_id like concat(concat("%",#{pd.ci_content}),"%"))
				</if>
				<if test="pd.zhu_content != null and pd.zhu_content != ''">
				and  (c.store_name like concat(concat("%",#{pd.zhu_content}),"%")
				     or
				     c.store_id like concat(concat("%",#{pd.zhu_content}),"%"))
				</if>
				<if test="pd.startdate != null and pd.startdate!= ''"><!-- 开始时间-->
						and date_format(a.createdate,'%Y-%m-%d') &gt;= #{pd.startdate} 
		 		</if>
				<if test="pd.enddate != null and pd.enddate!= ''"><!-- 结束时间 -->
						and date_format(a.createdate,'%Y-%m-%d') &lt;= #{pd.enddate} 
		 		</if>
		 		<if test="pd.zhu_store_id != null and pd.zhu_store_id != ''"><!-- 广告商商家ID-->
						and b.zhu_store_id=#{pd.zhu_store_id}
		 		</if>
		 		<if test="pd.ci_store_id != null and pd.ci_store_id !=  ''"><!-- 申请人商家ID-->
						and b.ci_store_id=#{pd.ci_store_id}
		 		</if>
		 <choose>
		 	<when test="pd.paixu_type != null and pd.paixu_type != '' and pd.paixu_type =='2'.toString()">
		 		order by cast(a.all_fee as decimal(10,2)) desc
		 	</when>
		 	<otherwise>order by a.createdate desc</otherwise>
		 </choose>
 	</select>
	
	   <!-- 统计当页会员的点击导流列表 -->
	<select id="sumdaoliuByMemberNowPage" parameterType="page" resultType="pd">
		select   
				sum(cast(f.all_fee as decimal(10,2) )) as sumall_fee,
				sum(cast(f.store_fee as decimal(10,2) )) as sumstore_fee,
				sum(cast(f.xitong_fee as decimal(10,2) )) as sumxitong_fee 
		from 	
		 		(
		 			select   
		 					a.all_fee,
		 					a.store_fee,
		 					a.xitong_fee
 					from 	
					 		tb_daoliubymember a
					 		left join tb_daoliurecord b on  a.daoliurecord_id=b.daoliurecord_id
							left join tb_store c on b.zhu_store_id=c.store_id
							left join tb_store d on b.ci_store_id=d.store_id
					where 
							1=1
							<if test="pd.ci_content != null and pd.ci_content != ''">
							and  (d.store_name like concat(concat("%",#{pd.ci_content}),"%")
							     or
							     d.store_id like concat(concat("%",#{pd.ci_content}),"%"))
							</if>
							<if test="pd.zhu_content != null and pd.zhu_content != ''">
							and  (c.store_name like concat(concat("%",#{pd.zhu_content}),"%")
							     or
							     c.store_id like concat(concat("%",#{pd.zhu_content}),"%"))
							</if>
							<if test="pd.startdate != null and pd.startdate!= ''"><!-- 开始时间-->
									and date_format(a.createdate,'%Y-%m-%d') &gt;= #{pd.startdate} 
					 		</if>
							<if test="pd.enddate != null and pd.enddate!= ''"><!-- 结束时间 -->
									and date_format(a.createdate,'%Y-%m-%d') &lt;= #{pd.enddate} 
					 		</if>
							<if test="pd.zhu_store_id != null and pd.zhu_store_id  !=  ''"><!-- 广告商商家ID-->
									and b.zhu_store_id=#{pd.zhu_store_id}
					 		</if>
					 		<if test="pd.ci_store_id != null and pd.ci_store_id  != ''"><!-- 申请人商家ID-->
									and b.ci_store_id=#{pd.ci_store_id}
					 		</if>
					 <choose>
					 	<when test="pd.paixu_type != null and pd.paixu_type != '' and pd.paixu_type =='2'.toString()">
					 		order by cast(a.all_fee as decimal(10,2)) desc
					 	</when>
					 	<otherwise>order by a.createdate desc</otherwise>
					 </choose>
					 limit #{pd.nowpage},10
		 		) as f
	</select>
	
	   <!-- 统计所有的会员的点击导流列表 -->
	<select id="allsumdaoliuByMember" parameterType="page" resultType="pd">
		select   
				sum(cast(f.all_fee as decimal(10,2) )) as sumall_fee,
				sum(cast(f.store_fee as decimal(10,2) )) as sumstore_fee,
				sum(cast(f.xitong_fee as decimal(10,2) )) as sumxitong_fee 
		from 	
		 		(
		 			select   
		 					a.all_fee,
		 					a.store_fee,
		 					a.xitong_fee
 					from 	
					 		tb_daoliubymember a
					 		left join tb_daoliurecord b on  a.daoliurecord_id=b.daoliurecord_id
							left join tb_store c on b.zhu_store_id=c.store_id
							left join tb_store d on b.ci_store_id=d.store_id
					where 
							1=1
							<if test="pd.ci_content != null and pd.ci_content != ''">
							and  (d.store_name like concat(concat("%",#{pd.ci_content}),"%")
							     or
							     d.store_id like concat(concat("%",#{pd.ci_content}),"%"))
							</if>
							<if test="pd.zhu_content != null and pd.zhu_content != ''">
							and  (c.store_name like concat(concat("%",#{pd.zhu_content}),"%")
							     or
							     c.store_id like concat(concat("%",#{pd.zhu_content}),"%"))
							</if>
							<if test="pd.startdate != null and pd.startdate!= ''"><!-- 开始时间-->
									and date_format(a.createdate,'%Y-%m-%d') &gt;= #{pd.startdate} 
					 		</if>
							<if test="pd.enddate != null and pd.enddate!= ''"><!-- 结束时间 -->
									and date_format(a.createdate,'%Y-%m-%d') &lt;= #{pd.enddate} 
					 		</if>
							<if test="pd.zhu_store_id != null and pd.zhu_store_id  !=  ''"><!-- 广告商商家ID-->
									and b.zhu_store_id=#{pd.zhu_store_id}
					 		</if>
					 		<if test="pd.ci_store_id != null and pd.ci_store_id  != ''"><!-- 申请人商家ID-->
									and b.ci_store_id=#{pd.ci_store_id}
					 		</if>
					 <choose>
					 	<when test="pd.paixu_type != null and pd.paixu_type != '' and pd.paixu_type =='2'.toString()">
					 		order by cast(a.all_fee as decimal(10,2)) desc
					 	</when>
					 	<otherwise>order by a.createdate desc</otherwise>
					 </choose>
					 limit #{pd.nowpage},10
		 		) as f
	</select>
	   <!-- 统计所有的会员的点击导流列表 -->
	<select id="sumAllHzStore" parameterType="pd" resultType="String">
		select   
 				cast(sum(cast(a.store_fee as decimal(10,2) )) as char) as sumstore_fee 
 		from 	
		 		tb_daoliubymember a
		 		left join tb_daoliurecord b on  a.daoliurecord_id=b.daoliurecord_id
 		where 
				b.zhu_store_id=#{store_id}
 		 		 
	</select>
    <!-- 查看当前会员今天的点击次数 -->
	<select id="countNowDayClickNumber" parameterType="pd" resultType="Integer">
		select   
				 count(*)
  		from 	
		 		tb_daoliubymember 
 		where 
				 member_id=#{member_id}
				 and date_format(createdate,'%Y-%m-%d') = date_format(now(),'%Y-%m-%d')
 	</select>
 
 
 
 
 
 
 


	<!-- app需要的接口,获取当前商家的导流商家 -->
 	<select id="listAllStoreByStoreId" parameterType="pd" resultType="pd">
		select   
				a.daoliurecord_id,
				a.zhu_store_id,
				a.ci_store_id 
 		from 	
		 		tb_daoliurecord a
 		where 
 				daoliu_status='1'
				and a.zhu_store_id=#{store_id}
 				and date_format(a.startdate,'%Y-%m-%d') &lt;= date_format(now(),'%Y-%m-%d') 
 				and date_format(a.enddate,'%Y-%m-%d') &gt;= date_format(now(),'%Y-%m-%d') 
 	</select>
	<!-- 更新状态时间等等 -->
	<update id="updateDaoliurecordById" parameterType="pd">
	update 
			tb_daoliurecord
	set 
			<if test="daoliu_status != null and daoliu_status != ''">daoliu_status=#{daoliu_status},</if>
 			daoliurecord_id=daoliurecord_id
	where 
			daoliurecord_id=#{daoliurecord_id}
	</update>
	<!-- 更新状态时间等等 -->
	<delete id="deleteDaoliurecordById" parameterType="pd">
	delete from tb_daoliurecord
  	where daoliurecord_id=#{daoliurecord_id}
	</delete>


	
</mapper>