<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XJTStoreapp_goodsMapper">
	<!-- 添加商品 刘耀耀 2016.07.04 -->
	<insert id="save" parameterType="pd" >
	insert into tb_goods
	(
		goods_name,
		market_money,
		retail_money,
		goods_category_id,
		integral_rate,
		integral_number,
		starttime,
		endtime,
		promotion_type,
		promotion_content,
		store_id,
		image_url,
		goods_id,
		sort,
		company
	)
	values
	(
		#{goods_name},
		#{market_money},
		#{retail_money},
		#{goods_category_id},
		#{integral_rate},
		#{integral_number},
		#{starttime},
		#{endtime},
		#{promotion_type},
		#{promotion_content},
		#{store_id},
		#{image_url},
		#{goods_id},
		#{sort},
		#{company}
	)
	</insert>
	
	
	<!-- 查询商品列表 刘耀耀 2016.07.04 -->
	<select id="list" parameterType="pd" resultType="pd">
		select 
 				a.goods_id,
				a.goods_category_id,
				a.goods_name,
				a.image_url,
				a.market_money,
				a.retail_money,
				a.integral_rate,
				a.stock_number,
				a.consumption_number,
				a.goods_status,
				a.sales_status,
				date_format(a.starttime,'%Y-%m-%d') starttime,
				date_format(a.endtime,'%Y-%m-%d') endtime,
 				a.charm_number,
				a.store_id,
				a.sort,
				a.promotion_type,
				a.promotion_content,
				date_format(a.createdate,'%Y-%m-%d %H:%i:%s') createdate, 
				a.integral_number,
				a.company,
				b.name as twoname,
				c.name as firstname
 		from
			tb_goods a 
			left join tb_goods_category b on a.goods_category_id=.b.goods_category_id
			left join tb_goods_category c on b.category_parent_id=c.goods_category_id
		where
			 a.store_id=#{store_id}
		order by  cast(a.retail_money as decimal(10,2))   
	</select>
	
	
		
	<!-- 查询商品详情-->
	<select id="findByIdForWca" parameterType="pd" resultType="pd">
		select 
 				b.name as twoname,
				c.name as firstname,
				c.back_rate
 		from
				 tb_goods_category b  
				left join tb_goods_category c on b.category_parent_id=c.goods_category_id
		where
			     b.goods_category_id=#{goods_category_id}
 	</select>
	
	
	<!-- 删除商品 刘耀耀 2016.07.13 -->
	<delete id="delete" parameterType="pd">
	delete from tb_goods
	 where
	 goods_id=#{goods_id}
	
	</delete>
	
	
		
	<!-- 查询商品大类 刘耀耀 2016.07.13 -->
	<select id="listType" parameterType="pd" resultType="pd">
		select 
				category_parent_id,
				goods_category_id,
				name
		from
				tb_goods_category
		where
				category_parent_id = '0' 
				and  store_id=#{store_id}
		order by  sort  
	</select>
	
	
	<!-- 查询商品小类 刘耀耀 2016.07.13 -->
	<select id="listXiaoType" parameterType="pd" resultType="pd">
		select 
				goods_category_id,
				name
		from
			tb_goods_category
		where
			category_parent_id=#{category_parent_id}
			and  store_id=#{store_id}
		order by  sort
	</select>
	
	<!-- 修改 -->
	<update id="editGoods" parameterType="pd">
			update  tb_goods
			set 
				<!-- goods_category_id = #{goods_category_id}, -->
				<if test="goods_name != null and goods_name != ''">	goods_name = #{goods_name},</if>
				<if test="image_url != null and image_url != ''">	image_url = #{image_url},</if>
				<if test="retail_money != null and retail_money != ''">	retail_money = #{retail_money},</if>
				<if test="market_money != null and market_money != ''">	market_money = #{market_money},</if>
				<if test="integral_rate != null and integral_rate != ''">	integral_rate = #{integral_rate},</if>
				<if test="integral_number != null and integral_number != ''"> integral_number = #{integral_number}, </if>
				<if test="stock_number != null and stock_number != ''"> stock_number = #{stock_number}, </if>
				<if test="promotion_type != null and promotion_type != ''"> promotion_type = #{promotion_type}, </if>
				<if test="promotion_content != null and promotion_content != ''"> promotion_content = #{promotion_content}, </if>
				<if test="endtime != null and endtime != ''"> endtime = #{endtime}, </if>
				<if test="starttime != null and starttime != ''"> starttime = #{starttime}, </if>
				<if test="company != null and company != ''"> company = #{company}, </if>
				<if test="sort != null and sort != ''"> sort = #{sort}, </if>
 				goods_id = goods_id
			where 
				goods_id = #{goods_id}
	</update>
	
</mapper>

