<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="false" /> 
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
    </settings>

	<typeAliases>
		<typeAlias type="com.tianer.entity.system.User" alias="User"/>
		<typeAlias type="com.tianer.entity.system.Role" alias="Role"/>
		<typeAlias type="com.tianer.entity.system.Menu" alias="Menu"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Order" alias="Order"/>
		<typeAlias type="com.tianer.util.PageData" alias="pd"/>
		
		<!-- ********************************梁秦2016-6-15********************************** -->
		<typeAlias type="com.tianer.entity.storepc.liangqin.Order" alias="Order"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Member" alias="Member"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Pay_History" alias="Pay_History"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Withdraw_Approval" alias="Withdraw_Approval"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Store_Wealth" alias="Store_Wealth"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Store_Scoreway" alias="Store_Scoreway"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Order_Goods" alias="Order_Goods"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Store" alias="Store"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Store_Union" alias="Store_Union"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Store_Wealthhistory" alias="Store_Wealthhistory"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Contacts" alias="Contacts"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Goods" alias="Goods"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Goods_Category" alias="Goods_Category"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.GoodsAndCate" alias="GoodsAndCate"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Store_Bankcard" alias="Bank"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Store_File_Sort" alias="Store_File_Sort"/>
		<typeAlias type="com.tianer.entity.storepc.liangqin.Operator_File" alias="Operator_File"/>
		
		<!-- ****************************************************************************** -->
		
		<!-- 分页 -->
		<typeAlias type="com.tianer.entity.Page" alias="Page"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.tianer.plugin.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
	
	<mappers>
	
		<!-- 系统模块    开始 -->
		<!-- 系统用户 -->
		<mapper resource="mybatis/system/UserMapper.xml"/>
		<!-- 系统角色 -->
		<mapper resource="mybatis/system/RoleMapper.xml"/>
		<!-- 系统菜单 -->
		<mapper resource="mybatis/system/MenuMapper.xml"/>
		<!-- 新用户处理 -->
		<mapper resource="mybatis/system/UserXMapper.xml"/>
		<!-- 数据字典 -->
		<mapper resource="mybatis/system/ZidianMapper.xml"/>
		<!-- 定时任务 -->
		<mapper resource="mybatis/system/TaskMapper.xml"/>
		<!-- 系统模块    结束 -->
		
		<!-- 用户模块开始 -->
		 <!-- 用户信息 -->
		<mapper resource="mybatis/business/MemberMapper.xml"/>
		<!-- 用户vip -->
		<mapper resource="mybatis/business/Member_vipcardMapper.xml"/>
		<!-- 用户收货地址 -->
		<mapper resource="mybatis/business/Member_addressMapper.xml"/>
		<!-- 用户财富历史记录 -->
		<mapper resource="mybatis/business/Member_wealthhistoryMapper.xml"/>
		<!-- 好评-->
		<mapper resource="mybatis/business/CommentMapper.xml"/>
		<!-- 收藏-->
		<mapper resource="mybatis/business/CollectMapper.xml"/>
		
		<!-- 后台总控制层开始 -->
		<!-- 操作员档案 -->
		<mapper resource="mybatis/business/Operator_fileMapper.xml"/>
		<!-- 业务员档案 -->
		<mapper resource="mybatis/business/Clerk_fileMapper.xml"/>
		<!--  城市一级/二级分类-->
		<mapper resource="mybatis/business/City_fileMapper.xml"/>
		<!--  城市营销参数总设置-->
		<mapper resource="mybatis/business/Cm_allMapper.xml"/>
		<!--  城市档案一级/二级分类商品-->
		<mapper resource="mybatis/business/City_file_sortMapper.xml"/>
		<!--  服务商月度-->
		<mapper resource="mybatis/business/Sp_file_monthlyMapper.xml"/>
		<!-- 服务商档案 -->
		<mapper resource="mybatis/business/Sp_fileMapper.xml"/>
		<!-- 商家对应分类 -->
		<mapper resource="mybatis/business/Store_file_sortMapper.xml"/>
		<!-- 商家档案 -->
		<mapper resource="mybatis/business/Store_fileMapper.xml"/>
		<!-- 子公司对应重要岗位 -->
		<mapper resource="mybatis/business/Subsidiary_postsMapper.xml"/>
		<!--子公司  -->
		<mapper resource="mybatis/business/SubsidiaryMapper.xml"/>
 		<!--未完成项-->
		<mapper resource="mybatis/business/Store_notoverMapper.xml"/>
		<!--联盟信息-->
		<mapper resource="mybatis/business/Store_unionMapper.xml"/>
		<!--未处理事项-->
		<mapper resource="mybatis/business/Processing_issuesMapper.xml"/>
		<!--发送通知-->
		<mapper resource="mybatis/business/Send_notificationsMapper.xml"/>
		<!--关键字回复-->
		<mapper resource="mybatis/business/Keyword_replyMapper.xml"/>
		<!--区域删选-->
		<mapper resource="mybatis/business/PcdMapper.xml"/>
		<!-- 系统管理 -->
		<mapper resource="mybatis/business/SystemMapper.xml"/>
		<!-- 外链推广-->
		<mapper resource="mybatis/business/Sort_chainMapper.xml"/>
		<!-- 角色管理-->
		<mapper resource="mybatis/business/Menu_roleMapper.xml"/>
		<!-- 角色权限-->
		<mapper resource="mybatis/business/Menu_qxMapper.xml"/>
		<!-- 文本管理-->
		<mapper resource="mybatis/business/Menu_textMapper.xml"/>
		<!--月度统计-->
		<mapper resource="mybatis/business/SignDateMapper.xml"/>

		
		<!-- 商家开始 -->
		<!-- 流水记录 -->
		<mapper resource="mybatis/business/WaterRecordMapper.xml"/>
		<!-- 支付记录 -->
		<mapper resource="mybatis/business/Pay_historyMapper.xml"/>
		<!-- 提现审批 -->
		<mapper resource="mybatis/business/Withdraw_approvalMapper.xml"/>
		<!--服务商签约行业-->
		<mapper resource="mybatis/business/City_marketingMapper.xml"/>
		<!-- 平台红包-->
		<mapper resource="mybatis/business/Red_platformMapper.xml"/>
		<!-- PC广告位管理-->
		<mapper resource="mybatis/business/Pc_advertMapper.xml"/>
		<!-- app广告位管理-->
		<mapper resource="mybatis/business/App_advertMapper.xml"/>
		<!-- 增加排序分值-->
		<mapper resource="mybatis/business/Sort_scoreMapper.xml"/>
		<!-- 订单信息-->
		<mapper resource="mybatis/business/OrderMapper.xml"/>
		<!-- 订单关联商品信息-->
		<mapper resource="mybatis/business/Order_goodsMapper.xml"/>
		<!-- 商品类别管理-->
		<mapper resource="mybatis/business/Goods_categoryMapper.xml"/>
		<!-- 商品管理-->
		<mapper resource="mybatis/business/GoodsMapper.xml"/>
		<!-- 注册商家信息-->
		<mapper resource="mybatis/business/StoreMapper.xml"/>
		<!-- 商家下的操作员信息-->
		<mapper resource="mybatis/storepc/Store_operatorMapper.xml"/>
		<!-- 商家下的操作员上机历史记录-->
		<mapper resource="mybatis/business/So_historyMapper.xml"/>
		<!-- 商家图片-->
		<mapper resource="mybatis/business/Store_imageMapper.xml"/>
		<!-- 商家班次-->
		<mapper resource="mybatis/business/Store_shiftMapper.xml"/>
		<!-- 商家银行卡-->
		<mapper resource="mybatis/business/Store_bankcardMapper.xml"/>
		<!-- 商家财富-->
		<mapper resource="mybatis/business/Store_wealthMapper.xml"/>
		<!-- 商家财富历史记录-->
		<mapper resource="mybatis/business/Store_wealthhistoryMapper.xml"/>
		<!-- 好友-->
		<mapper resource="mybatis/business/FriendMapper.xml"/>
		<!--商家VIP图片-->
		<mapper resource="mybatis/business/Store_vipMapper.xml"/>
		<!-- 业绩 -->
		<mapper resource="mybatis/business/Service_performanceMapper.xml"/>
		
		
<!-- *********************************************************************************** -->
		<!-- 梁秦2016-6-15（商家中心） -->
		<!-- 商家订单信息--> 
		<mapper resource="mybatis/storepc/LQOrderMapper.xml"/>

		<!-- 用户信息 -->
		<mapper resource="mybatis/storepc/LQMemberMapper.xml"/>
		<!-- 支付记录 -->
		<mapper resource="mybatis/storepc/LQPay_HistoryMapper.xml"/>
		<!-- 提现审批 -->
		<mapper resource="mybatis/storepc/LQWithdraw_ApprovalMapper.xml"/>
		<!-- 商家财富-->
		<mapper resource="mybatis/storepc/LQStore_WealthMapper.xml"/>
		<!-- 积分方式 -->
		<mapper resource="mybatis/storepc/LQStore_ScorewayMapper.xml"/>
		<!-- 注册商家信息-->
		<mapper resource="mybatis/storepc/LQStoreMapper.xml"/>
		<!-- 订单关联商品信息-->
		<mapper resource="mybatis/storepc/LQOrder_GoodsMapper.xml"/>
		<!-- 联盟信息表 -->
		<mapper resource="mybatis/storepc/LQStore_UnionMapper.xml"/>
		<!-- 商家财富历史 -->
		<mapper resource="mybatis/storepc/LQStore_WealthhistoryMapper.xml"/>
		<!-- 商家红包记录表 -->
		<mapper resource="mybatis/storepc/LQStore_RedpacketsMapper.xml"/>
		<!-- 用户VIP表 -->
		<mapper resource="mybatis/storepc/LQVIPMapper.xml"/>
		<!-- 好评表 -->
		<mapper resource="mybatis/storepc/LQCommentMapper.xml"/>
		<!-- 收藏表 -->
		<mapper resource="mybatis/storepc/LQStore_CollectMapper.xml"/>
		<!-- 人脉表 -->
		<mapper resource="mybatis/storepc/LQContactsMapper.xml"/>
		<!-- 商品大类表 -->
		<mapper resource="mybatis/storepc/LQGoods_CategoryMapper.xml"/>
		<!-- 商品表 -->
		<mapper resource="mybatis/storepc/LQGoodsMapper.xml"/>
		<!-- 商家档案表 -->
		<mapper resource="mybatis/storepc/LQStore_FileMapper.xml"/>
		<!-- 商家图片表 -->
		<mapper resource="mybatis/storepc/LQStore_ImageMapper.xml"/>
		<!-- 商家班次表 -->		
		<mapper resource="mybatis/storepc/LQStore_ShiftMapper.xml"/>
		<!-- 商家银行卡表 -->
		<mapper resource="mybatis/storepc/LQStore_BankcardMapper.xml"/>
		<!-- 商家分类表 -->
		<mapper resource="mybatis/storepc/LQStore_File_SortMapper.xml"/>
		<!-- 导流表 -->
		<mapper resource="mybatis/storepc/WhwDaoLiuMapper.xml"/>
  <!-- ************************************************************************************ -->

		<!-- 营销控台xml 邢江涛 -->
		<!-- 积分 -->
		<mapper resource="mybatis/storepc/XJTStorescoreWayModelMapper.xml"/>
		<!-- 红包 -->
		<mapper resource="mybatis/storepc/XJTStore_redpacketsMapper.xml"/>
		<!-- 折扣 -->
		<mapper resource="mybatis/storepc/XJTStore_discountwayMapper.xml"/>
		<!-- 滿贈 -->
		<mapper resource="mybatis/storepc/XJTStore_marketingtypeMapper.xml"/>
		<!-- 效果分析 -->
		<mapper resource="mybatis/storepc/XJTStore_marketingeffectMapper.xml"/>
		<!-- 我的营销 -->
		<mapper resource="mybatis/storepc/XJTStore_marketingMapper.xml"/>
		<!-- 支付 -->
		<mapper resource="mybatis/storepc/XJTStore_wayMapper.xml"/>
		<!-- 商品 -->
		<mapper resource="mybatis/storepc/XJTStoreapp_goodsMapper.xml"/>
		<!-- 红包使用条件 -->
		<mapper resource="mybatis/storepc/XJTSrp_userconditionMapper.xml"/>
		<!-- 商品 -->
		<mapper resource="mybatis/storepc/XJTGoods_Mapper.xml"/>
		<!-- 账户信息xml -->
		<!-- 积分充值  邢江涛-->
		<mapper resource="mybatis/storepc/XJTStore_wealthMapper.xml"/>
		<!-- 充值记录 -->
		<mapper resource="mybatis/storepc/XJTStoreWealthhistoryMapper.xml"/>
		<!-- 班次汇总 -->
		<mapper resource="mybatis/storepc/XJTStorepc_imageMapper.xml"/>
		<!-- 提现 -->
		<mapper resource="mybatis/storepc/XJTWithdrawalsMapper.xml"/>
		<!-- 账户设置 -->
		<mapper resource="mybatis/storepc/XJTStorepc_bankcardMapper.xml"/>
		
 		<!-- app地区 -->
		<mapper resource="mybatis/memberapp/AppPcdMapper.xml"/> 
		<!-- app城市档案 -->
		<mapper resource="mybatis/memberapp/AppCity_fileMapper.xml"/> 
		<!-- app端商家 -->
		<mapper resource="mybatis/memberapp/AppStoreMapper.xml"/> 
		<!-- app端商家营销参数 -->
		<mapper resource="mybatis/memberapp/AppStore_marketingMapper.xml"/> 
		<!--app红包记录-->
		<mapper resource="mybatis/memberapp/AppStore_redpacketsMapper.xml"/>
		<!-- app订单 -->
		<mapper resource="mybatis/memberapp/AppOrderMapper.xml"/>
		<!-- app评价 -->
		<mapper resource="mybatis/memberapp/AppCommentMapper.xml"/>
 		<!-- app商品信息 -->
		<mapper resource="mybatis/memberapp/AppGoodsMapper.xml"/>
		<!--会员-->
		<mapper resource="mybatis/memberapp/AppMemberMapper.xml"/>
		<!--我的积分-->
		<mapper resource="mybatis/memberapp/AppMember_wealthhistoryMapper.xml"/>
		<!--我的红包-->
		<mapper resource="mybatis/memberapp/AppMember_redpacketsMapper.xml"/>
		
		
		<!-- 商家app -->
		<!-- 操作员信息 -->
		<mapper resource="mybatis/storeapp/Storeapp_operatorMapper.xml"/>
		<!-- 流水记录 -->
		<mapper resource="mybatis/storeapp/Storeapp_wealthhistoryMapper.xml"/>
		<!-- 订单信息 -->
		<mapper resource="mybatis/storeapp/Storeapp_orderMapper.xml"/>
		
		
		
		<!-- 商家PC -->
 		
		<!-- 登录 -->
		<mapper resource="mybatis/storepc/XJTlogin.xml"/>
		<!-- 操作员信息 -->
		<mapper resource="mybatis/storepc/XJTStoreapp_operatorMapper.xml"/>
		<!-- 折线统计图 -->
		<mapper resource="mybatis/storepc/XJTStatisticalapp_chartMapper.xml"/>
		<!--我的好友-->
		<mapper resource="mybatis/memberapp/AppFriendMapper.xml"/>

		<!--商家会员 -->
		<mapper resource="mybatis/storepc/LyyMember_vipcardMapper.xml"/>
		<!--商家人脉 -->
		<mapper resource="mybatis/storepc/LyyFriendMapper.xml"/>
 
		<!-- 收银 -->
		<mapper resource="mybatis/storepc/XJTPayapp_historyMapper.xml"/>
		<!--提现-->
		<mapper resource="mybatis/memberapp/AppWithdraw_approvalMapper.xml"/>
		<!--支付记录-->
		<mapper resource="mybatis/memberapp/AppPay_historyMapper.xml"/>
		<!--我的银行卡管理-->
		<mapper resource="mybatis/memberapp/AppBankcardMapper.xml"/>
		<!--我的银行卡管理-->
		<mapper resource="mybatis/memberapp/AppShopCarMapper.xml"/>
		<!-- 通用xml -->
		<mapper resource="mybatis/memberapp/AppTongYong.xml"/>
		<!-- pc操作员 -->
		<mapper resource="mybatis/storepc/LyyOperator_fileMapper.xml"/>

		<!-- 会员pc -->
		<!-- 我的购物车 -->
		<mapper resource="mybatis/memberpc/XJTShopCarMapper.xml"/>
		<!-- 我的订单 -->
		<mapper resource="mybatis/memberpc/XJTOrderMapper.xml"/>
		<!-- 商家信息 -->
		<mapper resource="mybatis/memberpc/Storepc_fileMapper.xml"/>
		<!-- 通用xml -->
		<mapper resource="mybatis/memberpc/PcTongYong.xml"/>
		
		
		
		
		<!-- 桌号 -->
		<mapper resource="mybatis/storepc/XJTTableNumberMapper.xml"/>
		<!-- 报表 -->
		<mapper resource="mybatis/business/ReportFormMapper.xml"/>
		
		
		<!-- 一元夺宝 -->
		<!--一元夺宝xml -->
		<mapper resource="mybatis/oneyuan/OneYuanMapper.xml"/>
		
				
		<!-- 优选爆屏 -->
		<!--优选爆屏xml -->
		<mapper resource="mybatis/youxuan/YouXuanMapper.xml"/>
		
		
		<!--招商信息 -->
		<!--招商xml -->
		<mapper resource="mybatis/zhaoshang/ZhaoShangMapper.xml"/>
		
		
		<!--发票申请 -->
		<mapper resource="mybatis/fapiao/FaPiaoMapper.xml"/>
		
		<!-- 城市经理 -->
		<mapper resource="mybatis/business/CityManagerMapper.xml"/>
		
		
		
	
		<mapper resource="mybatis/tongyon/TYAllSortMapper.xml"/>	<!-- 通用模块 -->
		
		<!-- 微信端 -->
 		<mapper resource="mybatis/htmlwx/HtmlWxMapper.xml"/>
 		
	</mappers>
	
</configuration>