@import "predefine.css";

	td{
		padding: 0 6px;
	}

	.dask{
			display: none;
			width: 100%;
			height: 100%;
			position: fixed;
			z-index: 3;
		}
		.alert_xg{
			display: block;
		    position: fixed;
		    z-index: 10;
		    max-width: 700px;
		    max-height: 400px;
		    margin: auto;
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    background: #fff;
		    box-shadow: 0 0 20px #aaa;
		    border-radius: 13px;
		}
		.close{
			background: url(../../img/close.png);
			margin: 9px 9px 0 0 ;
			float: right;
		  	width: 38px;
		 	height: 38px;
		 	cursor: pointer;
		  	background-size: contain;
		}
		.alert_tit {
  			height: 20%;
  			line-height: normal;
  			text-align: center;
		}
		 .alert_tit span {
  			font-size: 20px;
  			display: block;
    		padding-top: 14px;
    		margin-bottom: 5px;
		}
		.one {
		  width: 80%;
		  margin: 0 auto ;
		  padding-top: 18px;
		  border-bottom: 1px solid #d2d2d2;
		}
		.al_body {
			height: 69%;
		}
		.al_body li{
			line-height: 1.6;
			padding-top: 15px;
		}
		.dgwp_list li{
			padding: 0;
		}
		.wth_box{
			position: relative;
		}
		.wth_box div{
			position: absolute;
			width: 96%;
			height: 96%;
			top: 0;
			left: 0;
			border: 2px solid #1187e2;
			background: #fff;
		}
		.go,.return{
			padding: 4px 10px;
			margin: 0 20px;
		}
		
		.closeto{
			text-align: center;
		}
		.tk_box{
			display: none;
			position: fixed;
			width: 100%;
			height: 100%;
		}
		.tk_box ul{
			width: 24%;
			height: 10%;
			border: 1px solid#ccc;
			background: #fff;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			margin: auto;
			border-radius: 4px;
		}


		.al_body tr td{
			border: 0;
			text-align: left;
			padding-left: 6%;
			line-height: 2.2;
			font-size: 15px;
		}
